.container{width: 1240px;margin: 0 auto;}
.toppic_mod{position:relative;background:#f7f7f7;box-shadow: 2px 0 3px 0 rgba(180, 180, 180, .4);border-width: 1px;border-style: solid;border-color: white;}
.toppic_mod .listBox{/*width:902px;height:700px;*/margin:0 auto;position:relative;padding:6px 0 10px;overflow:hidden;}
.toppic_mod .listBox ul{}
.toppic_mod .listBox li{
	width: 23.5%;
	height:200px;
	cursor:pointer;
	position:relative;
	margin-left: 1.1%;
}
.toppic_mod .listBox li a{display:block;}
.toppic_mod .listBox li img{width:100%;height:150px;}
.toppic_mod .listBox li span{display:none;}

