<!DOCTYPE HTML> <html> <head> <meta charset="UTF-8"> 
<title>动漫频道-高清动漫、动画片</title> 
<meta name="keywords" content="动漫,日本动漫,国产动画片,最新动漫,好看的动漫,动漫卡通" /> 
<meta name="description" content="动漫频道提供国产动画、日韩、欧美等最优质的动漫内容高清正版免费在线播放。致力带给用户最好的体验，最佳的视觉效果，最新热播的动漫视频都将在这里呈现" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
<meta property="qc:admins" content="666027777765676375" /> 
<meta property="wb:webmaster" content="397d9deb11aac29f" /> 
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}css/index_4464_4489.css">
<link type="text/css" rel="stylesheet" href="{maccms:path}images/jquery.autocomplete.css">
<link rel="shortcut icon" href="{maccms:path_tpl}images/favicon.ico" charset="utf-8" />
{maccms:include}
</head> 
 <body> 
{maccms:head}
<!--轮播开始-->
<div class="channel-change-pic clearfix" id="FocusMap" areacode="top_pic">
    <div class="channel-change-pic-l">
        <div class="channel-pic-con" id="switchB">
		{maccms:vod num=1 type={page:id} by=time level=5 order=desc}
            <a href="[vod:link]" class="linksVideo" target="_blank"></a>
		{/maccms:vod}
        </div>
        <div class="channel-pic-main">
            <div class="change-pic-shadow"></div>
            <div class="channel-pic-num clearfix">
                <div class="change-pic-l"></div>
                <div class="channel-pic-list-cover">
                    <ul class="change-pic-list">
					{maccms:vod num=8 type={page:id} by=time level=5 order=desc}
					<li>
					<a data-color="" data-pic="[vod:picslide]" data-value="[vod:contenttext len=80]" title="[vod:name]" href="[vod:link]" data-href="[vod:link]" data-status="[vod:remarks]" data-format="channel-pic-type02" data-type="[vod:typename]"  data-director="[vod:directed]"   data-actor="[vod:starring len=14]"  target="_blank" ><img alt="[vod:name]" src="[vod:pic]" onerror="javascript:this.src='{maccms:path}images/nopic.gif';" ><span id="1"></span></a>
					</li>
					{/maccms:vod}
					</ul>
                </div>
                <div class="change-pic-r"></div>
            </div>  
        </div>
    </div>
    <div class="channel-change-pic-r linksVideo">
    </div>
</div>
<!--轮播结束-->
<!--索引开始-->
<div class="fast-nav clearfix" areacode="listtag">
<dl class="channel-guide-con">
<dt class="channel-guide-tit">按地区</dt>
{maccms:area order=desc}
<dd><a href="[area:link]"  target="_blank">[area:name]</a></dd>
{/maccms:area}
</dl>
<dl class="channel-guide-con04">
<dt class="channel-guide-tit">按类型</dt>
{maccms:menu parent={page:id} order=desc}
 <dd><a href="[menu:link]" target="_blank"  title="[menu:name]">[menu:name]</a></dd>
 {/maccms:menu}
  </dl>
  <dl class="channel-guide-con05">
  <dt class="channel-guide-tit">按语言</dt>
  {maccms:lang order=desc}
  <dd><a href="[lang:link]" target="_blank"  title="[lang:name]">[lang:name]</a></dd>
  {/maccms:lang}
  </dl></div>
  <!--索引结束--
  ><!--通栏广告1 开始-->
  <div class="advertise960" id="ad_DY3" style="display:none">
  <script type="text/javascript" src="{maccms:path_tpl}ads/list1.js" charset="utf-8"></script>
  </div>
  <!--通栏广告1 结束-->
<!--暑期最爱开始-->
<div class="main-con" areacode="katong">
		<div class="cart-good-tit">儿童最爱</div>
	<ul class="cart-good-list clearfix">
				 				 		<li><a href="index.php?m=vod-search-wd-猫和老鼠" class="pic" target="_blank" title="猫和老鼠">
		<img src="{maccms:path_tpl}img/mao.jpg" alt="猫和老鼠"/>
		</a>
		<a href="index.php?m=vod-search-wd-猫和老鼠" class="text" target="_blank" title="猫和老鼠">
		猫和老鼠
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-蜡笔小新" class="pic" target="_blank" title="蜡笔小新">
		<img src="{maccms:path_tpl}img/labi.jpg" alt="蜡笔小新"/>
		</a>
		<a href="index.php?m=vod-search-wd-蜡笔小新" class="text" target="_blank" title="蜡笔小新">
		蜡笔小新
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-哆啦A梦" class="pic" target="_blank" title="哆啦A梦">
		<img src="{maccms:path_tpl}img/jiqimao.jpg" alt="哆啦A梦"/>
		</a>
		<a href="index.php?m=vod-search-wd-哆啦A梦" class="text" target="_blank" title="哆啦A梦">
		哆啦A梦
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-大头儿子" class="pic" target="_blank" title="大头儿子">
		<img src="{maccms:path_tpl}img/datou.jpg" alt="大头儿子"/>
		</a>
		<a href="index.php?m=vod-search-wd-大头儿子" class="text" target="_blank" title="大头儿子">
		大头儿子
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-喜羊羊" class="pic" target="_blank" title="喜羊羊">
		<img src="{maccms:path_tpl}img/yang.jpg" alt="喜羊羊"/>
		</a>
		<a href="index.php?m=vod-search-wd-喜羊羊" class="text" target="_blank" title="喜羊羊">
		喜羊羊
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-倒霉熊" class="pic" target="_blank" title="倒霉熊">
		<img src="{maccms:path_tpl}img/xiong.jpg" alt="倒霉熊"/>
		</a>
		<a href="index.php?m=vod-search-wd-倒霉熊" class="text" target="_blank" title="倒霉熊">
		倒霉熊
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-奥特曼" class="pic" target="_blank" title="奥特曼">
		<img src="{maccms:path_tpl}img/man.jpg" alt="奥特曼"/>
		</a>
		<a href="index.php?m=vod-search-wd-奥特曼" class="text" target="_blank" title="奥特曼">
		奥特曼
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-樱桃小丸子" class="pic" target="_blank" title="樱桃小丸子">
		<img src="{maccms:path_tpl}img/wan.jpg" alt="樱桃小丸子"/>
		</a>
		<a href="index.php?m=vod-search-wd-樱桃小丸子" class="text" target="_blank" title="樱桃小丸子">
		樱桃小丸子
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-海绵宝宝" class="pic" target="_blank" title="海绵宝宝">
		<img src="{maccms:path_tpl}img/haimian.jpg" alt="海绵宝宝"/>
		</a>
		<a href="index.php?m=vod-search-wd-海绵宝宝" class="text" target="_blank" title="海绵宝宝">
		海绵宝宝
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-米奇妙妙屋" class="pic" target="_blank" title="米奇妙妙屋">
		<img src="{maccms:path_tpl}img/miqi.jpg" alt="米奇妙妙屋"/>
		</a>
		<a href="index.php?m=vod-search-wd-米奇妙妙屋" class="text" target="_blank" title="米奇妙妙屋">
		米奇妙妙屋
		</a>
		</li>
						 		<li><a href="index.php?m=vod-search-wd-熊出没" class="pic" target="_blank" title="熊出没">
		<img src="{maccms:path_tpl}img/xiongda.jpg" alt="熊出没"/>
		</a>
		<a href="index.php?m=vod-search-wd-熊出没" class="text" target="_blank" title="熊出没">
		熊出没
		</a>
		</li>
				
	</ul>
</div>
<!--暑期最爱结束-->

<!--两栏结构开始-->
{maccms:matrix parent={maccms:curvodtypeid} table=vod order=asc}
<div class="main-con clearfix" areacode="bankuai1">
	<div class="cart-main-l">
																										   		<div class="cart-top-con clearfix">
			<h2 class="net-topic">最新[matrix:name]</h2>
			<div class="net-topic-more-text"><a href="[matrix:link]" title="更多" target="_blank">更多>></a></div>
		</div>
		<div class="mic-video-section-con clearfix">
			<div class="mic-video-hot-l">
				<div class="cart-video-top">
				{maccms:vod num=1 type=[matrix:id] by=time order=desc}
					<div  class="cart-pic-src js-collect fv-cut" data-name="[vod:name]"  data-id="[vod:id]">  
						<p><a href="[vod:link]" target="_blank" title="[vod:name]">	
						<img src="[vod:pic]" onerror="javascript:this.src='{maccms:path}images/nopic.gif';" alt="[vod:name]"></a>
						<em 							class="hot-pic-type01"
														>							
							</em>
						</p>
						<p class="hot-pic-shadow"></p>
						<p class="hot-pic-fv">
							<a class="fv-add-no" href="javascript:void(0);" title="收藏"></a>
						</p>
						<p class="hot-pic-text">
						<a href="[vod:link]" title="[vod:name]" target="_blank" >[vod:remarks]</a></p>	

					</div>
					<p class="hot-pic-tit clearfix">
					<a href="[vod:link]" target="_blank" title="[vod:name]" class="hot-pic-name" >
					[vod:name]
					</a></p>
					<p class="hot-pic-tip">[vod:contenttext len=10]</p>
				</div>
				{/maccms:vod}
				<ul class="cart-video-list01 clearfix">
				 				 				 					{maccms:vod num=8 type=[matrix:id] by=time order=desc start=6}
																	
																	<li><a href="[vod:link]" title="" target="_blank" title="[vod:name]">[vod:name len=10]</a></li>
						 					{/maccms:vod}
						 				 				 				 				 				 				 				 				 				 						</ul>
			</div>
			<div class="mic-video-section-r">
				<ul class="cart-video-poster02 clearfix">
		 				 				{maccms:vod num=4 type=[matrix:id] by=time order=desc start=2} 				 				 				 				 				 				 				 				 				 				<li>
				    <div class="hot-pic-like js-collect fv-cut" data-name="[vod:name]"  data-id="[vod:id]">
                    <p><a class="poster-src" href="[vod:link]" target="_blank" title="[vod:name]">
                    <img width=135 height=101  src="[vod:pic]"  onerror="javascript:this.src='{maccms:path}images/nopic.gif';"  alt="[vod:name]" /></a>
                     <em class="hot-pic-type01"
>720P
</em></p>

					<p class="hot-pic-shadow"></p>
					<p class="hot-pic-fv">
						<a class="fv-add-no" href="javascript:void(0);" title="收藏"></a>
					</p><p class="hot-pic-text"><a href="[vod:link]" title="[vod:name]" target="_blank" >[vod:remarks]</a></p>				</div>
                    <p class="hot-pic-tit clearfix">
                    
                    <a href="[vodllist:link]"  target="_blank" class="hot-pic-name" title="[vod:name]">[vod:name len=10]</a>
                    </p>
                    <p class="hot-pic-tip">[vod:contenttext len=10]</p>
                </li> 
						 				{/maccms:vod}
						 				 				 				 				 				 						</ul>
				<ul class="cart-video-list04">
				{maccms:vod num=6 type=[matrix:id] by=time order=desc start=14}
				<li><a href="[vod:link]" title="" target="_blank" title="[vod:name]">[vod:name len=10]</a></li>
				{/maccms:vod}
				</ul>
			</div>
		</div>
	</div>
	<div class="cart-main-r">
			<div class="cart-top-con clearfix">
			<h2 class="net-topic">[matrix:name]月热播榜</h2>
			<div class="net-topic-more-text"><a href="[matrix:link]" title="更多" target="_blank">更多&gt;&gt;</a></div>
		</div>
		<ul class="cart-video-list05">
		{maccms:vod num=3 type=[matrix:id] by=monthhits order=desc}
		<li>
				<p class="pic"><a href="[vod:link]"><img src="[vod:pic]" onerrer="{maccms:path}images/nopic.gif" title="[vod:name]" target="_blank" /></a></p>
				<p class="text">
					<a href="[vod:link]" title="[vod:name]" target="_blank">[vod:name len=10]</a>
					<span>[vod:contenttext len=20]</span>
				</p>
			</li>
			{/maccms:vod}
						 			</ul>
		<ul class="cart-video-list06 clearfix">
		{maccms:vod num=12 type=[matrix:id] by=monthhits order=desc start=4}
		<li><a href="[vod:link]" title="[vod:name]"  target="_blank">[vod:name len=10]</a></li>
		{/maccms:vod}
						</ul>
	</div>
</div>
{/maccms:matrix}
<!--两栏结构结束-->

<!--返回顶部开始-->
<div class="to-top" id="goTop" areacode="gotop">
	<a href="?m=vod-type-id-2.html" title="电视剧">电视剧</a>
	<a href="?m=vod-type-id-1.html" title="电影">电影</a>
	<a href="?m=vod-type-id-4.html" title="动漫">动漫</a>
	<a href="?m=vod-type-id-3.html" class="last" title="综艺">综艺</a>
	<a href="#" class="go-top">回到顶部</a>
</div>
<!--返回顶部结束-->
{maccms:foot}
<script src="{maccms:path_tpl}js/channel_4489.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    hd.channel(8);
</script> 
</body>
</html>