<!--版权部分开始-->
 <!--页脚-->
  <div class="footer"> 
  <p class="links"> 
  <strong>友情链接：</strong> 
  <a href="http://bbs.muban.so" target="_blank">搜模板</a>| 
  {maccms:link type=all by=sort order=asc}
  <a href="[link:link]" target="_blank">[link:name]</a>| 
  {/maccms:link}
  </p> 
 <p><a href="http://bbs.muban.so" target="_blank">官方论坛</a>|<a href="#" target="_blank">加入我们</a>|<a href="#" target="_blank">联系我们</a> |<a href="{maccms:path}" target="_blank">看电影</a>|<a href="{maccms:path}baidu.xml" target="_blank">百度地图</a>|<a href="{maccms:path}google.xml" target="_blank">谷歌地图</a></p> <p><a href="{maccms:url}">{maccms:name}</a> 联系QQ：{maccms:qq} 联系邮箱：{maccms:email}</p> <p>备案信息：{maccms:icp}</p> <p>网站统计：{maccms:visits}</p>
 </div> 
 <!--页脚 end--> 
<!--版权部分结束-->