body{background-color:#fff;font-family:'\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';}
.area{width:978px;margin-left:auto;margin-right:auto;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, time, tt, u, ul, var, video, xmp {border: 0;margin: 0;padding: 0;font-size: 100%;}
/* ========================================================================= */
/* focus */
/* bg-big */
.bg-big-01{background:url("img/bg-big-01.gif") no-repeat center top;}
.bg-big-02{background:url("img/bg-big-02.gif") no-repeat center top;}
.bg-big-03{background:url("img/bg-big-03.gif") no-repeat center top;}
.bg-big-04{background:url("img/bg-big-04.gif") no-repeat center top;}
.bg-big-05{background:url("img/bg-big-05.gif") no-repeat center top;}
/* */
.focus-bg{background:url("img/focus-xb01.gif") repeat-x center top;}
.focus{height:487px;}
.focus .focus-wrap{width:978px;height:487px;}
.focus .focus-wrap .cons{width:978px;height:450px;overflow:hidden;}
.focus .focus-wrap .con{float:left;display:inline;width:978px;}
.focus .focus-wrap .pt{float:left;display:inline;width:978px;height:450px;overflow:hidden;display:none;position:absolute;*margin-top:-1px;}
.focus .focus-wrap .current{display:block;}
.focus .focus-wrap .pt img{width:978px;height:450px;display:block;}
.focus .focus-wrap .pt .link-wrap{width:126px;height:52px;position:relative;z-index:1;display:none;}
.focus .focus-wrap .pt_cur .link-wrap{display:block;}
.focus .focus-wrap .pt .link-wrap span,
.focus .focus-wrap .pt .link-wrap em{display:inline-block;height:52px;overflow:hidden;}
.focus .focus-wrap .pt .link-wrap a{display:inline-block;width:100%;height:100%;}
.focus .focus-wrap .pt .link-wrap span{width:121px;}
.focus .focus-wrap .autoS{width:140px;height:18px;margin:10 auto;padding:10px 0 0;overflow:hidden;}
.focus .focus-wrap .autoS li{float:left;display:inline;margin:0 5px;cursor:pointer;width:18px;height:18px;font-size:0;overflow:hidden;background:url("img/focus-b02.gif") no-repeat;}
.focus .focus-wrap .autoS li.libg{background:url("img/focus-b01.gif") no-repeat;}


/* 焦点图 begin */
body{background:#ccc;}
.FocusPic {width:960px; margin:10px; height:430px;position:relative;zoom:1;overflow:hidden;}
.FocusPic .FP_angle{width:7px;height:7px;overflow:hidden;font-size:0;line-height:0;position:absolute;z-index:10;}
.FocusPic .FP_arr_left{width:13px;height:25px;position:absolute;z-index:8;top:145px;left:5px;background:url(images/p_w_06.gif) no-repeat 0 0;filter:Alpha(Opacity=80);opacity:.8;cursor:pointer;}
.FocusPic .FP_arr_right{width:13px;height:25px;position:absolute;z-index:8;top:145px;right:5px;background:url(images/p_w_06.gif) no-repeat -200px 0;filter:Alpha(Opacity=80);opacity:.8;cursor:pointer;}
.FocusPic .FP_NumList{position:absolute;right:20px;bottom:7px;zoom:1;overflow:hidden;z-index:9;}

.FocusPic .FP_NumList span{float:left;padding:0px 5px;margin-left:10px;display:inline;background:#000;color:#fff;font-family:Arial, Helvetica, sans-serif;cursor:pointer;}

.FocusPic .FP_NumList span.selected{background:#fff;color:#000;}

.FocusPic .FP_pic{width:960px;height:430px;overflow:hidden;float:left;}
.FocusPic .FP_pic .FP_tit_bg{height:40px;width:100%;margin-top:-55px;background:#000;filter:Alpha(Opacity=30);opacity:.3;}
.FocusPic .FP_pic .FP_tit_txt{line-height:36px;padding-left:18px;margin-top:-40px; font-size:5px; font-weight:bold; font-family:"";color:#fff;position:relative;*position:static;}
.FocusPic .FP_pic .FP_tit_ico{width:11px;height:15px;margin:-22px 0 0 7px;overflow:hidden;font-size:0;line-height:0;position:relative;*position:static;}
.FocusPic .FP_pic a:link,.FP_pic a:visited{color:#fff;text-decoration:none;}
.FocusPic .FP_pic a:hover{text-decoration:underline;}
/* 焦点图 end */
/* 酷站代码整理 http://www.5icool.org */
p,p a{color:#666;font-size:12px;}