<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script type="text/javascript">var Root='{maccms:path}';var Sid='';var Cid='';var Id='';</script>
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon-precomposed">
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon">
<link href="{maccms:path_tpl}/css/global.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}/css/font_css.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{maccms:path_tpl}js/home.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/zepto.js"></script>