<footer class="footer">
  <p class="pLinks"><a href="{maccms:getlink dy.html}">排行榜</a>|<a href="{maccms:link_gbook}">用户反馈</a>|<a href="javascript:scroll(0,0)" target="_self">返回顶部</a></p>
  <p class="copyRight">Copyright &copy; {maccms:icp} 
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261068293'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261068293' type='text/javascript'%3E%3C/script%3E"));</script> </p>
</footer>
</div>
<section class="fixedBtnList" style="display:none;"> <a class="gotoTop" target="_self" href="javascript:scroll(0,0)"></a> <a class="aFeedBack" href="{maccms:link_gbook}"></a> </section>

<!--<script type="text/javascript" src="{maccms:path_tpl}/js/jquery-1.7.2.min.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/jquery.cookie.min.js"></script>
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/md5.min00.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/login00.min.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/iscroll.js"></script>
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/hot_word00.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/common.min.1027.js"></script>