<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>《[vod:name]》- {maccms:name}</title>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<meta content="[vod:contenttext len=150]..." name="Description">
<meta content="[vod:name]全集，[vod:name]在线观看，[vod:name]快车下载，[vod:name]详细资料，[vod:name]海报，[vod:name]上映日期" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta content="{maccms:name}" name="apple-mobile-web-app-title">
{maccms:include}
<link href="{maccms:path_tpl}/css/play.common.v2.css" rel="stylesheet" type="text/css">
</head><body>
<div class="wrapper">
<div class="mask" id="mask_box"></div>
<header class="headerbar">
      <section class="headBox">
        
        <a href="javascript:history.go(-1)" title="" class="zui-action-back zui-icon iconfont icon-fanhui pull-left"></a>
        <h1 class="type-title">[vod:typename]</h1>
        <a href="http://m.aikanbukan.xyz" rel="nofollow" class="app_down pull-right">
          <span>下载APP</span></a>
        <a href="/" rel="nofollow" class="zui-icon iconfont icon-lishijilu pull-right"></a>
        <a href="/index.php?m=vod-search" rel="nofollow" class="zui-icon iconfont icon-sousuo pull-right"></a>
      </section>
    </header>
<nav class="subNav globalPadding index_menu_top" id="nav_menu" style="display:none;">
  <div class="con clearfix">
    <p class="headRight"> 
    	 <a{if-A:{maccms:siteaid}=10} class="cur"{endif-A} href="{maccms:path}" onclick="_dct_('dh_m_index2');" target="_self">首页</a>
  {maccms:menu type=parent order=asc table=vod}<a {if-A:{maccms:curvodtypeid}=[menu:id]}class="cur" {endif-A}href="[menu:link]" {if-A:[menu:id]=1}onclick="_dct_('dh_m_dy2');"{endif-A}{if-A:[menu:id]=2}onclick="_dct_('dh_m_dsj2');"{endif-A}{if-A:[menu:id]=4}onclick="_dct_('dh_m_dm2');" {endif-A}{if-A:[menu:id]=3}onclick="_dct_('dh_m_ze2');"{endif-A}{if-A:[menu:id]=18}onclick="_dct_('dh_m_vip2');"{endif-A}{if-A:[menu:id]=36}onclick="_dct_('dh_m_vdy2');"{endif-A} target="_self" >[menu:name]</a>
  {/maccms:menu} 
    	</p>
  </div>
</nav>
<div class="loginPop" style="display:none;">
  <ul class="ulForm clearfix">
    <li><span class="sInput"><i class="iIcon iUserName"></i>
      <input type="text" id="username" name="username" class="inputTxt formInput" maxlength="24" placeholder="请输入用户名">
      </span></li>
    <li><span class="sInput"><i class="iIcon iPassWord"></i>
      <input type="password" id="password" name="password" class="inputTxt formInput" placeholder="请输入密码">
      </span></li>
    <li><span class="sInput sInputA"><i class="iIcon iCaptchaIcon"></i>
      <input type="text" name="captcha" maxlength="2" class="inputTxt formInput" placeholder="请输入验证码" id="captcha">
      </span><span class="sCaptchaPic"><img width="70" height="34" id="captchaImg" src=""></span><i class="iChange" id="changeBtnId"></i></li>
    <li style="display:none;"><span class="sError"></span></li>
    <li><a id="sublogin" class="userBtnStyle userBtnStyleA" href="javascript:void(0);">登录</a></li>
    <li>
      <p class="pBtn clearfix"><a href="" target="_self" class="left">忘记密码？</a><a href="" target="_self" class="right">立即注册</a></p>
    </li>
    <li class="thirdParty"> <span class="sTit">使用第三方帐号，一键登录。</span>
      <div class="list clearfix" id="oathLoginList"></div>
    </li>
  </ul>
</div>
<ul id="index_menu_box" class="navMenu clearfix" style="display:none;">
  <li><a{if-A:{maccms:siteaid}=10} class="cur"{endif-A} href="{maccms:path}" onclick="_dct_('dh_m_index2');" target="_self"><img src="{maccms:path_tpl}images/rankIcon.png"><span>首页</span></a></li>
  {maccms:menu type=parent order=asc table=vod}<a {if-A:{maccms:curvodtypeid}=[menu:id]}class="cur" {endif-A}href="[menu:link]" {if-A:[menu:id]=1}onclick="_dct_('dh_m_dy2');"{endif-A}{if-A:[menu:id]=2}onclick="_dct_('dh_m_tv2');"{endif-A}{if-A:[menu:id]=4}onclick="_dct_('dh_m_dm2');" {endif-A}{if-A:[menu:id]=3}onclick="_dct_('dh_m_ze2');"{endif-A}{if-A:[menu:id]=18}onclick="_dct_('dh_m_vip2');"{endif-A}{if-A:[menu:id]=36}onclick="_dct_('dh_m_vdy2');"{endif-A} target="_self" ><img src="{maccms:path_tpl}images/rankIcon.png"><span>[menu:name]</span></a>
  </li>
  {/maccms:menu}
  <li><a href="{maccms:getlink dy.html}" onclick="_dct_('dh_m_phb2');"><img src="{maccms:path_tpl}images/rankIcon.png"><span>排行榜</span></a></li>
  <li></li>
</ul>
<section class="main">
  <div class="detailPosterIntro globalPadding clearfix" style="width:100%;height:100%;">
 [vod:playerinfo]
	[vod:player]
  </div>
  <p style="background-color: #FF6E76;color: #FFFFFF;padding-top: 0.4rem; padding-left: 0.75rem; padding-right: 0.75rem;margin:0; font-size: .7rem; font-size: .6rem;padding-bottom: 0.35rem;">如等待10秒以上播放器还没出现请从新点击播放或者刷新即可观看关注《余秋》微信公众号《余秋》以便获得最新资源。</p>
<div class="hed">
              <h1 class="title">[vod:name]</h1>
</div>
<section class="mod-btn">
            <a style="color:#FFF" rel="nofollow" href="m.aikanbukan.xyz">老司机已经加群看抢先视频啦，你还在等什么？GO</a>
</section>
  <div class="tab globalPadding">
    <ul class="tabNav clearfix" id="detail_tab_nav">
      <li><span class="cur">剧集</span></li>
      <li><span >简介</span></li>
      <li><span >评论</span></li>
    </ul>
  </div>
  <div class="tabConList globalPadding">
    <div class="tabCon" style="display:block">
      <div class="boxCon boxConBgNone numChoice">
        <div class="boxConMargin" id="episode_tab">
          <div class="boxConWidth clearfix">
            <p>{maccms:play order=asc}<span {if-A:[play:num]=1}class="cur"{endif-A}>[play:show]</span>{/maccms:play}</p>
          </div>
        </div>
        <i class="iArrowTips" style="display:none;"><em></em></i> </div>
      {maccms:play order=asc}
      <!--<ul class="dramaNumList clearfix"{if-A:[play:num]> 1} style="display:none;"{endif-A}>-->
	  <ul class="dramaNumList {if-A:{maccms:curvodtypeid}=3}dramaNumList3{endif-A} clearfix"{if-A:[play:num]> 1} style="display:none;"{endif-A}" >
        {if-A:strstr("[play:show]","优酷视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
        {if-A:strstr("[play:show]","腾讯视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","乐视视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","奇艺视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","土豆视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","芒果TV")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","搜狐视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","pptv")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","芒果VIP")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","乐视VIP")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","优酷VIP")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","奇艺VIP")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
		{if-A:strstr("[play:show]","优酷云")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
        {if-A:strstr("[play:show]","秒拍视频")}{maccms:url order=desc }
        <li><a data-episode="[url:num]" data-href="[url:link]" href="[url:link]" rel="nofollow">[url:name]{if-B:[url:num]=[play:urlcount]}<i class="iNewIcon"></i>{endif-B}</a></li>
        {/maccms:url}{endif-A}
      </ul>
      {/maccms:play} </div>
    <div class="tabCon tabautomargin"  style="display:none">
      <ul class="ulIntroTxt globalPadding clearfix" id="movie_info_ul">
       <li class="liTit"><a href="javascript:void(0);" onclick="MAC.UserFav('[vod:id]');return false;" class="collectBtn" rel="nofollow" ><i class="iIcon"></i>收藏</a><span class="sTit">[vod:name]</span></li>
        <li class="liHalf">{if-A:{maccms:curvodtypeid}=3}<span class="sTit">播出：</span>{else-A}<span class="sTit">导演：</span>{endif-A}<em>[vod:directed]</em></li>
        <li class="liHalf"><span class="sTit">地区：</span><em>[vod:area]</em></li>
        <li>{if-A:{maccms:curvodtypeid}=3}<span class="sTit">主持：</span>{else-A}<span class="sTit">主演：</span>{endif-A}<em>[vod:starring]<em></li>
        <li><span class="sTit">类型：</span><em>[vod:typename]</em></li>
      </ul>
      <p class="pSummary globalPadding" id="intro_0"><em>摘要：</em>[vod:contenttext]</p>
    </div>
  </div>
  <div class="tabCon tabautomargin" style="display:none">
    <div class="ui-titlej" style="width:98%; margin-top:10px; padding:5px 1%; font-weight:bold; color:#333; font-size:14px;">
      <h3><strong style="color:#F93;">[vod:name]</strong>网友评论</h3>
    </div>
    <div style="width:98%; padding:0 1%;"><!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2041115"></script>
<!-- UY END --></div>
  </div>
</section>

{maccms:foot}
</div>
<section class="fixedBtnList" style="display:none;"> <a class="gotoTop" target="_self" href="javascript:scroll(0,0)"></a> <a class="aFeedBack" href="{maccms:link_gbook}"></a> </section>

<!--<script type="text/javascript" src="{maccms:path_tpl}/js/jquery-1.7.2.min.js"></script>-->
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/slide.js"></script>-->
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/md5.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/login.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/iscroll.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/hot_word.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/common.min.1027.js"></script>-->
<script type="text/javascript" >$(function(){$(function(){$(window).scroll(function(){if($(window).scrollTop()>100){$(".fixedBtnList").fadeIn(1500)}else{$(".fixedBtnList").fadeOut(1500)}});$("#back-to-top").click(function(){$("body,html").animate({scrollTop:0},1000);return false})})});</script>
<!--<script type="text/javascript"> var system = { win: false, mac: false, xll: false }; var p = navigator.platform; system.win = p.indexOf("Win") == 0; system.mac = p.indexOf("Mac") == 0; system.x11 = (p =="X11") || (p.indexOf("Linux") == 0); if (system.win || system.mac || system.xll) {window.location.href ="http://www.jiegeys.com/";} else {}</script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/iscroll-lite.5.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/detail.min.1028.js"></script>
</body>
</html>
