<div class="footer mb-r clearfix">
                          <div class="wrap">
                            <p>{maccms:name} 网络大自然的搬运工 如果有侵犯您的权益 求邮件告知</p>
                            <p>若本站收录的节目无意侵犯了贵司版权，请给{maccms:email}邮箱地址来信，我们会及时删除处理。</p>
                            <p>Copyright ©2016-
                              <a href="http://{maccms:url}">{maccms:name}</a>·
                              {maccms:visits}
                              <a href="{maccms:link_map_baidu}" target="_blank">百度地图</a>·
                              <a href="{maccms:link_map_google}" target="_blank">google地图</a>·
                              <a href="{maccms:link_map_rss}" target="_blank">rss订阅</a></p>
                          </div>
                        </div>
                        <div class="gotop">
                          <a class="ico gotopbg" href="javascript:;" title="返回顶部"></a>
                        </div>