<div class="footer">
<div class="footer_c">
<div class="footer_r_nav">
<a href="{maccms:getlink new.html}" target="_blank" title="最近更新">最近更新</a>|<a href="{maccms:getlink hot.html}" target="_blank" title="排行榜">排行榜</a>|<a target="_blank" href="{maccms:link_gbook}" rel="nofollow">意见反馈</a>|<a href="{maccms:link_map_vod}" target="_blank" title="网站地图">网站地图</a>|<a href="{maccms:link_map_baidu}" target="_blank" title="RSS订阅">百度地图</a>|<a href="{maccms:link_map_google}" target="_blank" title="RSS订阅">谷歌地图</a>|<a href="{maccms:link_map_rss}" target="_blank" title="RSS订阅">RSS订阅</a>
</br>
</br>
免责声明
</br>
<span>2013-2014 {maccms:url} Inc. All Rights Reserved. <a href="http://{maccms:url}" target="_blank">电影网</a></span><span>统计代码</span>
</div></div></div>