
/*视频顶踩图标*/
a.digg_vodup{background:url('../images/home/digg_vod.gif') no-repeat 0px -4px; padding-left:16px;}
a.digg_voddown{background:url('../images/home/digg_vod.gif') no-repeat 0px -24px; padding-left:16px;}

/*文章顶踩图标*/
.digg{ width:400px; margin:0px auto; clear:both; padding:10px 0px; overflow:hidden}
.digg_artup, .digg_artdown {background:url('../images/home/digg_art.gif') no-repeat -189px 0;border:0;cursor:pointer;float:left;height:48px;margin:0;overflow:hidden;padding:0;position:relative;width:189px;}
#digg_artup_num, #digg_artdown_num {color:#333333;font-family:arial;font-size:10px;font-weight:400;left:70px;line-height:12px;position:absolute;top:30px;}
.digg_bar {background-color:#FFFFFF;border:1px solid #40A300;height:5px;left:9px;overflow:hidden;position:absolute;text-align:left;top:32px;width:55px;}
.digg_bar div{background:transparent url('../images/home/digg_art_bg.gif') repeat-x scroll 0 -265px;height:5px;overflow:hidden;width:0px}
.digg_artdown {background-position:-378px 0;margin-left:10px;}
.digg_artdown .dig_bar {border-color:#555555;}
.digg_artdown .dig_bar div{background-position:0 -270px;}

/*搜索下拉*/
.ac_results {border:1px solid #999999;background-color:white;overflow:hidden;z-index:99999;margin:0;padding:0;text-align:left;border-top:0 none;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results li {margin: 0px;padding: 2px 5px;cursor: default;display: block;font: menu;font-size: 12px;line-height: 25px;overflow: hidden;}
.ac_loading {background: white right center no-repeat;}
.ac_odd {background-color: #eee;}
.ac_over {background-color: #0A246A;color: white;}


/*历史记录*/
.history_box{position: absolute;left: -125px;top: 50px; background:url(../images/history_top.jpg) no-repeat 0px 0px; width:200px;height:250px;display:block; overflow:hidden;border:0 none;}
.history_box dt{text-align: right;padding-right: 5px;height: 24px;line-height: 24px;border-bottom: 1px solid #F9F9F9;cursor: pointer; margin-top:8px;width:200px;}
.history_box dd,.history_box li{clear: both;height: 24px;line-height: 24px;text-overflow: ellipsis;white-space: nowrap; margin-left:1px; border-bottom:1px dashed #EEE; margin-right:1px;width:200px;}
.history_box dd a{ display:block;padding-left:10px;}
.history_box dd.even {background-color: #eee;}
.history_box dd a:hover{background-color: #acacac;color: white;}


.quick_history,.quick_attention{display: block;_width: 26px;height: 28px;padding: 0 1px;cursor: pointer;-webkit-transition: height .2s ease;-moz-transition: height .2s ease;transition: height .2s ease;}