.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
body .fn-clear {*zoom:1;*clear:both;}
body .fn-hide {display:none;}
.aleft, .aright {display:inline;}
.aleft {float:left;}
.aright {float:right;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
.h-clear{ height:8px; clear:both;}
.clear{clear:both;}
/*排行榜*/
.w720{ width:920px;}
.w252{ width:252px;}
.w250{ width:250px;}
.w718{ width:918px;}
.wrapper { font-size: 14px; background:#fff url(images/bodyLineRepeatBg.png) 0 0 repeat-x; padding-top: 33px; padding-bottom: 45px;}
.main { background-color: #fff; margin: 0 auto; padding-top: 0;}
.ui-box {margin-top:10px;border:1px solid #ddd;background-color:#fff;overflow: hidden;}
.ui-boxx{margin-top: 10px;background-color: #fff;}
.filter-nav{float: left;width: 122px;overflow: hidden;font-size: 14px;	text-align: center;background-color: #f4f4f4;}
.filter-nav h3{font-weight: 700;height: 30px;line-height: 30px;overflow: hidden;color: #AE172E;padding: 5px 16px;background-color: #f3f3f3;}
.filter-nav ul{ padding-left:8px; padding-right:8px;}
.filter-nav ul  a{background-color: #f9f9f9;display: block;border-radius: 2px; height: 30px;line-height: 30px;overflow: hidden; margin-bottom:10px}	
.filter-nav ul  a:hover,.filter-nav ul  a.current{text-decoration: none;background-color:#0aa770;color:#FFF}
/*排行榜*/
.sg-w980 .top-item-right{background-color: #fff; width:860px;}
.top-item-right{background-color: #fff; width:1060px;}
.top-item-box {overflow:hidden;}
.top-item-box .top-title {overflow:hidden;height:42px;line-height:42px;background-color: #f7f7f7;margin-top: 0;margin-bottom: 0;padding-top: 0;padding-right: 10px;padding-bottom: 0;padding-left: 15px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #e5e5e5;}
.top-item-box .top-title h3, .top-item-box .top-title h2 a {font-size:16px;font-weight:700;color:#AE172E;}
.top-item-box .top-title h2{height:35px;line-height:37px;font-size:16px;font-weight:700;color:#AE172E;}
.top-item-box .top-title span {font-size:14px;float:right;}
.top-item-box .top-title span a {padding-right:20px;background:url(images/more.gif) right 0 no-repeat;}
.ui-top-tab {float:right;}
.ui-top-tab li {float:left;height:42px;line-height:42px;margin-top:4px;overflow:hidden;}
.ui-top-tab a {color:#333;display:block;height:42px;font-size:14px;overflow:hidden;float:left;padding-top: 0;padding-right: 17px;padding-bottom: 0;padding-left: 17px;}
.ui-top-tab a:hover {color:#fff;text-decoration:none;background-color:#333;}
.ui-top-tab li.current a, .ui-top-tab li.current a:hover {color:#AE172E;font-weight:700;background-color:#fff;}
.sg-w980 .top-item {width:270px;height:400px;overflow:hidden;float:left;margin-top:16px;padding-top: 0;padding-right: 1px;padding-bottom: 0;padding-left: 15px;}
.top-item {width:325px;height:400px;overflow:hidden;float:left;margin-top:16px;padding-top: 0;padding-right: 15px;padding-bottom: 0;padding-left: 12px;}
.top-item h3 {color:#333;height:35px;line-height:35px;overflow:hidden;font-size:14px;font-weight:700;}
.top-list li, .top-list-detail li{*float:left;*clear:both;width:250px;height:35px;line-height:33px;overflow:hidden;border-width:1px 0 0 0;border-style:dotted;border-color:#e0e0e0;background-color:#fff;}
.top-list li h3{font-weight: normal;}
.top-list li a {display:block;width:100%;height:35px;overflow:hidden;color:#666;}
.top-list li a:hover {text-decoration:none;color:#333;background-color:#fcfcfc;}
.top-list li a:hover .tit {color:#AE172E;text-decoration:underline;}
.top-list .num, .top-list .tit, .top-list .score, .top-list .hits, .top-list-detail span {font-size:14px;display:block;float:left;height:35px;overflow:hidden;}
.top-list .num, .top-list-detail .num {font-size:13px;font-style:italic;font-weight:700;text-align:center;width:23px;margin-right:3px;}
.top-list .stress, .top-list-detail .stress,.top-list li .score{color:#AE172E;}
.top-list .tit {color:#333;width:165px;font-size:12px;cursor:pointer;}
.top-list .score, .top-list .hits {float:right;text-align:right;}
.top-list li .hits {color:#999;}
.ui-top-tab-item {display:none;padding:10px 20px;}
.ui-top-tab-item-current {display:block;}
.top-list-detail li {width:1026px;border-width:0 0 1px 0;}
.top-list-detail .num {font-size:16px;font-weight:normal;width:50px;}
.top-list-detail .tit {width:400px;font-size:14px;}
.top-list-detail .area {width:200px;text-align:center;font-size:14px;}
.top-list-detail .type {width:250px;text-align:center;font-size:14px;}
.top-list-detail .score {padding-right:10px;float:right;font-size:14px;color:#AE172E;}