<link rel="bookmark" href="favicon.ico" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link href="{maccms:path_tpl}css/home.css" rel="stylesheet" type="text/css" />
<link href="{maccms:path_tpl}css/head_play.css" rel="stylesheet" type="text/css" />
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="/js/jq/jquery.lazyload.js" type="text/javascript" language="javascript"></script>
<script src="/js/jq/jquery.autocomplete.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path_tpl}js/home.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path_tpl}js/Aknew.js" type="text/javascript" language="javascript"></script>