<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>[art:name] [art:subname]- {maccms:name}</title>
<meta name="keywords" content="[art:name][art:subname],{maccms:name}" />
<meta name="description" content="[art:name][art:subname],{maccms:name}" />
{maccms:load inc.html} 
</head>
<body>
{maccms:head}
<div class="wrap">
	<div class="h2 clearfix">[art:textlink]</div>
				<div class="n-content mb">
						<p class="name"><span class="name">[art:colorname]</span><span class="time">[art:addtime]</span><span style="display:none">[art:hits]</span></p>
						<p class="des">[art:content]</p>
						<p class="fy"></p>
						<div class="more">相关文章：<p>[art:prelink][art:nextlink]</p></div>
				</div>
</div>
{maccms:foot}
</body>
</html>
