<div class="footer clearfix">
     <p>
         本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传
     </p>
     <p>
         若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢
     </p>
     Copyright ©2015-2016 <a href="http://WWW.M1938.COM">{maccms:url}</a> All Rights Reserved · <a href="{maccms:link_map_baidu}">百度地图</a> · <a href="{maccms:link_map_google}">google地图</a> · <a href="{maccms:link_map_rss}">rss订阅</a> · {maccms:visits}
</div>
<div class="gotop"><a class="gotopbg" href="javascript:;" title="返回顶部"></a></div>