<link href="{maccms:path_tpl}images/style.css" rel="stylesheet">
<link href="{maccms:path_tpl}images/home.css" rel="stylesheet">
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path_tpl}js/jquery-1.4.4.min.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>
<script src="{maccms:path_tpl}js/common.js"></script>
<script src="{maccms:path_tpl}js/function.js"></script>
<script src="{maccms:path_tpl}js/jquery.lazyload.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<link href="{maccms:path_tpl}images/favicon.ico" type="image/x-icon" rel="icon">
<link href="{maccms:path_tpl}images/favicon.ico" type="image/x-icon" rel="shortcut icon">
<!--[if lt IE 9]>
<script src="{maccms:path_tpl}js/html5shiv.min.js"></script>
<script src="{maccms:path_tpl}js/respond.min.js"></script>
<![endif]--> 
<!--[if IE 6]>  
<script type="text/javascript" src="{maccms:path_tpl}js/png.js"></script>  
<script type="text/javascript">  
DD_belatedPNG.fix('.png');  
</script> 
<![endif]-->