
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[art:name] [art:subname] - {maccms:name}</title>
<meta name="keywords" content="[art:name],{maccms:name}" />
<meta name="description" content="[art:name],{maccms:name}" />
{maccms:include}
</head>
<body>
{maccms:head}
<div class="container">
  <div class="container-inner">
    <h4 style="font-size:12px;">[art:textlink]</h4>
    <div class="guigushibox">
        <h1>[art:colorname]</h1>
        <p class="intro"><strong>作者：[art:author]</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人气：[art:hits]</p>
        
       <div class="guigushicontent">
        <div class="news" style="min-height:400px;height:100%;_height:500px;">
          <div style="float:right; padding-left:10px;"> <img width="300px" height="250px" src="{maccms:path_tpl}ad/300x250.jpg" alt="广告位放置" /></div>
          [art:content] 
        </div>
      </div>
      

        <div class="pn_news"><span>[art:prelink]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>[art:nextlink]</span> </div>
      
    </div>
    
  </div>
</div>
<div class="clearfix" style="width:100%;"></div>
<div class="zt-footer" id="zt-footer"> {maccms:foot} </div>
</div>
<!--movie-wrap-->

</body>
</html>
