
<link rel="stylesheet" href="{maccms:path_tpl}css/style.css"/>
<script>var mv_info = false;</script>

<style type="text/css">
<!--
.STYLE1 {font-size: 12px}
-->
</style>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/common_zt.js" charset="utf-8"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/init.js"></script>
<!--[if lte IE 6]> 
<script src="{maccms:path_tpl}js/DD_belatedPNG_0.0.8a.min.js" type="text/javascript"></script> 
<script type="text/javascript"> 
DD_belatedPNG.fix('.search-text,.watch-box,.watch-list-triangle,.watch-list-ul li i,.search-list-ul li i,.advance-notice-top h3,.program-top i,.more-list-btn i,.go-share-btn,.dcb-episodes-list li a,.anew-filtrate i,.coming-soon i,.logo a,.more-list-box,.watch-icon,.watch-icon2,.search-null-left,.star-search-text,.search-text2,.cartoon-ul li img');
</script>
<![endif]-->
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script type="text/javascript" src="{maccms:path_tpl}js/home.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>
<script type="text/javascript">
        UA = navigator.userAgent.toLowerCase();
        url = window.location;
        url = url.toString();
        if ((UA.indexOf('iphone') != -1 || UA.indexOf('mobile') != -1 || UA.indexOf('android') != -1 || UA.indexOf('ipad') != -1 || UA.indexOf('windows ce') != -1 || UA.indexOf('ipod') != -1) && UA.indexOf('ipod') == -1) {
            if (url.indexOf("m.") < 0) {
                if (url.indexOf("www.") < 0){
                    var index = url.indexOf("http://");
                    if (index < 0){
                        url = "m." + url;
                    }else{
                        url = url.replace("http://", "http://m.");
                    }
                }else{
                    url = url.replace("www.", "m.");
                }
                Go(url);
            }
        }
        function Go(url) {
            window.location = url;
        }
    </script>
    
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6b207840b376a6bc36acb64442397d1d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>