
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{maccms:name}-用户帮助</title>
{maccms:include}
</head>
<body>
{maccms:head}
<div class="container">
  <div class="container-inner">
    <div class="guigushibox">
        <h1>用户帮助</h1>
        <p class="intro"><a href="{maccms:path}index.php?m=gbook-show.html">如有更多疑问，请点击这里转至用户反馈。</a></p>
        
       <div class="guigushicontent">
        
<div id="HELP">
  <dl>
    <dt>新版网站和以前有什么不同？</dt>
    <dd>
       <p>新版网站相比旧版，有以下的改进： </p>
       <p>A.网站改变了以往常用的黑色风格以及复杂的操作，改为目前风格鲜明，比较常规的网站结构；</p>
       <p>B.不再提供需要第三方播放器的视频资源，全部改用优酷、土豆的视频资源调用，部分影片使用自行开发的视频播放器和本地视频资源；</p>
       <p>C.所有视频均不需要下载第三方播放器，全部直接可以观看，并支持平板、手机在线观看；</p>
       <p>D.部分影片提供迅雷下载、迅雷看看以及旋风下载；</p>
    </dd>
  </dl>
  <dl>
    <dt>需要安装什么播放器？</dt>
    <dd>
       <p>无需安装任何第三方播放器，可以直接观看！ </p>
    </dd>
  </dl>
  <dl>
    <dt>用什么浏览器最好？</dt>
    <dd>
       <p>电脑浏览最好使用支持HTML5的新款浏览器，如<a href="http://se.360.cn/" target="_blank">360浏览器</a>、<a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank">Chrome(谷歌浏览器)</a>、<a href="http://browser.qq.com/" target="_blank">QQ浏览器</a>，平板、手机的浏览器基本上都能支持HTML5，但因为优酷土豆的视频，手机浏览器只有UC浏览器能够观看全集，所以如果观看的视频是优酷土豆资源的话，只能使用UC浏览器，禁片里面小俊工作室自行开发的播放器是支持任何浏览器的。</p>
    </dd>
  </dl>
  <dl>
    <dt>怎么样升级？</dt>
    <dd><p>先注册用户帐号，然后到会员中心，先在线购卡，购买你所需要的价格的充值卡，千万要记住，在支付宝付款之后，请等待页面"1秒后自动返回商户"返回到购买页面，页面中才会出现充值卡和密码。</p></dd>
  </dl>
  <dl>
    <dt>为什么电影比以前少了？</dt>
    <dd><p>小俊工作室网站因为所有数据丢失，所以目前需要一部分一部分逐步上传恢复，加上现在所有影片都支持在线观看，所以更新需要一点时间。</p></dd>
  </dl>
  <dl>
    <dt>为什么以前的账号登录不了？</dt>
    <dd><p>旧版的小俊工作室因为网站文件数据丢失，无法找回和恢复，所以新版小俊工作室的影片全部都需要重新发布，会员数据也丢失了，所以用户需要重新注册。</p></dd>
  </dl>
  <dl>
    <dt>我以前是VIP会员，现在如何处理？</dt>
    <dd><p>注册了新的会员之后，联系QQ1744870144，告诉我们你新注册的用户名，查询验证过后将会免费给你恢复VIP会员身份。</p></dd>
  </dl>
  <dl>
    <dt>VIP会员需要续费吗？</dt>
    <dd><p>无需续费，VIP和高级VIP会员均是一次性收费，永久性服务。</p></dd>
  </dl>
  <dl>
    <dt>普通用户，VIP，高级VIP的权限有什么不同？</dt>
    <dd><p>普通用户可以通过电脑观看禁片以外的所有影片，VIP会员可以通过电脑观看所有影片包括禁片，高级VIP会员可以通过电脑、平板和手机观看所有影片和禁片。</p></dd>
  </dl>
</div>
        
      </div>
      
    </div>
    
  </div>
</div>
<div class="clearfix" style="width:100%;"></div>
<div class="zt-footer" id="zt-footer"> {maccms:foot} </div>
</div>
<!--movie-wrap-->

</body>
</html>