
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>{maccms:name}-最新{page:key}搜索-热播{page:key}搜索推荐-第{page:now}页-</title>
<meta name="keywords" content="最新{page:key},热播{page:key},{maccms:keywords}" />
<meta name="description" content="{maccms:name}提供最新{page:key}搜索,热播{page:key}搜索推荐,想看搜索{page:key}大全,就来{maccms:name}" />
<meta name="Resource-type" content="{maccms:name}" />
{maccms:include}
</head>
<body oncontextmenu="window.event.returnValue=false">
{maccms:head}
<div id="banner">
            <div class="bannerx-inner">
             
              
            </div><!--banner-inner-->
         </div><!--banner--><!--内容开始-->
<div class="container">
<div class="container-inner">
<!--影视明星开始-->
<div class="conx star-bot">

<div class="splendid-header">
     <div class="fl"><span>分类</span>索引</div>
</div>

<div class="starx-pic">
<div class="all-filtrate">
 <div class="all-filtrate-content">
                                                  <div class="afc1-wrap">
                           <span class="afc1-span">按类型：</span>
                           <ul class="afc1">
                              <li {if-A:"{page:typepid}"="0"} class="active-style2" {endif-A}><a href="{page:linktype}" onFocus="this.blur()" target="_self" >全部</a></li>
      
							   {maccms:menu type=auto}
                              <li {if-A:"{page:typeid}"="[menu:id]"} class="active-style2" {endif-A}><a href="[menu:link]" target="_self" onFocus="this.blur()">[menu:name]</a></li>
                               {/maccms:menu}                        
                                                  </ul>
                        </div>
                                                   <div class="afc1-wrap">
                           <span class="afc1-span">按地区：</span>
                           <ul class="afc1">
							<li {if-A:"{page:area}"=""} class="active-style2" {endif-A}><a href="{page:linkarea}" onFocus="this.blur()" target="_self" >全部</a></li>
							{maccms:area type=auto}
                            <li {if-A:"{page:area}"="[area:name]"} class="active-style2" {endif-A}><a href="[area:link]" target="_self" onFocus="this.blur()">[area:name]</a></li>
							{/maccms:area} 	
													  
                                                     </ul>
                        </div>
<div class="afc1-wrap">
                           <span class="afc1-span">按语言：</span>
                           <ul class="afc1">
                            <li {if-A:"{page:lang}"=""} class="active-style2" {endif-A}><a href="{page:linklang}" onFocus="this.blur()" target="_self" >全部</a></li>
							{maccms:lang type=auto}
                            <li {if-A:"{page:lang}"="[lang:name]"} class="active-style2" {endif-A}><a href="[lang:link]" target="_self" onFocus="this.blur()">[lang:name]</a></li>
							{/maccms:lang} 											
                                                     </ul>
                        </div>
                           <div class="afc1-wrap">
                           <span class="afc1-span">按年份：</span>
                           <ul class="afc1">
							  <li {if-A:"{page:year}"=""} class="active-style2" {endif-A}><a href="{page:linkyear}" onFocus="this.blur()" target="_self" >全部</a></li>
							  {maccms:year type=auto start=2000 end=2015 order=desc}
                              <li {if-A:"{page:year}"="[year:name]"} class="active-style2" {endif-A}><a href="[year:link]" target="_self" onFocus="this.blur()">[year:name]</a></li>
							 {/maccms:year}
                             </ul>
                        </div>

                           <div class="afc1-wrap">
                           <span class="afc1-span">按字母：</span>
                           <ul class="afc1">
                        <li {if-A:"{page:letter}"=""} class="active-style2" {endif-A}><a href="{page:linkletter}" onFocus="this.blur()" target="_self" >全部</a></li>
							   {maccms:letter type=auto letter=all}
                               <li {if-A:"{page:letter}"="[letter:name]"} class="active-style2" {endif-A}><a href="[letter:link]" target="_self" onFocus="this.blur()">[letter:name]</a></li>
								{/maccms:letter}
                             </ul>
                        </div>

            </div>

          </div>
</div>
</div><!--con3-->

<!--电影开始-->
<div class="con2 margin-bottom-share">
<div class="teleplay">

   <div class="teleplayx-left fl">

      <div class="splendid-header">
         <div class="fl"><a href="/dianying/"><span>电影</span>大全</a></div>
           <ul class="splendid-tab fl">
             <li {if-A:"{page:by}"="time"} class="active-style2" {endif-A}><a href="{page:linkbytime}">按更新排序</a></li>
             <li {if-A:"{page:by}"="score"} class="active-style2" {endif-A}><a href="{page:linkbyscore}">按高分排序</a></li>
			 <li {if-A:"{page:by}"="hits"} class="active-style2" {endif-A}><a href="{page:linkbyhits}">按人气排序</a></li>
   
			   
           </ul><!--splendid-tab-->
		   <strong style="float:right; margin-top:10px; margin-right:20px; color:#fff; font-weight:bold; font-size:14px; background-color:#FF6600; padding:5px 10px 5px 10px">搜索:  《{page:key}》     共{page:datacount}条记录</strong>
      </div><!--splendid-header-->

      <div class="teleplay-content">

         <div class="teleplayx-content-inner" style="display:block;">
             <ul class="teleplayx-content-list">
               {maccms:vod pagesize=40 order=desc by=time}
               <li>
               <div class="showPlay">
                  <a href="[vod:link]" class="tcl-pic" target="_blank">
                      <div class="tcl-pic1"><img class="scrollLoading" data-url="[vod:pic]" width="200" height="270" src="{maccms:path_tpl}images/pic.png" alt="[vod:name]"></div>
                      <div class="tcl-pic2"></div>
                      <div class="tcl-pic3"></div>
                      <p class="tcl-pic4">{if-A:[vod:state]<1}[vod:remarks]{elseif-A:[vod:state]<1000 and [vod:state]>0}第[vod:state]集{elseif-A:[vod:state]>1000}[vod:state]期{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}大结局{else-A}{endif-A}</p>
                  </a>
                  </div>
                  <div class="tcl-title">
                     <div class="movie-headline1"><a href="[vod:link]" target="_blank">[vod:name]</a></div>
                     <p>主演：[vod:starring]</p>
                  </div>
               </li>
			   {/maccms:vod}
                </ul>
         </div><!--teleplay-content-inner-->
      </div><!--teleplay-content-->

   </div><!--teleplay-left-->


</div><!--teleplay-->
</div><!--con2-->
<!--分页开始-->
<div class="ui-pages" id="aapages">
		{maccms:pages len=6}			
	  </div>
<!--分页结束-->
</div><!--container-inner-->
</div><!--container-->

<div class="zt-footer" id="zt-footer">
{maccms:foot}
</div>

</div><!--movie-wrap-->



</body>
</html>
