
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>影视专辑_第{page:now}页_{maccms:name}</title>
<meta name="keywords" content="明星合集,视频专辑,精彩专题,电影全集" />
<meta name="description" content="{maccms:name}不定期为影迷们推出新的电影专题及视频专辑,来满足不同爱好的电影者们.这里介绍最经典的电影全集,希望大家喜欢！" />
<meta name="Resource-type" content="{maccms:name}" />
{maccms:include}
</head>
<body oncontextmenu="window.event.returnValue=false">
{maccms:head} 
<div class="container">
  <div class="container-inner topiclist">
<div class="crumbs-all" style="margin-bottom:20px;">当前位置:<a href="{maccms:path}">首页</a> >>  <a href="{maccms:link_topic_vod}">专题</a></div>
        <ul>
          {maccms:topic pagesize=10 order=desc by=time}
          <li><a href="[topic:link]" class="l"><img src="[topic:pic]" alt="[topic:name]" /></a>
            <span>
            <h3><a href="[topic:link]">[topic:name]</a></h3>
            <p style="color:#f63874">共有[topic:count]部相关影片</p>
            <p>[topic:content len=150]……&nbsp;&nbsp;<a href="[topic:link]">[详细]</a></p>
            </span>
          </li>
          {/maccms:topic}
        </ul>
    <div class="ui-pages" id="aapages"> {maccms:pages len=6} </div>
      </div>
    </div>

<div class="zt-footer" id="zt-footer"> {maccms:foot} </div>
</body>
</html>
