
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>[vod:name]手机在线观看_[vod:name]优酷土豆在线播放_[vod:name]在线播放_{maccms:name}</title>
<meta name="keywords" content="[vod:name]高清中文字幕剧情介绍,[vod:name]手机在线观看,[vod:name]高清在线播放,[vod:name]优酷土豆在线播放" />
<meta name="description" content="《[vod:name]》免费高清,免费在线观看和高清晰播放模式均由恐影迷恐怖电影网收集于互联网,《[vod:name]》分为优酷在线手机观看、土豆在线手机观看播放模式，如果你觉得[vod:name]不错的话，推荐给你的朋友一起加速观看吧!" />
<meta name="Resource-type" content="{maccms:name}" />
<link rel="stylesheet" href="{maccms:path_tpl}css/home.css"/>
{maccms:include}
      <link href="{maccms:path_tpl}xl/down.css" rel="stylesheet" type="text/css" />
      <script src="{maccms:path_tpl}xl/function-1.0.3.js"></script>
      <script src="{maccms:path_tpl}xl/xunlei_3.js"></script>
      <script src="{maccms:path_tpl}xl/urlconvent.js"></script>
      <script type="text/javascript" src="{maccms:path_tpl}xl/webxunlei.js"></script>
      <script src="{maccms:path_tpl}xl/xflib2.0.js" type="text/javascript"></script>
[vod:history]
</head>
<body oncontextmenu="window.event.returnValue=false">
{maccms:head}

<div class="details-body"> 
  <!--面包屑开始-->
  <div class="crumbs">
  <div class="bdsharebuttonbox" style="float:right;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a></div>
   <span class="fl">您所在的位置：</span>
    <div class="crumbs-all fl"> [vod:textlink] </div>
   
  </div>
  <!--crumbs-->
  
  <div class="details-right fr">
    <div style="border:1px solid #CCC; background-color:#F8F8F8; padding:0 10px; margin-bottom:25px;"> 
	[vod:scoremark1]
    </div>
    
    <div class="test-300"> 
    <img width="300px" height="250px" src="{maccms:path_tpl}ad/300x250.jpg" alt="广告位放置" />
    </div>
    <div class="recommend-header mt10">
      <div class="fl"><span>[vod:typename]</span>人气榜</div>
      <a href="[vod:typelink]" class="teleplay-more">更多&gt;</a> </div>
    <div class="teleplay-content">
      <ul class="teleplay-con-list telclist4 tcl1">
        {maccms:vod type=current num=10 order=desc by=hits}
        {if-A:[vod:num]=1}
        <li class="list-no1"><span></span> <i>[vod:num]</i> <a href="[vod:link]" class="list-no1-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" width="90" height="120" src="{maccms:path_tpl}images/pic.png" alt=""></a>
          <div class="list-no1-con"> <a href="[vod:link]" class="no1-tv-title" target="_blank">[vod:name]</a>
            <p class="top-desc">[vod:contenttext len=24]......</p>
            <p class="pview">播放指数:[vod:hits]℃</p>
            <a href="[vod:link]" target="_blank" class="top-btn">查看详情</a> </div>
        </li>
        {endif-A}
        
        {if-A:[vod:num]>1}
        <li><i>[vod:num]</i><span class="views">[vod:hits]℃</span><a href="[vod:link]" target="_blank">[vod:name]</a></li>
        {endif-A}
        {/maccms:vod}
      </ul>
    </div>
    <!--teleplay-content-->
    <div class="test-300"> 
   <img width="300px" height="250px" src="{maccms:path_tpl}ad/300x250.jpg" alt="广告位放置" />
    </div>
  </div>
  
  
  <div class="details-left fl">
    <div class="details-con1"> <img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}images/pic.png" width="210" height="280" alt="[vod:name]">
      <div class="details-content fr">
        <div class="art-title">
          <h1>[vod:name]<span>[vod:remarks]</span></h1>
          <h2>[vod:subname]</h2>
          <div class="ext-share">
            <div class="fav-ico"><a  href="#comments">我要评论</a>[vod:userfav]</div>
          </div>
        </div>
        <div class="synopsis">
          <p><span>导演：</span>[vod:directedlink] </p>
          <p><span>总人气：</span><strong style="font-weight:bold; color:#FF4747" ><em>&nbsp;&nbsp;[vod:hits]℃</em></strong> <span style="margin-left:50px;">今日：</span><strong style="font-weight:bold; color:#FF4747" ><em>&nbsp;&nbsp;[vod:dayhits]℃</em></strong> <span style="margin-left:50px;">总评分：</span><strong style="font-weight:bold; color:#FF4747" ><em>&nbsp;&nbsp;[vod:scoreall]</em></strong> <span style="margin-left:50px;">评分次数：</span><strong style="font-weight:bold; color:#FF4747" ><em>&nbsp;&nbsp;[vod:scorenum]</em></strong> </p>
          <p><span>主演：</span>[vod:starringlink]</p>
          <p> <span>分类：</span>[vod:classlink] <span style="margin-left:50px;">地区：</span>[vod:arealink] <span style="margin-left:50px;">语言：</span>[vod:langlink] <span style="margin-left:50px;">年代：</span>[vod:yearlink] </p>
          <p class="synopsis-article"><span>简介：</span>[vod:contenttext]</p>
        </div>
      </div>
    </div>
    <!--details-con1-->
              <div class="details-con2">
             <div class="details-con2-head">
             </div>
             {maccms:play}
             <div class="details-con2-body" id="all_pagination">
              <!--details-con2-wrap-->
			   <div class="details-con3">
            <div class="details-con3-head">
                <ul class="fch1 dch1">
                   <li class="active-style8"><i></i>[play:show]</li>
				   </ul>
            </div>
             <div class="details-con3-body">
                <div class="dcb" style="display:block;">
                  <div class="you-likes">
              <div class="details-con2-wrap">
                 <ul class="details-con2-list">
               {maccms:url order=asc}
                 <li ><a data-num="[url:num]" href="[url:link]" target="_blank">[url:name]</a></li>
              {/maccms:url}  
                </ul>
																	   
               </div>
                  </div>
                </div><!--dcb-->                   
             </div><!--details-con3-body-->
          </div>
			   
             </div>
			{/maccms:play}   

          </div><!--details-con2-->
 {if-A:"{maccms:usergroupid}"="5"}
    
      {maccms:down}
      <div id="bofangqi"><div id="xiazai">[[vod:name]]迅雷资源</div></div>
      <div id="jishu"><div class="con4"><ul class="downurl" id="ul[down:num]">
      
		<script>
			var downurls="{maccms:url order=asc}[url:name]$[url:path]#{/maccms:url}";
			var downarr=downurls.split('#');
			var downinfo,ys_url,thunder_url,qq_url,yb_url,str;
			for(i=0;i<downarr.length-1;i++){
				downinfo = downarr[i].split('$');
				ys_url=urlconvert(downinfo[1],'ys');thunder_url=urlconvert(ys_url,'xl');qq_url=urlconvert(ys_url,'qq');
				yb_url = thunder_url;
				if(ys_url.indexOf('ed2k')>-1 || ys_url.indexOf('magnet')>-1){
					yb_url = encodeURIComponent(decodeURIComponent(ys_url));
				}
				str = '<LI id="li[down:num]_'+downinfo[0]+'"><DIV class="dwon_xl"><a class="dwon2" id="[down:num]thUrlid'+downinfo[0]+'" href="#" thunderHref="' + thunder_url + '" thunderPid="38042" thunderResTitle="" onClick="return xunbotask(this)" oncontextmenu="ThunderNetwork_SetHref_b(this)" class="thunder">迅雷下载</a></DIV><DIV class=dwon_y><A title="迅雷看看" onclick="javascript:start(\'' + thunder_url + '\');" href="#" target="_self">迅雷看看</A></DIV><DIV class="adds"><INPUT name="CopyAddr[down:num]" class="[down:num]addr" style="VERTICAL-ALIGN: middle" type="checkbox" value="' + thunder_url + '"><DIV><SPAN id="s[down:num]p'+downinfo[0]+'"><A title="'+downinfo[0]+'" href="' + thunder_url + '" target="_self">'+downinfo[0]+'</A></SPAN><INPUT id="lin[down:num]k'+downinfo[0]+'" style="WIDTH: 445px; VERTICAL-ALIGN: middle" type="text" value="' + thunder_url + '"></DIV></DIV></LI>';
				document.write(str);
			}
			
		</script>
      
      </ul>
      <div class="ckall"><span><input id="allcheck[down:num]" onclick="CheckAll([down:num])" type="checkbox"  name="checkall" /><em>全选</em></span><p><a href="javascript:void(0);" onclick="thunderBatchTask([down:num])" target="_self">迅雷下载选中的文件</a></p></div>
      </div>
      </div>
      {/maccms:down}
      
{else-A}
<div class="xlvip">本片提供迅雷下载资源，超级VIP用户专项。<a href="{maccms:path}index.php?m=user-upgrade.html" target="_blank">点击这里升级</a></div>
{endif-A}
    
    <div class="details-con3">
      <div class="details-con3-head">
        <ul class="fch1 dch1">
          <li class="active-style8"><i></i>猜你喜欢作品</li>
          <li>相关导演作品</li>
          <li>相关主演作品</li>
        </ul>
      </div>
      <div class="details-con3-body">
        <div class="dcb" style="display:block;">
          <div class="you-like">
            <ul class="fcb-ul">
              {maccms:vod num=5 by=rnd type=current order=desc}
              <li> <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
              </li>
              {/maccms:vod}
            </ul>
          </div>
        </div>
        <!--dcb-->
        
        <div class="dcb">
          <div class="you-like">
            <ul class="fcb-ul">
              {maccms:vod num=5 similar=directed order=desc}
              <li> <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
              </li>
              {/maccms:vod}
            </ul>
          </div>
        </div>
        <!--dcb2-->
        
        <div class="dcb">
          <div class="you-like">
            <ul class="fcb-ul">
              {maccms:vod num=5 similar=starring order=desc}
              <li> <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
              </li>
              {/maccms:vod}
            </ul>
          </div>
        </div>
        <!--dcb3--> 
        
      </div>
      <!--details-con3-body--> 
    </div>
    <!--details-con2-->
    <div class="details-con3 mt20">
      
      <div class="details-con3-body">
        <div class="dcb" style="display:block;">
          <div class="dcb-show-pic-wrap" id="comments">
            <div id="comment" class="comment">[vod:comment]</div>
          </div>
        </div>
        <!--dcb--> 
        
      </div>
      <!--details-con3-body--> 
    </div>
    <!--details-con2--> 
    
  </div>
  <!--details-left-->
  
</div>
<!--details-right-->

<div class="clearfix" style="width:100%;"></div>
</div>
<!--container-inner-->
</div>
<!--container-->

<div class="zt-footer" id="zt-footer">{maccms:foot}</div>
</div>
<!--movie-wrap-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>
