<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>动漫大全-日本动漫，动画片大全，动漫排行榜-爱奇艺</title>
	<meta name="title" content="动漫大全-日本动漫，动画片大全，动漫排行榜-爱奇艺" />
	<meta name="keywords" content="动漫,动画片, 动漫大全, 动画片大全,最新动漫, 最新动画片,日本动漫 ,日本动画片,动漫在线观看, 动漫排行榜,动画片排行榜" />
    <meta name="description" content="爱奇艺动漫大全提供当下最新、热播动漫在线观看服务，同步全网最火动画片，提供丰富多彩的动画片、日本动漫、美国动漫,韩国动漫,港台动漫 等等经典动漫类视频在线观看服务。" />
 {maccms:include}
  </head>
  <body class="qypage-980">
    
<script type="text/javascript">
  window.Q = window.Q || {};
  Q.PageInfo = Q.PageInfo || {};
  Q.PageInfo.respInfo ={
    cnf:[
      {
        layout:0,
        cls:'qypage-980',
        range:{
          min:0,
          max:1259
        },
        extraInfo:{}
      },
      {
        layout:1,
        cls:'qypage-1180',
        range:{
          min:1260,
          max:Number.MAX_VALUE
        },
        extraInfo:{}
      }
    ],
    curLayout:0
  }
</script>
<script>
  (function () {
    var body = Q.$('body');
    var width = Q.page.getViewWidth() > Q.page.getWidth() ? Q.page.getWidth() : Q.page.getViewWidth();
    if (Q && Q.PageInfo&&Q.PageInfo.respInfo) {
      
      var cnf = Q.PageInfo.respInfo.cnf;
      body.removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
      for (var i = 0; i < cnf.length; i++) {
        if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) {
          body.addClass(cnf[i].cls);
          Q.PageInfo.respInfo.curLayout = cnf[i].layout;
          break;
        }
      }
    }
  })();
</script>
    <div class="page-search">
      
{maccms:head}
        

<div class="focus-search focus-search_v clearfix focus_tj">
<div class="focusTline">
</div>
<div id="block-C" data-block-name="焦点图">

<div class="focus-search-tabScroll_pic"
data-widget-qiyupingback="indexFocus"
data-qiyupingback-ppuid="2186622738"
data-qiyupingback-uid="73de0f26505b2fea7fb02dc6236ae233"
data-qiyupingback-eventid="c894926084d2d898f26c0c3c889e5436"
data-qiyupingback-cid="1"
data-qiyupingback-bkt="ysdq_salmon20_freshness_ctr_temp"
data-qiyupingback-area="ysdq_salmon"
data-qiyupingback-p2="9005"
data-qiyupingback-path="2"
data-widget-indexfocus="indexFocus"
data-indexfocus-disableanim="100"
data-indexfocus-textshowtime="10"
data-indexfocus-trigger="mouseover"
data-interval="5000">
<div class="pic_btnLeft">
<a href="javascript:;" class="search-focus_btnLeft" data-indexfocus-change="prev_btn">
</a>
</div>
<div class="pic_btnRight">
<a data-indexfocus-change="next_btn" href="javascript:;" class="search-focus_btnRight">
</a>
</div>
<div class="position-focusSearch_mainList">
<ul class="focusSearch_mainList" data-indexfocus-elem="bigPics">
{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
<li style="background-image: url([vod:picslide]); display: block; opacity: 1;">
<a data-play-rseat="btn1"
data-rseat="name1"
data-qiyupingback-elem="item"
data-qiyupingback-idx="0"
data-qiyupingback-taid="205350714"
data-qiyupingback-tcid="1"
hidefocus="true"
data-indexfocus-elem="currentPlayPage"
data-indexfocus-currenttitleelem="[vod:name]"
data-indexfocus-title="[vod:name]"
data-indexfocus-description="[vod:contenttext len=12]"
rseat="img1"
href="[vod:link]" target="_blank">
<i class="scroll_tip tip_fufei"></i>
</a>
</li>
   {/maccms:vod} 
</ul>
</div>
 <div class="focus-search-tabScroll_title clearfix"> 
 <div class="tabScroll_l_block" data-private-display="block" data-indexfocus-elem="playPageWrap"> 
{maccms:vod num=1 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <div class="btn_wrap"> <a target="_blank" class="focusSearch_btn" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" href="[vod:link]" title="[vod:name]" data-indexfocus-playelem="playBtn" data-indexfocus-elem="playBigBtn" rseat="btn"></a> </div> 
 <div class="desc_wrap"> <a target="_blank" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" class="title" title="[vod:name]" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainTitle" rseat="listem">[vod:name]</a> <a href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainDescription" target="_blank" class="subTle" title="[vod:name]">[vod:content len=20]...</a> </div> 
  {/maccms:vod}
 </div> 

 <ul data-indexfocus-elem="smallPics" class="scroll_area"> 
{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <li data-indexfocus-index="[vod:num]" class="{if-A:[vod:num] = 1}selected{endif-A}"><a rseat="sele[vod:num]" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="[vod:num]" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" target="_blank"></a></li> 
  {/maccms:vod}

 </ul>
 </div> 
</div>

 </div>
<div id="block-G" data-block-name="频道列表">
<div class="search-tab-list search-tab-list_noTab" data-widget-tab="tab" data-tab-changedelay="0" data-widget-disabletitleclickevt="false">
<div class="tab-body">
 <ul class="top-list"> 
  {maccms:vod num=10 by=time type=4 order=desc }  
 <li class="top"><a class="tip" rseat="3_namecount1">[vod:num]</a><a title="[vod:name]" class="title title_new0529" href="[vod:link]" rseat="3topname1" target="_blank">[vod:name]</a> <a title="[vod:name] " class="desc desc_new0529" href="[vod:link]" rseat="3cname1" target="_blank">                                    {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}</a></li> 
 	{/maccms:vod}
</ul> 


</div>
</div>
</div>
</div>
      <div class="wrapper-content wrapper-content-300 clearfix">
        <div class="site-main">
         <div id="block-D" data-block-name="分类">
<div class="mod-classes-blcoks mod-classes-blcoks-4items mb10 clearfix">
<div class="classes-blcoks_item3 pl0">
<dl class="classes-blcoks">
<dt>
<h4 title="类型" alt="类型" rseat="类型">类型</h4>
</dt>
<dd>

		{maccms:class type=auto}
<a class="null" href="[class:link]" rseat="title4_1" alt="[class:name]" title="[class:name]" target="_blank">[class:name]</a>
		   {/maccms:class}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="地区" alt="地区" rseat="地区">地区</h4>
</dt>
<dd>
		  {maccms:area type=auto order=asc}
	
<a class="null" href="[area:link]" rseat="title2_1" alt="[area:name]" title="[area:name]" target="_blank">[area:name]</a>
	  {/maccms:area}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="年代" alt="年代" rseat="年代">年代</h4>
</dt>
<dd>
			{maccms:year type=auto start=2008 end=2015 order=desc}
	<a class="null" href="[year:link]" rseat="title3_1" alt="[year:name]" title="[year:name]" target="_blank">[year:name]</a>
            {/maccms:year}


</dd>
</dl>
</div>
<div class="classes-blcoks_item3">
<dl class="classes-blcoks">
<dt>
<h4 title="热点" alt="热点">热点</h4>
</dt>
<dd>
            <a href="index.php?m=vod-search-wd-忍者龟" rseat="title3_1" alt="忍者龟" title="忍者龟" class="red"target="_blank">忍者龟</a>
          
            <a href="index.php?m=vod-search-wd-巨神战击队2" rseat="title3_2" alt="巨神战击队2" title="巨神战击队2" target="_blank">巨神战击队2</a>
          
            <a href="index.php?m=vod-search-wd-黑子的篮球3" rseat="title3_3" alt="黑子的篮球3" title="黑子的篮球3" class="red"target="_blank">黑子的篮球3</a>
          
            <a href="index.php?m=vod-search-wd-夜之小双侠" rseat="title3_4" alt="夜之小双侠" title="夜之小双侠" target="_blank">夜之小双侠</a>
          
            <a href="index.php?m=vod-search-wd-熊出没" rseat="title3_5" alt="熊出没" title="熊出没" target="_blank">熊出没</a>
          
            <a href="index.php?m=vod-search-wd-灰姑娘女孩" rseat="title3_6" alt="灰姑娘女孩" title="灰姑娘女孩" target="_blank">灰姑娘女孩</a>
          
            <a href="index.php?m=vod-search-wd-妈妈乐疯狂" rseat="title3_7" alt="妈妈乐疯狂" title="妈妈乐疯狂" class="red"target="_blank">妈妈乐疯狂</a>
          
            <a href="index.php?m=vod-search-wd-美少女战士" rseat="title3_8" alt="美少女战士Crystal" title="美少女战士Crystal" target="_blank">美少女战士Crystal</a>

</dd>
</dl>
</div>
</div> </div>
          <div id="block-E" data-block-name="动漫推荐">
            
<div class="mod-scrollList-15 mod-scrollList-15-colorWhite mt15 mb20 clearfix" id="widget-slidewidget-0" data-slide-disablewheel="true" data-slide-name="childrenIndexSlide" data-slide-step="1" data-slide-enablescroll="true" data-slide-enabletouch="false" data-slide-lbtnclass="scrollList-15_leftBtn-no" data-slide-rbtnclass="scrollList-15_rightBtn-no" data-slide-style="marginLeft" data-slide-dura="0">

  <div class="scrollList-15_wrap" data-slide-elem="content">
    <ul class="scrollList-15 clearfix" data-slide-elem="list">
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200043314.html" class="scrollList_items" rseat="namelink1"target="_blank">
            <img src="{maccms:path_tpl}images/dm/e078ddb0d93a43f7b996ac6c27d411ee.jpg" width="75" height="75" rseat="img1" data-pb="rlink=http://www.iqiyi.com/lib/m_200043314.html&r=蜡笔小新">
            <h4 rseat="name1" data-pb="rlink=http://www.iqiyi.com/lib/m_200043314.html&r=蜡笔小新">蜡笔小新</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200023214.html" class="scrollList_items" rseat="namelink2"target="_blank">
            <img src="{maccms:path_tpl}images/dm/e3ff60b99b7f47d194f087a5ce1140bd.jpg" width="75" height="75" rseat="img2" data-pb="rlink=http://www.iqiyi.com/lib/m_200023214.html&r=哆啦A梦">
            <h4 rseat="name2" data-pb="rlink=http://www.iqiyi.com/lib/m_200023214.html&r=哆啦A梦">哆啦A梦</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200226114.html" class="scrollList_items" rseat="namelink3"target="_blank">
            <img src="{maccms:path_tpl}images/dm/293ab462f4e74e26b17a60f5ac477ea9.jpg" width="75" height="75" rseat="img3" data-pb="rlink=http://www.iqiyi.com/lib/m_200226114.html&r=樱桃小丸子">
            <h4 rseat="name3" data-pb="rlink=http://www.iqiyi.com/lib/m_200226114.html&r=樱桃小丸子">樱桃小丸子</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200065414.html" class="scrollList_items" rseat="namelink4"target="_blank">
            <img src="{maccms:path_tpl}images/dm/1d061608878348f7b919612d04a49490.jpg" width="75" height="75" rseat="img4" data-pb="rlink=http://www.iqiyi.com/lib/m_200065414.html&r=名侦探柯南">
            <h4 rseat="name4" data-pb="rlink=http://www.iqiyi.com/lib/m_200065414.html&r=名侦探柯南">名侦探柯南</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200043614.html" class="scrollList_items" rseat="namelink5"target="_blank">
            <img src="{maccms:path_tpl}images/dm/310ff92284c549ccb9330d1a9bcff5ec.jpg" width="75" height="75" rseat="img5" data-pb="rlink=http://www.iqiyi.com/lib/m_200043614.html&r=猫和老鼠">
            <h4 rseat="name5" data-pb="rlink=http://www.iqiyi.com/lib/m_200043614.html&r=猫和老鼠">猫和老鼠</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200041614.html" class="scrollList_items" rseat="namelink6"target="_blank">
            <img src="{maccms:path_tpl}images/dm/408c6409e3274cd38bcd7d9859dfa79e.jpg" width="75" height="75" rseat="img6" data-pb="rlink=http://www.iqiyi.com/lib/m_200041614.html&r=小马宝莉">
            <h4 rseat="name6" data-pb="rlink=http://www.iqiyi.com/lib/m_200041614.html&r=小马宝莉">小马宝莉</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200278214.html" class="scrollList_items" rseat="namelink7"target="_blank">
            <img src="{maccms:path_tpl}images/dm/986e1c5591384f61ac290a21851770ad.jpg" width="75" height="75" rseat="img7" data-pb="rlink=http://www.iqiyi.com/lib/m_200278214.html&r=迪迦奥特曼">
            <h4 rseat="name7" data-pb="rlink=http://www.iqiyi.com/lib/m_200278214.html&r=迪迦奥特曼">迪迦奥特曼</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200076214.html" class="scrollList_items" rseat="namelink8"target="_blank">
            <img src="{maccms:path_tpl}images/dm/efbd88da5bcf4cf8b927ef1880ee1c75.jpg" width="75" height="75" rseat="img8" data-pb="rlink=http://www.iqiyi.com/lib/m_200076214.html&r=精灵宝可梦">
            <h4 rseat="name8" data-pb="rlink=http://www.iqiyi.com/lib/m_200076214.html&r=精灵宝可梦">精灵宝可梦</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200027814.html" class="scrollList_items" rseat="namelink9"target="_blank">
            <img src="{maccms:path_tpl}images/dm/7f56ca61afb741ddbee8d6f4f61ab239.jpg" width="75" height="75" rseat="img9" data-pb="rlink=http://www.iqiyi.com/lib/m_200027814.html&r=黑子的篮球">
            <h4 rseat="name9" data-pb="rlink=http://www.iqiyi.com/lib/m_200027814.html&r=黑子的篮球">黑子的篮球</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200213814.html" class="scrollList_items" rseat="namelink10"target="_blank">
            <img src="{maccms:path_tpl}images/dm/f1898e046f364dbfbaddf86312494a37.jpg" width="75" height="75" rseat="img10" data-pb="rlink=http://www.iqiyi.com/lib/m_200213814.html&r=魔卡少女樱">
            <h4 rseat="name10" data-pb="rlink=http://www.iqiyi.com/lib/m_200213814.html&r=魔卡少女樱">魔卡少女樱</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200212614.html" class="scrollList_items" rseat="namelink11"target="_blank">
            <img src="{maccms:path_tpl}images/dm/06e3fdfaf2d44203b328e767c439d702.jpg" width="75" height="75" rseat="img11" data-pb="rlink=http://www.iqiyi.com/lib/m_200212614.html&r=偶像活动">
            <h4 rseat="name11" data-pb="rlink=http://www.iqiyi.com/lib/m_200212614.html&r=偶像活动">偶像活动</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200077414.html" class="scrollList_items" rseat="namelink12"target="_blank">
            <img src="{maccms:path_tpl}images/dm/050293a337d8451a8fe02cd6762a6e2c.jpg" width="75" height="75" rseat="img12" data-pb="rlink=http://www.iqiyi.com/lib/m_200077414.html&r=中华小当家">
            <h4 rseat="name12" data-pb="rlink=http://www.iqiyi.com/lib/m_200077414.html&r=中华小当家">中华小当家</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200024414.html" class="scrollList_items" rseat="namelink13"target="_blank">
            <img src="{maccms:path_tpl}images/dm/890b02c643fb41e2a71d55c62515ffea.jpg" width="75" height="75" rseat="img13" data-pb="rlink=http://www.iqiyi.com/lib/m_200024414.html&r=网球王子">
            <h4 rseat="name13" data-pb="rlink=http://www.iqiyi.com/lib/m_200024414.html&r=网球王子">网球王子</h4>
          </a>
        </li>
              
        
        <li>
          <a href="http://www.iqiyi.com/lib/m_200029614.html" class="scrollList_items" rseat="namelink14"target="_blank">
            <img src="{maccms:path_tpl}images/dm/a982ae6180d4457fa04a1d01ae4aebcb.jpg" width="75" height="75" rseat="img14" data-pb="rlink=http://www.iqiyi.com/lib/m_200029614.html&r=犬夜叉">
            <h4 rseat="name14" data-pb="rlink=http://www.iqiyi.com/lib/m_200029614.html&r=犬夜叉">犬夜叉</h4>
          </a>
        </li>

      
    </ul>
  </div>

</div>
          </div>
          <div class="wrapper-cols mt20">
            <div class="site-main-outer">
              <div class="site-main-inner" id="block-F" data-block-name="热门推荐">
                
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
      <a href="http://www.iqiyi.com/lib/dongman/,,_9_1.html" class="more" target="_blank" rseat="more">更多&gt;</a>
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="热门推荐">热门推荐</h3>
  </div>
</div>
                


    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
                  	 {maccms:vod num=5 type=4 by=hits  order=desc}
          
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>
        			   {/maccms:vod} 
        
      </ul>
    </div>
  
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
        
                            	 {maccms:vod num=5 type=4 by=dayhits  order=desc}
          
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>
        			   {/maccms:vod} 
  
      </ul>
    </div>
  
              </div>
              <div class="site-main-inner mt40" id="block-G" data-block-name="专题精选">
                

<div class="searchList-title searchList-title-line  mb5 clearfix">
  <div class="searchList-title-left">
    <h3 rseat="专题精选" class="ztjx-italic">专题精选</h3>
  </div>
</div>
                


    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587 movieLib-picList-tleTwo site-piclist-gray">
        
          	{maccms:topic num=5 id=all table=vod}
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[topic:link]" title="[topic:name]" target="_blank">
                <img width="100%" height="100%" src="[topic:pic]" alt="[topic:name]" title="[topic:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[topic:link]" title="[topic:name]" rseat="name_1_1" target="_blank">[topic:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1"></p>
            </div>
          </li>
        
{/maccms:topic}
        
      </ul>
    </div>
  
              </div>
            </div>
            <div class="site-main-side" id="block-H" data-block-name="近期热播">
              <div data-widget-movweektab="movweektab" class="side-border clearfix">
                
    <div class="site-title">
      <div class="site-title_right"></div>
      <div class="site-title_left">
        <h3><span>近期热播</span></h3>
      </div>
    </div>	
  
                


<div class="mod-fourPic new-time-table">
  <ul class="new-time-table-pic new-time-table-pic11069 clearfix" data-private-display="" style="display: block;">
     {maccms:vod num=6 type=4 by=hits  order=desc}
      <li>
        <div class="pic"><a title="[vod:name]" href="[vod:link]" target="_blank"><img width="110" height="69" title="[vod:name]" alt="[vod:name]" src="[vod:pic]" rseat="img1"></a></div>
        <div class="fl info">
          <a rseat="name1" title="[vod:name]" href="[vod:link]" target="_blank">[vod:name]</a>
          <div rseat="prompt1" class="desc-two">[vod:contenttext len=8]</div>
        </div>
      </li>
    
            {/maccms:vod}
  </ul>
</div>
              </div>
            </div>
          </div>
         
		 
		 
		 
		             
 {maccms:matrix type=23,24,25,26,27 table=vod} 

          <div class="wrapper-cols movieLib_picCols mt20" id="block-Q" data-block-name="[matrix:name]">
            
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
      <a href="[matrix:link]" class="more" target="_blank" rseat="more">更多&gt;</a>
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="[matrix:name]">[matrix:name]</h3>
  </div>
</div>
            

<div class="wrapper-piclist">
  <ul class="site-piclist site-piclist site-piclist-155203 movieLib-picList-scoreStar">
      {maccms:vod num=7 type=[matrix:id] by=time order=desc}
      
      <li>
        <div class="site-piclist_pic">
          <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
            <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img1">
          </a>
        </div>
        <div class="site-piclist_info">
          
            <div class="piclist_movie_score">
              <div class="mod_movie_score">
                <span class="score_info"><strong class="title">	[vod:score]</span>
              </div>
            </div>
          
          <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="naem1" target="_blank">[vod:name]</a></p>
          <p class="site-piclist_info_describe" rseat="subTitle1">[vod:contenttext len=8]</p>
        </div>
      </li>

    
       {/maccms:vod}
    

    
  </ul>
</div>
          </div>

		  
		  	 {/maccms:matrix} 
        </div>
      </div>
{maccms:foot}
      </div>

        

     

<div class="baseScrollBar" id="widget-vscrollbar">
  <ul class="baseScrollBar_menus">
    <li data-widget-totopbtn="totop" data-totopbtn-time="150" data-totopbtn-hoverclass="selected" data-totopbtn-undownclass="unEffective">
      <a href="javascript:void(0);" class="baseToTop" title="回顶部" data-totopbtn-totop="show"></a>
    </li>
    <li>
      <a href="javascript:void(0);" class="helpFeedback" title="帮助及反馈" id="widget-feedbackbtn"></a>
    </li>
  </ul>
</div>

    <script type="text/javascript">
      Q.projectName = 'qiyiV2'; 
      Q.load("movieLibAnimeIndex"); 
    </script>
					
 </body>
</html>