 <div id="block-Y" data-block-name="搜索框" class="mod_search_footer"> 
 <div class="searchBox_footer clearfix" data-widget-suggest="suggest" data-suggest-refersource="refersource=lib"> 
<form action="{maccms:link_search_vod}" method="post">
 <div class="fl pr">
 <input type="text" id="wd" name="wd" class="search_input" x-webkit-speech value="请在此处输入影片名或演员名称" onfocus="if(this.value=='请在此处输入影片名或演员名称'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片名或演员名称';};"/>
 </div>
 <div class="fl"> 
  <input type="submit" id="searchbutton" class="search_btn" value="搜全网"/>
 
 </div> 
 </form> 
 </div> 
 </div> 
<div id="block-W" data-block-name="底部版权" class="qy_footer"> <div class="footmenu"> <a href="/" class="s1" title="APP专区">APP专区</a> | <a href="/" rel="nofollow" title="公司介绍">公司介绍</a> | <a href="/" rel="nofollow" title="新闻动态">新闻动态</a> | <a href="/" rel="nofollow" title="联系方式">联系方式</a> | <a href="/" rel="nofollow" title="招聘英才">招聘英才</a> | <a href="http://open.iqiyi.com" rel="nofollow" title="开放平台">开放平台</a> | <a href="/" rel="nofollow" title="帮助与反馈">帮助与反馈</a> | <a href="/" rel="nofollow" title="AboutUs">About Us</a> </div> <div class="copyright"> <a href="">爱奇艺</a> <span>&copy; 2014 iQIYI.COM</span> </div> </div> 