<!DOCTYPE HTML> 
<html lang="zh-CN"> 
<head> 
<meta charset="UTF-8"> <title>爱奇艺影视大全-中国最新最全的影视资料库</title>
 <meta name="title" content="爱奇艺影视大全-中国最新最全的影视资料库"> <meta name="keywords" content="视频搜索，全网视频搜索，影视大全，影视资料库"> 
 <meta name="description" content="爱奇艺影视大全，中国最新最全的影视资料库，提供免费、高清的电影、电视剧、动漫、综艺等网络视频一站式在线观看体验。">
<link rel="stylesheet" type="text/css" href="{maccms:path_tpl}css/v3-basic_other.css" />
<link href="{maccms:path_tpl}css/play-long.css" rel="stylesheet" type="text/css">					
 <link href="{maccms:path_tpl}css/home.css" rel="stylesheet" type="text/css" />
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/sea1.2.js"></script>	
 {maccms:include}
 <script type="text/javascript">
  window.Q = window.Q || {};
  Q.PageInfo = Q.PageInfo || {};
  Q.PageInfo.playPageInfo = {
    albumId: 360088500,
    tvId: 360088500,
    cid: 1,
    userId: 0,
    sourceId:0,
    tvYear:201505,
    vType:'video'
  };
  Q.PageInfo.clientDownloadUrl="/";
  
  Q.PageInfo.respInfo = {cnf:[{layout: 0, cls: "qypage-980", range: {min: 0, max: 1179}, extraInfo: {playListViewCount: 4,actorTotal:6, actorHideNum: 5},viewHeight : 160},{layout: 1, cls: "qypage-1180", range: {min: 1180, max: 1439}, extraInfo: {playListViewCount: 5,actorTotal:6, actorHideNum: 4},viewHeight : 200},{layout: 2, cls: "qypage-1440", range: {min: 1440, max: 1679}, extraInfo: {playListViewCount: 6,actorTotal:6, actorHideNum: 3},viewHeight : 240},{layout: 3, cls: "qypage-1680", range: {min: 1680, max: 1897}, extraInfo: {playListViewCount: 7,actorTotal:6, actorHideNum: 2},viewHeight : 240},{layout: 4, cls: "qypage-1920", range: {min: 1898, max: 20000}, extraInfo: {playListViewCount: 8,actorTotal:6, actorHideNum: 1},viewHeight : 240}], curLayout: 0};
  
</script>
 </head>
 
 <body class="qypage-980"> 
 <script type="text/javascript"> window.Q = window.Q || {}; Q.PageInfo = Q.PageInfo || {}; Q.PageInfo.respInfo = { cnf: [ { layout: 0, cls: 'qypage-980', range: { min: 0, max: 1259 }, extraInfo: {} }, { layout: 1, cls: 'qypage-1180', range: { min: 1260, max: Number.MAX_VALUE }, extraInfo: {} } ], curLayout: 0 } </script>
 <script> (function () { var body = Q.$('body'); var width = Q.page.getViewWidth() > Q.page .getWidth() ? Q.page.getWidth() : Q.page .getViewWidth(); if (Q && Q.PageInfo && Q.PageInfo.respInfo) { var cnf = Q.PageInfo.respInfo.cnf; body .removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls); for (var i = 0; i < cnf.length; i++) { if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) { body.addClass(cnf[i].cls); Q.PageInfo.respInfo.curLayout = cnf[i].layout; break; } } } })(); </script> 
 <div class="page-search">
 <script type="text/javascript">
  (function () {
    if(!(Q.browser.IE6||Q.browser.IE7)){
    var body = Q.$('body');
    var width = Q.page.getViewWidth() > Q.page.getWidth() ? Q.page.getWidth() : Q.page.getViewWidth();
    if (Q && Q.PageInfo && Q.PageInfo.respInfo) {
      var cnf = Q.PageInfo.respInfo.cnf;
      body.removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
      for (var i = 0; i < cnf.length; i++) {
        if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) {
          body.addClass(cnf[i].cls);
          Q.PageInfo.respInfo.curLayout = cnf[i].layout;
          break;
        }
      }
    }
  }
  })();
</script>
{maccms:head}
 
      <div class="wrapper wrapper-dianying" data-content-wrapper="wrapper">
        <div class="wrapper-left">
   <div id="leftad" class="leftAd mt25">
<div style="width:660px;height:90px;margin:0 auto;">
<div collection="Y" id="ad-left-tl">
				<p>请勿提交非法信息和广告，违反者查封ID，谢谢合作!</p>
				<p>影片播放错误请及时留言，留言时请留下您的QQ，以便我们及时联系您。</p>
				<p>版权投诉请附带版权所属证明发至邮箱787850323@qq.com，我们收到邮件后会立刻处理。</p>
				<p>广告合作发至邮箱787850323@qq.com，我们收到邮件后会立刻处理。</p>
</div></div>
</div>

		  <div class="wrapper-piclist wrapper-piclist-spread" data-pb="tmplt=longmovietplt"  id="block-H">
            
<div class="play-title mb15 mt40">
  <h2 class="play-title-bd">留言区<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span> </h2>
</div>
<div style="display: block;" id="widget-iqiyi-hot" data-hot-area="rabbit" data-hot-bkt="rabbit20_main" data-hot-eventid="d2bce00f07362b1ef991e3453f34513e">
  <div class="play-tv-grid data-slide-responsive" id="widget-slidewidget-0"
  data-slide-name="qiyihot" data-slide-disablewheel="true" data-slide-dura="0" data-slide-disp="5" data-slide-step="4" data-slide-itemfocusclass="selcss" data-slide-enablescroll="true"
  data-slide-lbtnclass="disabled" data-slide-rbtnclass="disabled" data-slide-usedefaultoffset="true">
  <!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1531800"></script>
<!-- UY END -->

  </div>
</div>
          </div>
          <div class="wrapper-piclist wrapper-piclist-spread" data-pb="tmplt=longmovietplt"  id="block-H">
            
<div class="play-title mb15 mt40">
  <h2 class="play-title-bd">影片热播 <span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span> </h2>
</div>
<div style="display: block;" id="widget-iqiyi-hot" data-hot-area="rabbit" data-hot-bkt="rabbit20_main" data-hot-eventid="d2bce00f07362b1ef991e3453f34513e">
  <div class="play-tv-grid data-slide-responsive" id="widget-slidewidget-0"
  data-slide-name="qiyihot" data-slide-disablewheel="true" data-slide-dura="0" data-slide-disp="5" data-slide-step="4" data-slide-itemfocusclass="selcss" data-slide-enablescroll="true"
  data-slide-lbtnclass="disabled" data-slide-rbtnclass="disabled" data-slide-usedefaultoffset="true">
    <div class="gridCtrol gridCtrol-160210">
      <a class="disabled" data-slide-elem="pbtn" href="javascript:void(0);">
        <i class="p-arrL"></i>
      </a>
      <a href="javascript:void(0);" data-slide-elem="nbtn">
        <i class="p-arrR"></i>
      </a>
    </div>
    <div class="site-piclist-160210-visibleW">
      <div class="site-piclist-160210-scrollW" data-slide-elem="content" data-videoslide-elem="content">
        <ul style="width: 1800px; left: 0px;" class="site-piclist site-piclist-160210 site-piclist-160210-describe play-tv-grid" data-slide-elem="list" data-qiyu-elem="list">    
            {maccms:vod num=10 order=desc type=all by=hits}
            
            <li data-slide-elem="item" data-delegate="iqiyi-hot" data-tvid="360088500" data-aid="360088500" data-cid="1" data-idx="0">
              <div class="site-piclist_pic"> 
                <a title="[vod:name]" alt="[vod:name]" href="[vod:link]" class="site-piclist_pic_link" > 
                  
                  <img width="100%" height="100%" data-lazy="[vod:pic]" rseat="timg_1"/>
                  <div class="wrapper-listTitle">
                    <div class="mod-listTitle">
                      <span class="mod-listTitle_right" rseat="right1_1"></span><div class="mod-listTitle_left"><div class="mod-videoMarks"><i class="mark-1080p"></i></div></div>
                    </div>
                  </div>
                  <p class="site-piclist_icons-lt"><i class="site-icons icon-viedo-vip-new"></i></p>
                  <p class="site-piclist_icons"> 
                    
                   </p>
                </a> 
              </div>
              
              <div class="site-piclist_info">
                <p class="site-piclist_info_title"><a rseat="tname_1" alt="[vod:name]" title="[vod:name]" href="[vod:link]">[vod:name]</a></p>
                <p class="site-piclist_info_describe" title="[vod:contenttext len=8]">[vod:contenttext len=8]</p>
              </div>
            </li>
          

  {/maccms:vod}
          
            

          
        </ul>
      </div>
    </div>
  </div>
</div>
          </div>
		  
          

		  
		  

        </div>
        <div class="wrapper-right">
          <div data-pb="tmplt=longmovietplt"  id="block-J">
            

          <div data-pb="tmplt=longmovietplt"  id="block-K">
            
    <div id="widget-tab-3" data-tabname="fengyunbang" data-widget-hoverclick="true" data-widget-lazyloadcontent="10">
      
          <div class="play-title mb15">
            <h2 class="play-title-bd">热门排行榜<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span></h2>
          </div>
          <div class="play-tab-music clearfix">
            <a class="selected" href="javascript:void(0)" data-tab-title="widget-tab-3" data-seq="1" data-lazyhover="true" >最新</a>
            <a class="" href="javascript:void(0)" data-tab-title="widget-tab-3" data-elem="tabtitle" data-seq="2" data-lazyhover="true" >热门</a>
          </div>
          <div class="music-xqLink"><a href="/?m=vod-type-id-1.html" target="_blank" rseat="xqing" title="详情">详情&gt;</a></div>
        <div class="play-rank" data-tab-body="widget-tab-3" >
          
            <!--qidan-->
              {maccms:vod num=1 order=desc type=1 by=daytime}
            <div class="mod-piclist-280158">
              <div class="site-piclist_pic"> 
                <a class="site-piclist_pic_link"  data-qidanadd-status="0" href="[vod:link]" alt="[vod:name]" title="[vod:name]"    > 
                  
                  <img width="100%" height="100%" alt="[vod:name]" title="[vod:name]" data-lazy="[vod:pic]"  >
                  
                    <p class="site-piclist_icons" rseat="fyp_1"> 
                      
                   
                      
                    </p>
                  
                  <i class="fs-icons fs-hot" rseat="ele1">1</i>
                  <div class="mod-piclist-ft">
                    <p rseat="lefttxt_1" class="textOverflow">[vod:name]</p>
                  </div>
                </a> 
              </div>
            </div>
                    {/maccms:vod}
          <ul class="play-rank-item">
              {maccms:vod num=9 order=desc type=1 by=time}
              <li class="clearfix"><span class="ordinary def-ordinary">[vod:num]</span> <a  href="[vod:link]" alt="[vod:name]" title="[vod:name]" class="tit-ordinary" rseat="wzlink_1">[vod:name]</a><span class="play-rank-nums">[vod:hits]</span> 
                
                    <i class="site-icons unbiased-ico"></i>
                  
              </li>
            {/maccms:vod}
          </ul>
        </div>
      
        <div class="play-rank" data-tab-body="widget-tab-3" style="display:none">
          
            <!--qidan-->
              {maccms:vod num=1 order=desc type=1 by=dayhits}
            <div class="mod-piclist-280158">
              <div class="site-piclist_pic"> 
                <a class="site-piclist_pic_link"  data-qidanadd-status="0" href="[vod:link]" alt="[vod:name]" title="[vod:name]"   data-qidanadd-exclusive="0" data-qidanadd-vip="0" data-widget-qidanadd="qidanadd" data-qidanadd-tvid="336144100" data-qidanadd-channelid="1" data-qidanadd-hoverclass="show-favorites" data-qidanadd-hovertext= "collect" > 
                  
                  <img width="100%" height="100%" alt="[vod:name]" title="[vod:name]" data-lazy="[vod:pic]" rseat="fyimg_1" >
                  
                    <p class="site-piclist_icons" rseat="fyp_1"> 
                      
                   
                      
                    </p>
                  
                  <i class="fs-icons fs-hot" rseat="ele1">1</i>
                  <div class="mod-piclist-ft">
                    <p rseat="lefttxt_1" class="textOverflow">[vod:name]</p>
                  </div>
                </a> 
              </div>
            </div>
                    {/maccms:vod}
          
          <ul class="play-rank-item">
            
                          {maccms:vod num=9 order=desc type=1 by=hits}
              <li class="clearfix"><span class="ordinary def-ordinary">[vod:num]</span> <a  href="[vod:link]" alt="[vod:name]" title="[vod:name]" class="tit-ordinary" rseat="wzlink_1">[vod:name]</a><span class="play-rank-nums">[vod:hits]</span> 
                
                    <i class="site-icons unbiased-ico"></i>
                  
              </li>
            {/maccms:vod}
            
          </ul>
        </div>
      
    </div>
  
          </div>
          
 


          
 
<!--  右侧图片2 Start  -->
<div id="1000000000200" class="box_right rightAdv mt30"  style="position:relative;">

</div>
<!-- 右侧图片2 End -->
        </div>
      </div>
{maccms:foot}
 </div> 


 <div data-vlibplayhistory-client="pc"></div> 
 
 
<script type="text/javascript">
  Q.projectName = 'qiyiV2';
  Q.load("playLongSource");
</script>


 </body>
 </html>