
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
<title>电视剧大全-最新电视剧，热播电视剧，电视剧排行榜-爱奇艺</title>
<meta name="title" content="电视剧大全-最新电视剧，热播电视剧，电视剧排行榜-爱奇艺">
<meta name="keywords" content="电视剧,电视剧大全,最新电视剧,,国产剧,美剧,港剧,台剧,日剧,韩剧,,热播剧,电视剧在线观看, 热播电视剧,电视剧排行榜">
<meta name="description" content="爱奇艺电视剧大全提供当下最新、热播电视剧在线观看服务，同步更新全网跟播电视剧，提供内地电视剧、美剧,港剧,台剧,日剧,韩剧、等经典电视剧在线观看服务。">
 {maccms:include}
</head>
<body class="qypage-980" data-body-wigdet="body">
<script type="text/javascript">
    window.Q = window.Q || {};
    Q.PageInfo = Q.PageInfo || {};
    Q.PageInfo.respInfo = {
        cnf : [ {
            layout : 0,
            cls : 'qypage-980',
            range : {
                min : 0,
                max : 1259
            },
            extraInfo : {}
        }, {
            layout : 1,
            cls : 'qypage-1180',
            range : {
                min : 1260,
                max : Number.MAX_VALUE
            },
            extraInfo : {}
        } ],
        curLayout : 0
    }
</script>
<script>
    (
            function() {
                var body = Q.$('body');
                var width = Q.page.getViewWidth() > Q.page
                        .getWidth() ? Q.page.getWidth() : Q.page
                        .getViewWidth();
                if (Q && Q.PageInfo && Q.PageInfo.respInfo) {

                    var cnf = Q.PageInfo.respInfo.cnf;
                    body
                            .removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
                    for (var i = 0; i < cnf.length; i++) {
                        if (width >= cnf[i].range.min
                                && width <= cnf[i].range.max
                                && !body.hasClass(cnf[i].cls)) {
                            body.addClass(cnf[i].cls);
                            Q.PageInfo.respInfo.curLayout = cnf[i].layout;
                            break;
                        }
                    }
                }
            })();
</script>
<div class="page-search">
{maccms:head}

<div class="focus-search focus-search_v clearfix focus_tj">
<div class="focusTline">
</div>
<div id="block-C" data-block-name="焦点图">

<div class="focus-search-tabScroll_pic"
data-widget-qiyupingback="indexFocus"
data-qiyupingback-ppuid="2186622738"
data-qiyupingback-uid="73de0f26505b2fea7fb02dc6236ae233"
data-qiyupingback-eventid="c894926084d2d898f26c0c3c889e5436"
data-qiyupingback-cid="1"
data-qiyupingback-bkt="ysdq_salmon20_freshness_ctr_temp"
data-qiyupingback-area="ysdq_salmon"
data-qiyupingback-p2="9005"
data-qiyupingback-path="2"
data-widget-indexfocus="indexFocus"
data-indexfocus-disableanim="100"
data-indexfocus-textshowtime="10"
data-indexfocus-trigger="mouseover"
data-interval="5000">
<div class="pic_btnLeft">
<a href="javascript:;" class="search-focus_btnLeft" data-indexfocus-change="prev_btn">
</a>
</div>
<div class="pic_btnRight">
<a data-indexfocus-change="next_btn" href="javascript:;" class="search-focus_btnRight">
</a>
</div>
<div class="position-focusSearch_mainList">
<ul class="focusSearch_mainList" data-indexfocus-elem="bigPics">
{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
<li style="background-image: url([vod:picslide]); display: block; opacity: 1;">
<a data-play-rseat="btn1"
data-rseat="name1"
data-qiyupingback-elem="item"
data-qiyupingback-idx="0"
data-qiyupingback-taid="205350714"
data-qiyupingback-tcid="1"
hidefocus="true"
data-indexfocus-elem="currentPlayPage"
data-indexfocus-currenttitleelem="[vod:name]"
data-indexfocus-title="[vod:name]"
data-indexfocus-description="[vod:contenttext len=12]"
rseat="img1"
href="[vod:link]" target="_blank">
<i class="scroll_tip tip_fufei"></i>
</a>
</li>
   {/maccms:vod} 
</ul>
</div>
 <div class="focus-search-tabScroll_title clearfix"> 
 <div class="tabScroll_l_block" data-private-display="block" data-indexfocus-elem="playPageWrap"> 
{maccms:vod num=1 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <div class="btn_wrap"> <a target="_blank" class="focusSearch_btn" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" href="[vod:link]" title="[vod:name]" data-indexfocus-playelem="playBtn" data-indexfocus-elem="playBigBtn" rseat="btn"></a> </div> 
 <div class="desc_wrap"> <a target="_blank" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" class="title" title="[vod:name]" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainTitle" rseat="listem">[vod:name]</a> <a href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainDescription" target="_blank" class="subTle" title="[vod:name]">[vod:content len=20]...</a> </div> 
  {/maccms:vod}
 </div> 

 <ul data-indexfocus-elem="smallPics" class="scroll_area"> 
{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <li data-indexfocus-index="[vod:num]" class="{if-A:[vod:num] = 1}selected{endif-A}"><a rseat="sele[vod:num]" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="[vod:num]" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" target="_blank"></a></li> 
  {/maccms:vod}

 </ul>
 </div> 
</div>

 </div>
<div id="block-G" data-block-name="频道列表">
<div class="search-tab-list search-tab-list_noTab" data-widget-tab="tab" data-tab-changedelay="0" data-widget-disabletitleclickevt="false">
<div class="tab-body">
 <ul class="top-list"> 
  {maccms:vod num=10 by=time type=2 order=desc }  
 <li class="top"><a class="tip" rseat="3_namecount1">[vod:num]</a><a title="[vod:name]" class="title title_new0529" href="[vod:link]" rseat="3topname1" target="_blank">[vod:name]</a> <a title="[vod:name] " class="desc desc_new0529" href="[vod:link]" rseat="3cname1" target="_blank">                                    {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}</a></li> 
 	{/maccms:vod}
</ul> 


</div>
</div>
</div>
</div>

    <div class="wrapper-content wrapper-content-300 clearfix">
        <div class="site-main">
      <div id="block-D" data-block-name="分类">
<div class="mod-classes-blcoks mod-classes-blcoks-4items mb10 clearfix">
<div class="classes-blcoks_item3 pl0">
<dl class="classes-blcoks">
<dt>
<h4 title="类型" alt="类型" rseat="类型">类型</h4>
</dt>
<dd>

		{maccms:class type=auto}
<a class="null" href="[class:link]" rseat="title4_1" alt="[class:name]" title="[class:name]" target="_blank">[class:name]</a>
		   {/maccms:class}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="地区" alt="地区" rseat="地区">地区</h4>
</dt>
<dd>
		  {maccms:area type=auto order=asc}
	
<a class="null" href="[area:link]" rseat="title2_1" alt="[area:name]" title="[area:name]" target="_blank">[area:name]</a>
	  {/maccms:area}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="年代" alt="年代" rseat="年代">年代</h4>
</dt>
<dd>
			{maccms:year type=auto start=2008 end=2015 order=desc}
	<a class="null" href="[year:link]" rseat="title3_1" alt="[year:name]" title="[year:name]" target="_blank">[year:name]</a>
            {/maccms:year}


</dd>
</dl>
</div>
<div class="classes-blcoks_item3">
<dl class="classes-blcoks">
<dt>
<h4 title="热点" alt="热点">热点</h4>
</dt>
<dd>

                        <a href="index.php?m=vod-search-wd-虎妈猫爸" class="red"  rseat="title4_0" alt="虎妈猫爸" title="虎妈猫爸" target="_blank">虎妈猫爸</a>
                        <a href="index.php?m=vod-search-wd-傲魂之活死人" class="null"  rseat="title4_1" alt="傲魂之活死人" title="傲魂之活死人" target="_blank">傲魂之活死人</a>
                        <a href="index.php?m=vod-search-wd-特警力量" class="red"  rseat="title4_2" alt="特警力量" title="特警力量" target="_blank">特警力量</a>
                        <a href="index.php?m=vod-search-wd-于无声处" class="null"  rseat="title4_3" alt="于无声处" title="于无声处" target="_blank">于无声处</a>
                        <a href="index.php?m=vod-search-wd-聊斋新编" class="red"  rseat="title4_4" alt="聊斋新编" title="聊斋新编" target="_blank">聊斋新编</a>
                        <a href="index.php?m=vod-search-wd-何以笙箫默" class="null"  rseat="title4_5" alt="何以笙箫默" title="何以笙箫默" target="_blank">何以笙箫默</a>
                        <a href="index.php?m=vod-search-wd-下一站婚姻" class="red"  rseat="title4_6" alt="下一站婚姻" title="下一站婚姻" target="_blank">下一站婚姻</a>
                        <a href="index.php?m=vod-search-wd-少年四大名捕" class="null"  rseat="title4_7" alt="少年四大名捕" title="少年四大名捕" target="_blank">少年四大名捕</a>


</dd>
</dl>
</div>
</div> </div>

            <div class="wrapper-cols">
                <div class="site-main-outer">
                    <div class="site-main-inner" id="block-E" data-block-name="同步跟播">
<div class="searchList-title clearfix">
    <div class="searchList-title-right">
    </div>
    <div class="searchList-title-left">
        <h3 rseat="同步跟播">同步跟播</h3>
    </div>
</div>

<div class="wrapper-piclist">
    <ul class="site-piclist site-piclist-15587">
	 {maccms:vod num=5 type=12 by=time order=desc}
                    <li>
                        <div class="site-piclist_pic">
                            <a class="site-piclist_pic_link" href="[vod:link]"
                               title="[vod:name]" target="_blank">
                                <img width="100%" height="100%"
                                     src="[vod:pic]"
                                     alt="[vod:name]"
                                     title="[vod:name]"
                                     rseat="img1" />
                            </a>
                        </div>
                        <div class="site-piclist_info">
                            <p class="site-piclist_info_title">
                                <a href="[vod:name]" title="[vod:name]" rseat="name1" target="_blank">[vod:name]</a>
                            </p>
                            <p class="site-piclist_info_describe" rseat="subTitle1">[vod:addtime]同步卫视</p>
                        </div>
                    </li>
					   {/maccms:vod} 
                  
    </ul>
</div>
<div class="wrapper-piclist">
    <ul class="site-piclist site-piclist-15587">
                  	 {maccms:vod num=5 type=13 by=time order=desc}
                    <li>
                        <div class="site-piclist_pic">
                            <a class="site-piclist_pic_link" href="[vod:link]"
                               title="[vod:name]" target="_blank">
                                <img width="100%" height="100%"
                                     src="[vod:pic]"
                                     alt="[vod:name]"
                                     title="[vod:name]"
                                     rseat="img1" />
                            </a>
                        </div>
                        <div class="site-piclist_info">
                            <p class="site-piclist_info_title">
                                <a href="[vod:name]" title="[vod:name]" rseat="name1" target="_blank">[vod:name]</a>
                            </p>
                            <p class="site-piclist_info_describe" rseat="subTitle1">[vod:addtime]同步卫视</p>
                        </div>
                    </li>
					   {/maccms:vod} 
    </ul>
</div>
<div class="wrapper-piclist">
    <ul class="site-piclist site-piclist-15587">
                  	 {maccms:vod num=5 type=14 by=time order=desc}
                    <li>
                        <div class="site-piclist_pic">
                            <a class="site-piclist_pic_link" href="[vod:link]"
                               title="[vod:name]" target="_blank">
                                <img width="100%" height="100%"
                                     src="[vod:pic]"
                                     alt="[vod:name]"
                                     title="[vod:name]"
                                     rseat="img1" />
                            </a>
                        </div>
                        <div class="site-piclist_info">
                            <p class="site-piclist_info_title">
                                <a href="[vod:name]" title="[vod:name]" rseat="name1" target="_blank">[vod:name]</a>
                            </p>
                            <p class="site-piclist_info_describe" rseat="subTitle1">[vod:addtime]同步卫视</p>
                        </div>
                    </li>
					   {/maccms:vod} 
    </ul>
</div>
                    </div>
                </div>
                <div class="site-main-side">
                    <div class="new-yugao mb20" id="block-AB" data-block-name="新片预告">
<div class="widget-slidewidget-0"
    data-slide-name="xinPianYuGaoSlide"
    data-slide-autoplay="true"
    data-slide-interval="5000"
    data-slide-circle="true"
    data-slide-step="1"
    data-slide-disp="1"
    data-slide-enabletouch="true"
    data-slide-enablescroll="true"
    data-slide-disablewheel="true"
    data-slide-lbtnclass="disabled"
    data-slide-rbtnclass="disabled"
    data-slide-usedefaultoffset="true"
    data-slide-style="marginLeft"
    data-slide-dura="1000">
    <div class="site-title">
        <div class="site-title_left">
            <h3 class="pr">
                <span rseat="新片预告" class="title-index">新片预告</span>

            </h3>
        </div>
    </div>

    <div class="new-yugao-wrap" data-slide-elem="content">
        <ul class="yugao-scroll-content" data-slide-elem="list">
		 {maccms:vod num=5 type=14 by=time order=desc}
                                    <li data-slide-elem="item" data-seq="1">
                            <div class="new-yugao-con clearfix">
                                <div class="yugao-con-lt fl">
                                    <a target="_blank" href="[vod:link]">
                                        <img src="[vod:pic]" title="《[vod:name]》即将首播 [vod:contenttext len=8]" alt="《[vod:name]》即将首播 [vod:contenttext len=8]" rseat="img1" />
                                    </a>
                                </div>
                                <div class="yugao-con-rt fl">
                                    <a target="_blank" href="[vod:link]" rseat="name1">《[vod:name]》即将首播 [vod:contenttext len=8]</a>
                                </div>
                            </div>
                        </li>
             {/maccms:vod} 
        </ul>
    </div>
</div>
                    </div>
                    <div class="side-border" id="block-F" data-block-name="百度电视剧风云榜">
<div class="site-title">
    <div class="site-title_right"></div>
    <div class="site-title_left">
        <h3><span>百度电视剧风云榜</span></h3>
    </div>
</div>

<div class="mod-search-topList">
    <ul class="search-topList clearfix">
	 {maccms:vod num=10 type=2 by=hits order=desc}
                            <li>
                        <a href="[vod:link]" class="topList-item" title="[vod:name]"
                           target="_blank">

                            <i class="topList-num hot">[vod:num]</i>
                            <em class="topList-title" rseat="topTitle1">[vod:name]</em>
                            <em class="topList-desc">
                                    {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}
                            </em>
                        </a>
                    </li>
     {/maccms:vod} 
    </ul>
</div>                    </div>
                </div>
            </div>


            <div class="wrapper-cols mt15" id="block-AA" data-block-name="专辑精选">
<div class="searchList-title clearfix">
    <div class="searchList-title-left">
        <h3 rseat="热点八卦">专题精选</h3>
    </div>
</div>
<div class="clearfix">
    <div class="wrapper-piclist">
        <ul class="site-piclist site-piclist-220100 movieLib-picList-lineTwo">
		{maccms:topic num=5 id=all table=vod}
                <li>
                    <div class="site-piclist_pic">
                        <a target="_blank" title="[topic:name]" href="[topic:link]"
                           class="site-piclist_pic_link">
                            <img width="100%" height="100%" rseat="img_0" title="[topic:name]" alt="[topic:name]"
                                 src="[topic:pic]">
                        </a>
                    </div>
                    <div class="site-piclist_info">
                        <p class="site-piclist_info_title">
                            <a target="_blank" rseat="name_0" title="[topic:name]" href="[topic:link]">[topic:name]</a>
                        </p>
                        <p rseat="subTitle_0" class="site-piclist_info_describe">[topic:content len=12]</p>
                    </div>
                </li>

{/maccms:topic}

        </ul>
    </div>
</div>

            </div>

           
            
 {maccms:matrix type=12,13,14,15 table=vod} 
            <div class="wrapper-cols">
                <div class="site-main-outer">
                    <div class="site-main-inner" id="block-R" data-block-name="[matrix:name]">
<div class="searchList-title clearfix">
    <div class="searchList-title-right">

        <a href="[matrix:link]" class="more" target="_blank"
           rseat="more">更多&gt;</a>

    </div>
    <div class="searchList-title-left">
        <h3 rseat="[matrix:name]">[matrix:name]</h3>
    </div>
</div>
<div class="wrapper-piclist">
    <ul class="site-piclist site-piclist-155203">
	  {maccms:vod num=5 type=[matrix:id] by=time order=desc}
                    <li>
                    <div class="site-piclist_pic">
                        <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                            <img width="100%" height="100%"
                                 src="[vod:pic]"
                                 alt="[vod:name]" title="[vod:name]" rseat="img1">

                            <div class="wrapper-listTitle ">
                                <div class="mod-listTitle">
                                    <div class="mod-listTitle_left" rseat="itemSubordinateTitle1"></div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="site-piclist_info">
                        <p class="site-piclist_info_title">
                            <a href="[vod:link]" title="[vod:name]" rseat="itemName1" target="_blank">[vod:name]</a>
                        </p>
                        <p class="site-piclist_info_describe" rseat="itemPrompt1">[vod:contenttext len=8]</p>
                    </div>
                </li>
                {/maccms:vod}
    </ul>
</div>


                    </div>
                </div>
                <div class="site-main-side">
                    <div class="side-border" id="block-S" data-block-name="[matrix:name]排行">
<div class="site-title">
    <div class="site-title_right"></div>
    <div class="site-title_left">
        <h3><span>[matrix:name]排行</span></h3>
    </div>
</div>

<div class="mod-search-topList">
    <ul class="search-topList clearfix">
		 {maccms:vod num=9 type=[matrix:id] by=dayhits order=desc}
                            <li>
                        <a href="[vod:link]" class="topList-item" title="[vod:name]"
                           target="_blank">

                            <i class="topList-num" >[vod:num]</i>
                            <em class="topList-title" rseat="topTitle1">[vod:name]</em>
                            <em class="topList-desc">
                                                           {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}
                            </em>
                        </a>
                    </li>
                		{/maccms:vod}   
    </ul>
</div>                    </div>
                </div>
            </div>
	 {/maccms:matrix}  
           

        </div>
    </div>
{maccms:foot}
</div>

<div class="baseScrollBar" id="widget-vscrollbar">
    <ul class="baseScrollBar_menus">
        <li data-widget-totopbtn="totop" data-totopbtn-time="150" data-totopbtn-hoverclass="selected" data-totopbtn-undownclass="unEffective">
            <a href="javascript:void(0);" class="baseToTop" title="回顶部" data-totopbtn-totop="show"></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="helpFeedback" title="帮助及反馈" id="widget-feedbackbtn"></a>
        </li>
    </ul>
</div>
<script type="text/javascript">
Q.projectName = 'qiyiV2';
Q.load("movieLibMovIndex");
</script>
</body>
</html>