<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>[vod:name]-电影-高清完整版在线观看-爱奇艺</title>
  <meta name="title" content="[vod:name]-电影-高清完整版在线观看-爱奇艺" />
  <meta name="keywords" content="[vod:name]，[vod:name]在线观看，[vod:name]电影，[vod:name]完整版，由 宋慧乔 陈乔恩 邬君梅 伊能静 窦骁 杨佑宁 郑元畅 姜武 秦昊等主演的，The Queens" />	
  <meta name="description" content="[vod:name]是由伊能静导演，由 宋慧乔 陈乔恩 邬君梅 伊能静 窦骁 杨佑宁 郑元畅 姜武 秦昊等主演的电影，于20150517上映;爱奇艺为你提供[vod:name]免费在线观看和下载，并提供[vod:name]的剧情,经典台词,精彩剧评和看点等相关资讯。" />
  <meta  name="irTitle" content="[vod:name]" />
  <meta  name="irAlbumName" content="[vod:name]" />
  <meta  name="irCategory" content="电影" />
<link rel="stylesheet" type="text/css" href="{maccms:path_tpl}css/v3-basic_other.css" />
<link href="{maccms:path_tpl}css/play-long.css" rel="stylesheet" type="text/css">					
 <link href="{maccms:path_tpl}css/home.css" rel="stylesheet" type="text/css" />
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/sea1.2.js"></script>	


<script type="text/javascript">
  window.Q = window.Q || {};
  Q.PageInfo = Q.PageInfo || {};
  Q.PageInfo.playPageInfo = {
    albumId: 360088500,
    tvId: 360088500,
    cid: 1,
    userId: 0,
    sourceId:0,
    tvYear:201505,
    vType:'video'
  };
  Q.PageInfo.clientDownloadUrl="/";
  
  Q.PageInfo.respInfo = {cnf:[{layout: 0, cls: "qypage-980", range: {min: 0, max: 1179}, extraInfo: {playListViewCount: 4,actorTotal:6, actorHideNum: 5},viewHeight : 160},{layout: 1, cls: "qypage-1180", range: {min: 1180, max: 1439}, extraInfo: {playListViewCount: 5,actorTotal:6, actorHideNum: 4},viewHeight : 200},{layout: 2, cls: "qypage-1440", range: {min: 1440, max: 1679}, extraInfo: {playListViewCount: 6,actorTotal:6, actorHideNum: 3},viewHeight : 240},{layout: 3, cls: "qypage-1680", range: {min: 1680, max: 1897}, extraInfo: {playListViewCount: 7,actorTotal:6, actorHideNum: 2},viewHeight : 240},{layout: 4, cls: "qypage-1920", range: {min: 1898, max: 20000}, extraInfo: {playListViewCount: 8,actorTotal:6, actorHideNum: 1},viewHeight : 240}], curLayout: 0};
  
</script>

  </head>
  <body class="qypage-980">
     


     

  

<span style="display:none;" data-responsivelayout-param="qypage-980=_1180&qypage-1180=1180" data-widget-responsivelayout="responsivelayout"></span>
<script type="text/javascript">
  (function () {
    if(!(Q.browser.IE6||Q.browser.IE7)){
    var body = Q.$('body');
    var width = Q.page.getViewWidth() > Q.page.getWidth() ? Q.page.getWidth() : Q.page.getViewWidth();
    if (Q && Q.PageInfo && Q.PageInfo.respInfo) {
      var cnf = Q.PageInfo.respInfo.cnf;
      body.removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
      for (var i = 0; i < cnf.length; i++) {
        if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) {
          body.addClass(cnf[i].cls);
          Q.PageInfo.respInfo.curLayout = cnf[i].layout;
          break;
        }
      }
    }
  }
  })();
</script>


 
<!-- -->

<span
  data-widget-flashplayerparam="movie"
  data-flashplayerparam-flashurl=""
  data-flashplayerparam-flashvars="flashP2PCoreUrl=&components=feffbfe6e0&cid=qc_100001_100014&adurl=&videoIsFromQidan=lianbo"
  style="display:none;">
</span>

  
  <span
  data-widget-flashplayerparam="coupon"
  data-flashplayerparam-flashurl=""
  data-flashplayerparam-flashvars="cpnc=c18fc58a408fda422ff54477497f6ea1&cpnv=1.0" style="display:none;">
  </span>
 
<span 
    data-widget-flashplayerparam="flashP2PCoreUrl"
    data-flashplayerparam-flashurl=""
	data-flashplayerparam-flashvars="flashP2PCoreUrl="
    style="display:none;"></span>


{maccms:load head.html}

 
<!-- -->
      <!-- 播放器区 -->
      <div class="flashMain_channel flashMain_channel_vip" >
        <div  id="block-B">
          <div id="flashArea">
		  <br>
		  <center>
			 [vod:playerinfo][vod:player]
 
</center>
            <div data-switchlight-disablescroll="true" data-widget-switchlight="light" style="position: relative;" class="container pt10 padplay">
              


              <div class="videoArea-flash">
                <!--flash播放器 开始-->
                
<!-- -->



<!-- 疯狂前贴 Start -->
<script type="text/javascript">
    function initCrazy(crazyUrl, crazyId, width, height, minWidth, wminWidth) {
        var isResponsive = true;
        if (Q.browser.IE6 || Q.browser.IE7) {
          // IE6/7没有响应式
          isResponsive = false;
        }

        var wrapper = document.createElement('div');
        var element = document.createElement('div');
        var ifr = document.createElement('iframe');
        
        var wrapperMinW = wminWidth || 1000;
        var elementMinW = minWidth || 980;
        var elementMaxW = width;
        var elementW = '100%';
        if (!isResponsive) {
          // 非响应式则设定为固定宽度
          elementW = elementMinW + 'px';
        }
        
        wrapper.id = 'crazy' + crazyId;
        wrapper.style.cssText = 'position:absolute;left:0px;top:-5000px;z-index:3;width:100%;height:' + height + 'px;min-width:' + wrapperMinW + 'px;';
        
        element.id = 'flash' + crazyId;
        element.style.cssText = 'position:relative;z-index:3;width:' + elementW + ';height:100%;margin:0 auto;max-width:' + elementMaxW +'px;min-width:' + elementMinW + 'px;';
        element.innerHTML = createSwfObject(crazyUrl, crazyId, '100%', '100%');
        
        ifr.style.cssText = 'left:0px;top:0px;width:100%;height:100%;position:absolute;z-index:1;background-color:#000';
        
        element.appendChild(ifr);
        wrapper.appendChild(element);
        document.body.appendChild(wrapper);
    }

    function createSwfObject(url, crazyId, width, height) {
        var wm = 'opaque';
        if (Q.browser.SAFARI) {
            wm = 'window';
        }
        var opts = {};
        opts.id = 'adflash' + crazyId;
        opts.width = width;
        opts.height = height;
        opts.params = {
            'wMode': wm
        };
        opts.vars = {
            'playerId': 'flash',
            'creativeId': crazyId
        };
        opts.styles = {
            'position': 'absolute',
            'z-index': '2'
        };
        
        return Q.flash.create(url, opts);            
    }

    function showCrazy(crazyId) {        
      var top = Q.$('#flash').top() + 1; // 错位1像素可使底下的播放器露出来从而避免在FF等浏览器上因flash被遮盖而代码不执行的bug，UI上不影响
        var wrapper = document.getElementById('crazy' + crazyId);
        if (wrapper) {
            wrapper.style.top = top + 'px';
        }
    }
    
    function resizeCrazy(crazyId, width, height) {
        var wrapper = document.getElementById('crazy' + crazyId);
        var element = document.getElementById('flash' + crazyId);
        if (wrapper) {
          wrapper.style.height = height + 'px';
        }
        if (element) {
          element.style.maxWidth = width + 'px';
        }
    }

    function closeCrazy(crazyId) {
        var wrapper = document.getElementById('crazy' + crazyId);
        if (wrapper) {
            wrapper.innerHTML = '';
            document.body.removeChild(wrapper);
        }
    }
</script>
<!-- 疯狂前贴 End -->


    


              </div>
            </div>
            <div class="container">
              
    </div>
    
    
    <!--分享弹层-->
  </div>

</div>


                    </div>
                    
<!-- -->


                  </div>
                </div>
                <!-- 新版功能区 end-->
              </div>
          </div>
        </div>
      </div>
      <!-- 播放器区 end-->
      <div class="mod-breadcrumb" data-pb="tmplt=longmovietplt" id="block-E">
        

<div class="wrapper wrapper-dianying">
  <div class="wrapper-left">
    <div class="mod-play-tits">
      
          <h1 class="mod-play-tit" id="widget-videotitle">[vod:name]
          </h1>
        
    </div>
    
    <div class="mod-crumb_ft">
      <div class="mod-crumb_bar"> 
        <span class="mod-play_tags vl-block" id="datainfo-navlist"> 
          
            <a rseat="bread2_1" class="green" title="爱奇艺首页" href="{maccms:path}">首页</a>&gt;
            <a rseat="bread2_2" class="green" title="[vod:typename]" href="[vod:typelink]">[vod:typename]</a>&gt;
            <a rseat="bread2_3" class="green" title="[vod:name]" href="[vod:link]">[vod:name]</a>
        </span> 
        <span class="mod-tags_item vl-block" id="datainfo-taglist"> 
          
 [vod:time style=y-m-d]
          
          
        </span> 
      </div>
      <div class="mod-source">
        <div rseat="播放" data-toggle-class="playNums-hover" id="playcountWrapper" class="playNums">
          <a id="chartTrigger" class="mod-play-source" href="#">
            播放：<span  >[vod:hits]</span> 
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-right mt15" id="widget-appdown-random1" data-widget-appdown="container">
    <a class="mod-appDownload mod-appDownload-play" href="/" title="下载爱奇艺视频桌面版" >
      <span class="appDownload_title">用爱奇艺视频桌面版</span>
      <span class="appDownload_desc">看视频，快三倍！</span>
    </a>
  </div>

  <script type="text/javascript">
    (function(){
      function change(){
        var current = index++%domsarr.length;
        for (var i = 0; i < domsarr.length; i++) {
          var tempEl = domsarr[i];
          if(i===current){
            if(current==1){
              tempEl.css("height","");
              tempEl.css("visibility","visible");
              tempEl.show();
            }else{
              tempEl.show();
            }
          }else{
            if(i==1){
              tempEl.css("height",0);
              tempEl.css("visibility","hidden");
            }else{
              tempEl.hide();
            }
          }
          
        }
      }
      var domsarr = [];
      Q.$('#widget-appdown-random1')&&domsarr.push(Q.$('#widget-appdown-random1'));
      !Q.browser.iPad&&Q.$("#widget-randomad-container")&&domsarr.push(Q.$("#widget-randomad-container"));
      var len = domsarr.length;
      if(len){
        var index = parseInt((Math.random()) * domsarr.length, 10);
        setInterval(function(){
          change();
        },1000*60*10);
        change();
      }
    })();
  </script>
</div>

      </div>
      <!-- 内容区 -->

      <div class="wrapper wrapper-dianying" data-content-wrapper="wrapper">
        <div class="wrapper-left">
   <div id="leftad" class="leftAd mt25">
<div style="width:660px;height:90px;margin:0 auto;">
<div collection="Y" id="ad-left-tl">
<!-- 左侧通栏 Start -->
555555555

<!-- 左侧通栏 End -->
</div></div>
</div>
                    <div class="wrapper-piclist wrapper-piclist-spread" data-pb="tmplt=longmovietplt"  id="block-H">
            
<div class="play-title mb15 mt40">
  <h2 class="play-title-bd">相关影片<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span> </h2>
</div>
<div style="display: block;" id="widget-iqiyi-hot" data-hot-area="rabbit" data-hot-bkt="rabbit20_main" data-hot-eventid="d2bce00f07362b1ef991e3453f34513e">
  <div class="play-tv-grid data-slide-responsive" id="widget-slidewidget-0"
  data-slide-name="qiyihot" data-slide-disablewheel="true" data-slide-dura="0" data-slide-disp="5" data-slide-step="4" data-slide-itemfocusclass="selcss" data-slide-enablescroll="true"
  data-slide-lbtnclass="disabled" data-slide-rbtnclass="disabled" data-slide-usedefaultoffset="true">
    <div class="gridCtrol gridCtrol-160210">
      <a class="disabled" data-slide-elem="pbtn" href="javascript:void(0);">
        <i class="p-arrL"></i>
      </a>
      <a href="javascript:void(0);" data-slide-elem="nbtn">
        <i class="p-arrR"></i>
      </a>
    </div>
    <div class="site-piclist-160210-visibleW">
      <div class="site-piclist-160210-scrollW" data-slide-elem="content" data-videoslide-elem="content">
        <ul style="width: 1800px; left: 0px;" class="site-piclist site-piclist-160210 site-piclist-160210-describe play-tv-grid" data-slide-elem="list" data-qiyu-elem="list">    
            {maccms:vod num=10 order=desc type=all by=dayhits}
            
            <li data-slide-elem="item" data-delegate="iqiyi-hot" data-tvid="360088500" data-aid="360088500" data-cid="1" data-idx="0">
              <div class="site-piclist_pic"> 
                <a title="[vod:name]" alt="[vod:name]" href="[vod:link]" class="site-piclist_pic_link" > 
                  
                  <img width="100%" height="100%" data-lazy="[vod:pic]" rseat="timg_1"/>
                  <div class="wrapper-listTitle">
                    <div class="mod-listTitle">
                      <span class="mod-listTitle_right" rseat="right1_1"></span><div class="mod-listTitle_left"><div class="mod-videoMarks"><i class="mark-1080p"></i></div></div>
                    </div>
                  </div>
                  <p class="site-piclist_icons-lt"><i class="site-icons icon-viedo-vip-new"></i></p>
                  <p class="site-piclist_icons"> 
                    
                    <i rseat="sc_1" data-qidanadd-confirmclass="icon-viedo-favorites-confirm" data-qidanadd-ele="sub" class="site-icons icon-viedo-favorites" title="[vod:name]">收藏</i>
                    
                   </p>
                </a> 
              </div>
              
              <div class="site-piclist_info">
                <p class="site-piclist_info_title"><a rseat="tname_1" alt="[vod:name]" title="[vod:name]" href="[vod:link]">[vod:name]</a></p>
                <p class="site-piclist_info_describe" title="[vod:contenttext len=8]">[vod:contenttext len=8]</p>
              </div>
            </li>
          

  {/maccms:vod}
          
            

          
        </ul>
      </div>
    </div>
  </div>
</div>
          </div>
<div id="leftad" class="leftAd mt25">
<div style="width:660px;height:90px;margin:0 auto;">
<div collection="Y" id="ad-left-tl">
<!-- 左侧通栏 Start -->
555555555

<!-- 左侧通栏 End -->
</div></div>
</div>
          <div class="wrapper-piclist wrapper-piclist-spread" data-pb="tmplt=longmovietplt"  id="block-H">
            
<div class="play-title mb15 mt40">
  <h2 class="play-title-bd">影片热播 <span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span> </h2>
</div>
<div style="display: block;" id="widget-iqiyi-hot" data-hot-area="rabbit" data-hot-bkt="rabbit20_main" data-hot-eventid="d2bce00f07362b1ef991e3453f34513e">
  <div class="play-tv-grid data-slide-responsive" id="widget-slidewidget-0"
  data-slide-name="qiyihot" data-slide-disablewheel="true" data-slide-dura="0" data-slide-disp="5" data-slide-step="4" data-slide-itemfocusclass="selcss" data-slide-enablescroll="true"
  data-slide-lbtnclass="disabled" data-slide-rbtnclass="disabled" data-slide-usedefaultoffset="true">
    <div class="gridCtrol gridCtrol-160210">
      <a class="disabled" data-slide-elem="pbtn" href="javascript:void(0);">
        <i class="p-arrL"></i>
      </a>
      <a href="javascript:void(0);" data-slide-elem="nbtn">
        <i class="p-arrR"></i>
      </a>
    </div>
    <div class="site-piclist-160210-visibleW">
      <div class="site-piclist-160210-scrollW" data-slide-elem="content" data-videoslide-elem="content">
        <ul style="width: 1800px; left: 0px;" class="site-piclist site-piclist-160210 site-piclist-160210-describe play-tv-grid" data-slide-elem="list" data-qiyu-elem="list">    
            {maccms:vod num=10 order=desc type=all by=hits}
            
            <li data-slide-elem="item" data-delegate="iqiyi-hot" data-tvid="360088500" data-aid="360088500" data-cid="1" data-idx="0">
              <div class="site-piclist_pic"> 
                <a title="[vod:name]" alt="[vod:name]" href="[vod:link]" class="site-piclist_pic_link" > 
                  
                  <img width="100%" height="100%" data-lazy="[vod:pic]" rseat="timg_1"/>
                  <div class="wrapper-listTitle">
                    <div class="mod-listTitle">
                      <span class="mod-listTitle_right" rseat="right1_1"></span><div class="mod-listTitle_left"><div class="mod-videoMarks"><i class="mark-1080p"></i></div></div>
                    </div>
                  </div>
                  <p class="site-piclist_icons-lt"><i class="site-icons icon-viedo-vip-new"></i></p>
                  <p class="site-piclist_icons"> 
                    
                   </p>
                </a> 
              </div>
              
              <div class="site-piclist_info">
                <p class="site-piclist_info_title"><a rseat="tname_1" alt="[vod:name]" title="[vod:name]" href="[vod:link]">[vod:name]</a></p>
                <p class="site-piclist_info_describe" title="[vod:contenttext len=8]">[vod:contenttext len=8]</p>
              </div>
            </li>
          

  {/maccms:vod}
          
            

          
        </ul>
      </div>
    </div>
  </div>
</div>
          </div>
		  
          
		  <div class="wrapper-piclist wrapper-piclist-spread" data-pb="tmplt=longmovietplt"  id="block-H">
            
<div class="play-title mb15 mt40">
  <h2 class="play-title-bd">影片评论<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span> </h2>
</div>
<div style="display: block;" id="widget-iqiyi-hot" data-hot-area="rabbit" data-hot-bkt="rabbit20_main" data-hot-eventid="d2bce00f07362b1ef991e3453f34513e">
  <div class="play-tv-grid data-slide-responsive" id="widget-slidewidget-0"
  data-slide-name="qiyihot" data-slide-disablewheel="true" data-slide-dura="0" data-slide-disp="5" data-slide-step="4" data-slide-itemfocusclass="selcss" data-slide-enablescroll="true"
  data-slide-lbtnclass="disabled" data-slide-rbtnclass="disabled" data-slide-usedefaultoffset="true">
  <!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1531800"></script>
<!-- UY END -->

  </div>
</div>
          </div>
		  
		  

        </div>
        <div class="wrapper-right">
          <div data-pb="tmplt=longmovietplt"  id="block-J">
            
<div class="play-title mb15"><h2 class="play-title-bd">节目信息<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span></h2></div>


<div class="mod-jiemu-msg mb30"  >
  
      <!-- 活动通知 -->
      <div class="play-notify" data-widget-activity="activityshowbox" style="display:none;">
      </div>
      <!-- 活动通知 end-->
    
  <div class="jiemu-people pr">
    
        <h2 class="jiemu-tit"><a class="mr5" href="[vod:link]" title="[vod:name]"><span>[vod:name]</span></a></h2>

        
    <p id="datainfo-director" style="display:block;"><span class="type-tit">导演：</span>
      <span class="type-con" id="datainfo-director-list">
        
        [vod:directedlink] 
          
      </span>
    </p>
    
    
    <p id="datainfo-actor" style="display:block;"><span class="type-tit">主演：</span>
      <span class="type-con" id="datainfo-actor-list">
        
[vod:starringlink]
      </span>
      </p>
      
      
      <p id="datainfo-guest" style="display:none;"><span class="type-tit">嘉宾：</span>
        <span class="type-con" id="datainfo-guest-list">
          
        </span>
      </p>
      
    
    
    
      <p id="datainfo-descwrap" data-albumurlkey="[vod:link]" >
        <span class="type-tit">简介：</span><span class="type-con c-666" id="datainfo-desc-text">[vod:contenttext len=58]..</span>
      </p>
     
      
   <br /> <a href="[vod:link]" id="datainfo-desc-alink" class="green xq-link" alt="详情" title="详情" target="_blank" rseat="detail" style="display:none;">详情&gt;</a>
      <a href="javascript:void(0);" id="data-desc-expend" class="green xq-link" title="详情" rseat="detail" >详情&gt;</a>
      <a href="javascript:void(0);" id="data-desc-collapse" class="green xq-link" style="display:none;" title="收起" rseat="shouqi">&lt;收起</a>
      
    </div>
    

    
  </div>

          </div>
          <div data-pb="tmplt=longmovietplt"  id="block-K">
            
    <div id="widget-tab-3" data-tabname="fengyunbang" data-widget-hoverclick="true" data-widget-lazyloadcontent="10">
      
          <div class="play-title mb15">
            <h2 class="play-title-bd">电影榜<span class="tip_t"><i class="tip_outer"></i><i class="tip_inner"></i></span></h2>
          </div>
          <div class="play-tab-music clearfix">
            <a class="selected" href="javascript:void(0)" data-tab-title="widget-tab-3" data-seq="1" data-lazyhover="true" >最新</a>
            <a class="" href="javascript:void(0)" data-tab-title="widget-tab-3" data-elem="tabtitle" data-seq="2" data-lazyhover="true" >热门</a>
          </div>
          <div class="music-xqLink"><a href="/?m=vod-type-id-1.html" target="_blank" rseat="xqing" title="详情">详情&gt;</a></div>
        <div class="play-rank" data-tab-body="widget-tab-3" >
          
            <!--qidan-->
              {maccms:vod num=1 order=desc type=1 by=daytime}
            <div class="mod-piclist-280158">
              <div class="site-piclist_pic"> 
                <a class="site-piclist_pic_link"  data-qidanadd-status="0" href="[vod:link]" alt="[vod:name]" title="[vod:name]"   data-qidanadd-exclusive="0" data-qidanadd-vip="0" data-widget-qidanadd="qidanadd" data-qidanadd-tvid="336144100" data-qidanadd-channelid="1" data-qidanadd-hoverclass="show-favorites" data-qidanadd-hovertext= "collect" > 
                  
                  <img width="100%" height="100%" alt="[vod:name]" title="[vod:name]" data-lazy="[vod:pic]" rseat="fyimg_1" >
                  
                    <p class="site-piclist_icons" rseat="fyp_1"> 
                      
                   
                      
                    </p>
                  
                  <i class="fs-icons fs-hot" rseat="ele1">1</i>
                  <div class="mod-piclist-ft">
                    <p rseat="lefttxt_1" class="textOverflow">[vod:name]</p>
                  </div>
                </a> 
              </div>
            </div>
                    {/maccms:vod}
          <ul class="play-rank-item">
              {maccms:vod num=9 order=desc type=1 by=time}
              <li class="clearfix"><span class="ordinary def-ordinary">[vod:num]</span> <a  href="[vod:link]" alt="[vod:name]" title="[vod:name]" class="tit-ordinary" rseat="wzlink_1">[vod:name]</a><span class="play-rank-nums">[vod:hits]</span> 
                
                    <i class="site-icons unbiased-ico"></i>
                  
              </li>
            {/maccms:vod}
          </ul>
        </div>
      
        <div class="play-rank" data-tab-body="widget-tab-3" style="display:none">
          
            <!--qidan-->
              {maccms:vod num=1 order=desc type=1 by=dayhits}
            <div class="mod-piclist-280158">
              <div class="site-piclist_pic"> 
                <a class="site-piclist_pic_link"  data-qidanadd-status="0" href="[vod:link]" alt="[vod:name]" title="[vod:name]"   data-qidanadd-exclusive="0" data-qidanadd-vip="0" data-widget-qidanadd="qidanadd" data-qidanadd-tvid="336144100" data-qidanadd-channelid="1" data-qidanadd-hoverclass="show-favorites" data-qidanadd-hovertext= "collect" > 
                  
                  <img width="100%" height="100%" alt="[vod:name]" title="[vod:name]" data-lazy="[vod:pic]" rseat="fyimg_1" >
                  
                    <p class="site-piclist_icons" rseat="fyp_1"> 
                      
                   
                      
                    </p>
                  
                  <i class="fs-icons fs-hot" rseat="ele1">1</i>
                  <div class="mod-piclist-ft">
                    <p rseat="lefttxt_1" class="textOverflow">[vod:name]</p>
                  </div>
                </a> 
              </div>
            </div>
                    {/maccms:vod}
          
          <ul class="play-rank-item">
            
                          {maccms:vod num=9 order=desc type=1 by=hits}
              <li class="clearfix"><span class="ordinary def-ordinary">[vod:num]</span> <a  href="[vod:link]" alt="[vod:name]" title="[vod:name]" class="tit-ordinary" rseat="wzlink_1">[vod:name]</a><span class="play-rank-nums">[vod:hits]</span> 
                
                    <i class="site-icons unbiased-ico"></i>
                  
              </li>
            {/maccms:vod}
            
          </ul>
        </div>
      
    </div>
  
          </div>
          
 
<!-- 右侧图片1 Start -->
<div id="right_ad_1" class="rightAdv mt30" style="">
<div style="width:280px;height:280px;margin:0 auto;">
<div data-widget="ipadadresource_1" style="width:250px; height:250px; position:absolute; left:0; top:0; z-index:6;display:none;"></div>


<!-- 销售部-右侧图片1 start -->
<div style="width:280px;height:280px;overflow:hidden;border-right:1px solid #E7E7E7">
<div>
55555
</div>
<div style="margin-top:-4px">
5555555555
</div>
</div>
<!-- 销售部-右侧图片1 end -->
</div>
</div>
<!-- 右侧图片1 End -->
          <div data-pb="tmplt=longmovietplt"  id="block-L">
            
<!-- -->

          </div>
          
 
<!--  右侧图片2 Start  -->
<div id="1000000000200" class="box_right rightAdv mt30"  style="position:relative;">

</div>
<!-- 右侧图片2 End -->
        </div>
      </div>
      <!-- 内容区 end-->
      <div class="wrapper wrapper-long" data-pb="tmplt=longmovietplt"  id="block-M">
        

<h2 class="video_recom_tit">视频推荐</h2>
<div class="video_recom_main">
  <ul class="video_recom_item">
       {maccms:vod num=20 order=desc type=1 by=hits}
      <li><a title="[vod:name]" href="[vod:link]" class="mod-videoIntro_item" rseat="name_1">[vod:name]</a></li>
    

     {/maccms:vod}
  </ul>
</div>

      </div>
     
 
<!-- 底部通栏 Start -->
<div id="1000000000178" style="margin-top:40px;text-align:center;clear:both;zoom:1;margin-left:auto;margin-right:auto;position:relative;width:960px;">
555555555555</div>
<!-- 底部通栏 End -->
 
<div class="footerN1214" data-css="fragments/block_footerN1214.css"  data-widget-footer="footer" id="block-Z" data-block-name="页底">
  <p class="footmenu"> 
  	<a href="/" class="s1" rel="nofollow" title="公司介绍" rseat="公司介绍">公司介绍</a> 
  	<a href="/" rel="nofollow" title="新闻动态" rseat="新闻动态">新闻动态</a>
  	<a href="/" rel="nofollow" title="联系方式" rseat="联系方式">联系方式</a> 
  	<a href="/" rel="nofollow" title="招聘英才" rseat="招聘英才">招聘英才</a>
  	<a href="/" rel="nofollow" title="帮助与反馈" rseat="帮助与反馈">帮助与反馈</a>
  	<a href="/" rel="nofollow" title="AboutUs" rseat="About Us">About Us</a></p>
  <p class="fEn">Copyright © 2015 <a href="http://www.xiaog.cc" class="link0" title="爱奇艺" rseat="爱奇艺">爱奇艺</a> All Rights Reserved</p>
</div>





	</div>
  </body>
  



  
<script type="text/javascript">
  Q.projectName = 'qiyiV2';
  Q.load("playLongSource");
</script>

</html>