
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{page:key}_视频在线观看-爱奇艺搜索</title>
        <meta name="title" content="好人_视频在线观看-爱奇艺搜索"/>
        <meta name="keywords" content="视频搜索 全网视频搜索， 高清视频， 在线视频"/>
        <meta name="description" content="爱奇艺搜索“好人”搜索结果页面为您提供最新最全的“好人”相关视频的搜索和在线观看服务。"/>
        <link type="text/css" rel="stylesheet" href="http://static.qiyi.com/css/common/v3-index-iqiyi/index-iqiyi-v1.css" />
        <link rel="stylesheet" type="text/css" href="http://static.qiyi.com/css/common/v3-search/search-onetree_v1.1.css">
                    <script type="text/javascript" src="http://static.iqiyi.com/js/qiyi/config.js"></script>
 {maccms:include}
    </head>

    <body class="qypage-980" data-searchpingback-public="p1=101&s1=1&s2=3&a=0&pf=1&p=10&p2=0&bkt=onetree_sh02&e=nfs539dubaloqsc3cjpvuhmov0oegz3qr&rt=3&r=%E5%A5%BD%E4%BA%BA&fid=73de0f26505b2fea7fb02dc6236ae233&page=1" data-widget-searchpingback="searchpingback">
         <!-- ping back start -->

        <script type="text/javascript">
            var pingbackElem = document.getElementById('impression-ping-back');
            var key = 'data-src';
            var src = (pingbackElem.getAttribute(key) || pingbackElem[key]||'') + '&jsrandom=' + Math.random();
            var img = new Image();
            var name  = "impression-ping-back" + Math.floor(2147483648 * Math.random()).toString(36);
            window[name] = img;
            img.onload = img.onerror = img.onabort = function() {
                img.onload = img.onerror = img.onabort = null;
                img = window[name] = null;
            };
            img.src = src;
        </script>

                                   <script type="text/javascript">
                 window.Q = window.Q || {};
                 Q.PageInfo = Q.PageInfo || {};
                 Q.PageInfo.respInfo = {
                     cnf: [
                         {
                             layout: 0,
                             cls: 'qypage-980',
                             range: {
                                 min: 0,
                                 max: 1259
                             }
                         },
                         {
                             layout: 1,
                             cls: 'qypage-1180',
                             range: {
                                 min: 1260,
                                 max: Number.MAX_VALUE
                             }
                         }
                     ],
                     curLayout: 0
                 }
             </script>
             <script>
                 (function () {
                     var body = Q.$('body');
                     var width = Q.page.getViewWidth() > Q.page.getWidth() ? Q.page.getWidth() : Q.page.getViewWidth();
                     if (Q && Q.PageInfo && Q.PageInfo.respInfo) {

                         var cnf = Q.PageInfo.respInfo.cnf;
                         body.removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
                         for (var i = 0; i < cnf.length; i++) {
                             if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) {
                                 body.addClass(cnf[i].cls);
                                 Q.PageInfo.respInfo.curLayout = cnf[i].layout;
                                 break;
                             }
                         }
                     }
                 })();
             </script>
                  <div class="page-search">
             <!-- search result tip -->
                              <!-- 搜索头部 开始 -->
                 {maccms:head}
             
                          
             <!-- search result -->
            <div class="container clearfix" data-widget-vscrollbar="maincontent">
                <!-- 搜索内容 -->
                <div class="search_result_main">
                    <div class="search_result_main_inner">

                                                                            <!-- search result tip -->
                            <div class="search_result_tip">
    <div class="tip_inner">
                            <div class="mod_sear_select">


            </div>
        <div class="search_content">
           <span class="mr20">搜索“<em class="keyword"> {page:key}
    </em>”
                                                ,共找到约<em class="keyword">{page:datacount}</em>个视频</span>
        </div>

    </div>
</div>
                        
                        <div class="mod_sear_menu mt10 dn" id="af-elem-content">


</div>

                        <!-- 搜索结果列表 -->
                        <div class="mod_search_result" >
                                                                                            




<div class="mod_result">
    <ul class="mod_result_list">
                         
        {maccms:vod pagesize=10 order=desc by=time}
                    
<li class="list_item" class="$topBoard" style="$style">
    <!--专辑（单）:singleEpisode-->
<a class="figure  figure-180236 " href="[vod:link]" target="_blank">
    <img width="140" height="187" alt="[vod:name]" title="[vod:name]" src="[vod:pic]"/>
    <p class=" " >
             </p>
                <div class="video_cover">
            <i class="icon-video-play"></i>
        </div>
    </a>
<div class="result_info result_info-180236">
    <h3 class="result_title">
                            <a title="[vod:name]"    href="[vod:link]" target="_blank">
            [vod:name]
                    </a>
                    <em class="fs12 c999">&nbsp;2008</em>
                            <span  class=time_tip ></span>
                </h3>
    <div class="info_item">
                    <div class="result_info_cont result_info_cont-half">
            <label class="result_info_lbl">导演:</label>[vod:directedlink] 
                                    
                    </div>
                        <div class="result_info_cont result_info_cont-half">
            <label class="result_info_lbl">主演:</label>[vod:starringlink]
                                    
                    </div>
        </div>

    <div class="info_item">
                                                <div class="result_info_cont result_info_cont-half">
            <label class="result_info_lbl">地区:</label>
                <span>
             [vod:area]
                </span>
        </div>
                                            <div class="result_info_cont result_info_cont-half">
            <label class="result_info_lbl">类型:</label>
            <span>
             [vod:typename]
                                                                        </span>
        </div>
        </div>

                        <div class="info_item">
                                    <div class="result_info_cont result_info_cont-half">
    <label class="result_info_lbl">上映时间:</label>
            <span>
             [vod:year]
                            </span>
</div>
                                                    <div class="result_info_cont result_info_cont-half">
    <label class="result_info_lbl">时间:</label>
            <span>
             [vod:time style=y-m-d]
            </span>
</div>
                            </div>
            
    <div class="info_item">
                    <div class="result_info_cont result_info_cont-row3" data-widget-detailinfo="detailinfo">
            <label class="result_info_lbl">简介:</label>
                                                    <span class="result_info_txt" data-detailinfo-elem="abstractinfo">[vod:contenttext len=50]...</span>
                                                     <a data-searchpingback-elem="link" data-playsrc-elem="details" data-searchpingback-param="ptype=3-1" title="详细" data-detailinfo-elem="unfoldbtn" class="result_info_link_more"
                                                          href="[vod:link]"
                           
                            target="_blank" >详细&gt;</a>
                                                        </div>
            </div>
    <div class="info_item_bottom">
                    <div data-tvlist-elem="alllist">
                
    <div class="bottom_left">
                    <a class="info_play_btn" data-searchpingback-elem="link" data-searchpingback-param="ptype=1-3" data-playsrc-elem="firstlink"
                    href="[vod:link]" 
 target="_blank">立即播放</a>
            </div>

                    </div>
                


    </div>
</div>
</li>
                                                                        
	{/maccms:vod}                                                         
                                                                        
                                                                                    
                                        </ul>
</div>
                                                    </div>
                        <!-- 分页 -->
                        <div class="mod-page">
                 {maccms:pages len=6}
                        </div>

                                            </div>
                </div>
                <!-- 侧边结构 -->
<div class="search_result_side">

            <a class="search_result_download  mb10 " href="/"></a>
    
    <!-- 相关明星 -->

    <!-- 应用或者游戏 -->
    <!-- APP -->

        
    
<div class="search_result_side_bg  mb20"
     data-widget-relatedvideos="relatedvideos"
     data-relatedvideos-area="ysdq_kaola"
     data-relatedvideos-aid="202515114"
     data-relatedvideos-cid="2"
     data-relatedvideos-eventid="26409526c71afc4592f1f29f47823f9e"
     data-relatedvideos-bkt="ysdq_kaola_main"
     data-relatedvideos-albumlist="202662814,205993914,206940814,200044714">

    <div id = "related_video_impression-ping-back" >
        <h3 class="result_site_title_large">相关视频</h3>
        <div class="piclist-180101-wrap piclist-180101-to13073">
            <ul class="site-piclist site-piclist-180101 site-piclist-auto">

                
                                         	  {maccms:vod num=4 order=desc type=all by=time}
                                        <li>
                        <div class="site-piclist_pic">
                            <a href="[vod:link]" class="site-piclist_pic_link" title="[vod:name]" alt="[vod:name]"
                                                                            target="_blank"
                                    >
                                <img width="180" height="101" title="[vod:name]"  alt="[vod:name]"  src="[vod:pic]" rseat="img1.0">
                                <p class="site-piclist_icons">
                                </p>
                            </a>
                        </div>
                        <div class="site-piclist_info">
                            <p class="site-piclist_info_title">
                                <a 
                                        href="[vod:link]" title="[vod:name]"
                                                                                    target="_blank"
                                                                                alt="[vod:name]" rseat="name1.0">[vod:name]</a>
                            </p>
                        </div>
                    </li>

                

		{/maccms:vod}
                            </ul>
        </div>
    </div>
</div>
    <div class="search_result_side_bg ">
    <div data-widget="tab" data-tabname="onetreetab">
        <div class="mod-header-tab">
                            <h3 class="tab-head">电影</h3>
            
            <ul class="mod-linkTabs">
                         <li  class=selected  data-elem="tabtitle"><a title="全部" href="javascript:;">全部</a> </li>
                        <li  data-elem="tabtitle"> <a title="喜剧" href="javascript:;">喜剧</a>
                        </li>
                        <li  data-elem="tabtitle"> <a title="动作" href="javascript:;">动作</a>
                        </li>
                        <li  data-elem="tabtitle"><a title="爱情" href="javascript:;">爱情</a>
                        </li>
                        <li  data-elem="tabtitle"> <a title="惊悚" href="javascript:;">惊悚</a>
                        </li>
                                                                        <li class="link_tab_more">
                        <a href="/?m=vod-type-id-1.html" target="_blank" title="更多">更多&gt;</a>
                    </li>
                            </ul>
        </div>

        <div class="topDesc">
            <span class="topDesc_right">搜索指数</span>

            <div class="topDesc_main"><span class="topDesc_items">排名</span><span class="topDesc_items">关键字</span></div>
        </div>

        <div class="pb10">
                            <div class="mod-rankList" data-elem="tabbody" >
                    <ul class="rankList">
						 {maccms:vod num=10 type=1 by=hits order=desc}
                                                    <li>
                                                                                                                                        
                                <a href="[vod:link]" class="rankList_link" 
                                   title=[vod:name]>
                                    <i class="num  num_hot ">[vod:num]</i>

                                    <div class="item_r">
                                                                                    <i class="tend tend_line">55</i>
                                                                            </div>
                                    <div class="item_l">
                                        <span class="item_name">
                                            [vod:name]
                                        </span>
                                    </div>
                                </a>
                            </li>
         
		{/maccms:vod}
                                            </ul>
                </div>
                            <div class="mod-rankList" data-elem="tabbody"  style="display:none;" >
                    <ul class="rankList">
                                                  

	         {maccms:vod num=10 type=6 by=hits order=desc}
												  <li>
                                                                                                                                        
                                <a href[vod:link]" class="rankList_link" data-searchpingback-elem=link
                                   data-searchpingback-param="rt=3&pos=1&s2=3&ptype=16-4&target=&site=&c1="
                                   title=[vod:name]>
                                    <i class="num  num_hot ">[vod:num]</i>

                                    <div class="item_r">
                                                                                    <i class="tend tend_up"></i>
                                                                            </div>
                                    <div class="item_l">
                                        <span class="item_name">
                                            [vod:name]
                                        </span>
                                    </div>
                                </a>
                            </li>
                                          
       
		{/maccms:vod}
										  </ul>
                </div>
                            <div class="mod-rankList" data-elem="tabbody"  style="display:none;" >
                    <ul class="rankList">
                                                    						 {maccms:vod num=10 type=7 by=hits order=desc}
                                                    <li>
                                                                                                                                        
                                <a href="[vod:link]" class="rankList_link" 
                                   title=[vod:name]>
                                    <i class="num  num_hot ">[vod:num]</i>

                                    <div class="item_r">
                                                                                    <i class="tend tend_line">55</i>
                                                                            </div>
                                    <div class="item_l">
                                        <span class="item_name">
                                            [vod:name]
                                        </span>
                                    </div>
                                </a>
                            </li>
         
		{/maccms:vod}
                                            </ul>
                </div>
                            <div class="mod-rankList" data-elem="tabbody"  style="display:none;" >
                    <ul class="rankList">
                                              						 {maccms:vod num=10 type=8 by=hits order=desc}
                                                    <li>
                                                                                                                                        
                                <a href="[vod:link]" class="rankList_link" 
                                   title=[vod:name]>
                                    <i class="num  num_hot ">[vod:num]</i>

                                    <div class="item_r">
                                                                                    <i class="tend tend_line">55</i>
                                                                            </div>
                                    <div class="item_l">
                                        <span class="item_name">
                                            [vod:name]
                                        </span>
                                    </div>
                                </a>
                            </li>
         
		{/maccms:vod}
                                            </ul>
                </div>
                            <div class="mod-rankList" data-elem="tabbody"  style="display:none;" >
                    <ul class="rankList">
                                  						 {maccms:vod num=10 type=9 by=hits order=desc}
                                                    <li>
                                                                                                                                        
                                <a href="[vod:link]" class="rankList_link" 
                                   title=[vod:name]>
                                    <i class="num  num_hot ">[vod:num]</i>

                                    <div class="item_r">
                                                                                    <i class="tend tend_line">55</i>
                                                                            </div>
                                    <div class="item_l">
                                        <span class="item_name">
                                            [vod:name]
                                        </span>
                                    </div>
                                </a>
                            </li>
         
		{/maccms:vod}                 
                                            </ul>
                </div>
                    </div>
    </div>
</div>


    <!-- 广告位 -->
    <div class="result_ad_wrap">
                   广告
            </div>

</div>
            </div>
{maccms:foot}
                     </div>


<div id="widget-vscrollbar" style="position: fixed">
    <ul class="baseScrollBar_menus">
        <li data-widget-totopbtn="totop" data-totopbtn-time="150" data-totopbtn-hoverclass="selected" data-totopbtn-undownclass="unEffective" data-private-display="" class="" style="display: block;">
            <a href="javascript:void(0);" class="baseToTop" title="回顶部" data-totopbtn-totop="show"></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="helpFeedback" title="帮助及反馈" id="widget-feedbackbtn"></a>
        </li>
    </ul>
</div>
         
    </body>
    <script type="text/javascript">
        Q.projectName = 'qiyiV2';
                    Q.load('oneTree');
            </script>

        




</html>

