<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>综艺大全，台湾综艺，综艺排行榜-爱奇艺</title>
	<meta name="title" content="综艺大全，台湾综艺，综艺排行榜-爱奇艺" />
	<meta name="keywords" content="综艺,综艺节目, 综艺节目大全 ,最新综艺节目,内地综艺节目,日本综艺节目 ,[matrix:name]节目,港台综艺节目, 热播综艺,综艺节目在线观看,综艺节目排行榜，娱乐节目" />
    <meta name="description" content="爱奇艺综艺大全提供当下最新、最火的综艺节目在线观看服务，同步更新全网最新一期综艺视频，提供网友丰富多彩的内地综艺、[matrix:name]、香港综艺,台湾综艺,日本综艺,美国综艺节目等等经典综艺节目在线观看服务。" />
 {maccms:include}

  </head>
  <body class="qypage-980">
    
<script type="text/javascript">
  window.Q = window.Q || {};
  Q.PageInfo = Q.PageInfo || {};
  Q.PageInfo.respInfo ={
    cnf:[
      {
        layout:0,
        cls:'qypage-980',
        range:{
          min:0,
          max:1259
        },
        extraInfo:{}
      },
      {
        layout:1,
        cls:'qypage-1180',
        range:{
          min:1260,
          max:Number.MAX_VALUE
        },
        extraInfo:{}
      }
    ],
    curLayout:0
  }
</script>
<script>
  (function () {
    var body = Q.$('body');
    var width = Q.page.getViewWidth() > Q.page.getWidth() ? Q.page.getWidth() : Q.page.getViewWidth();
    if (Q && Q.PageInfo&&Q.PageInfo.respInfo) {
      
      var cnf = Q.PageInfo.respInfo.cnf;
      body.removeClass(cnf[Q.PageInfo.respInfo.curLayout].cls);
      for (var i = 0; i < cnf.length; i++) {
        if (width >= cnf[i].range.min && width <= cnf[i].range.max && !body.hasClass(cnf[i].cls)) {
          body.addClass(cnf[i].cls);
          Q.PageInfo.respInfo.curLayout = cnf[i].layout;
          break;
        }
      }
    }
  })();
</script>
    <div class="page-search"> 
     

{maccms:head}
      <div id="block-C" data-block-name="焦点图">
		
<div class="focus-search focus-search_v clearfix focus_tj">
  
    <div class="focusTline">
    </div>
    <div class="focus-search-tabScroll_pic"  data-qiyupingback-ppuid="" data-qiyupingback-uid="" data-qiyupingback-eventid="" data-qiyupingback-cid="6" data-qiyupingback-bkt="" data-qiyupingback-area="" data-widget-indexfocus="indexFocus" data-indexfocus-disableanim="100" data-interval="5000" data-indexfocus-textshowtime="10" data-indexfocus-trigger="mouseover">
      <div class="pic_btnLeft">
        <a href="javascript:;" class="search-focus_btnLeft" data-indexfocus-change="prev_btn"></a>
      </div>
      <div class="pic_btnRight">
        <a data-indexfocus-change="next_btn" href="javascript:;" class="search-focus_btnRight"></a>
      </div>
      <div class="position-focusSearch_mainList">
        <ul class="focusSearch_mainList" data-indexfocus-elem="bigPics">
          
	{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
	
            <li style="display: block; opacity: 1; background-image: url([vod:picslide]);" data-private-display="block">
              <a data-play-rseat="btn1" data-rseat="name1" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="" data-qiyupingback-tcid="6" hidefocus="true" data-indexfocus-elem="currentPlayPage" data-indexfocus-currenttitleelem="[vod:name]" data-indexfocus-title="[vod:name]" data-indexfocus-description="[vod:contenttext len=8]" rseat="img1" target="_blank"></a>
            </li>
          
              {/maccms:vod} 

        </ul>
      </div>
 <div class="focus-search-tabScroll_title clearfix"> 
 <div class="tabScroll_l_block" data-private-display="block" data-indexfocus-elem="playPageWrap"> 
{maccms:vod num=1 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <div class="btn_wrap"> <a target="_blank" class="focusSearch_btn" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" href="[vod:link]" title="[vod:name]" data-indexfocus-playelem="playBtn" data-indexfocus-elem="playBigBtn" rseat="btn"></a> </div> 
 <div class="desc_wrap"> <a target="_blank" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" class="title" title="[vod:name]" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainTitle" rseat="listem">[vod:name]</a> <a href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="0" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" data-indexfocus-elem="playPageLink" data-indexfocus-maintitleelem="playPageMainDescription" target="_blank" class="subTle" title="[vod:name]">[vod:content len=20]...</a> </div> 
  {/maccms:vod}
 </div> 

 <ul data-indexfocus-elem="smallPics" class="scroll_area"> 
{maccms:vod num=8 by=level level=3,4,5 type={maccms:curvodtypeid} order=desc}
 <li data-indexfocus-index="[vod:num]" class="{if-A:[vod:num] = 1}selected{endif-A}"><a rseat="sele[vod:num]" href="[vod:link]" data-qiyupingback-elem="item" data-qiyupingback-idx="[vod:num]" data-qiyupingback-taid="200054014" data-qiyupingback-tcid="6" target="_blank"></a></li> 
  {/maccms:vod}

 </ul>
 </div> 
    </div>
    <div class="search-tab-list search-tab-list_noTab" data-widget-tab="tab" data-widget-disabletitleclickevt="false" data-tab-changedelay="5">
      <div class="tab-body">
        <ul class="top-list"> 
  {maccms:vod num=10 by=time type=3 order=desc }  
 <li class="top"><a class="tip" rseat="3_namecount1">[vod:num]</a><a title="[vod:name]" class="title title_new0529" href="[vod:link]" rseat="3topname1" target="_blank">[vod:name]</a> <a title="[vod:name] " class="desc desc_new0529" href="[vod:link]" rseat="3cname1" target="_blank">                                    {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}</a></li> 
 	{/maccms:vod}
</ul>
      </div>
    </div>
    
</div>
      </div>
      <div class="wrapper-content wrapper-content-300 clearfix">
        <div class="site-main"> 
         <div id="block-D" data-block-name="分类">
<div class="mod-classes-blcoks mod-classes-blcoks-4items mb10 clearfix">
<div class="classes-blcoks_item3 pl0">
<dl class="classes-blcoks">
<dt>
<h4 title="类型" alt="类型" rseat="类型">类型</h4>
</dt>
<dd>
		{maccms:class type=auto}
<a class="null" href="[class:link]" rseat="title4_1" alt="[class:name]" title="[class:name]" target="_blank">[class:name]</a>
		   {/maccms:class}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="地区" alt="地区" rseat="地区">地区</h4>
</dt>
<dd>
		  {maccms:area type=auto order=asc}
	
<a class="null" href="[area:link]" rseat="title2_1" alt="[area:name]" title="[area:name]" target="_blank">[area:name]</a>
	  {/maccms:area}
</dd>
</dl>
</div>
<div class="classes-blcoks_item2">
<dl class="classes-blcoks">
<dt>
<h4 title="年代" alt="年代" rseat="年代">年代</h4>
</dt>
<dd>
			{maccms:year type=auto start=2008 end=2015 order=desc}
	<a class="null" href="[year:link]" rseat="title3_1" alt="[year:name]" title="[year:name]" target="_blank">[year:name]</a>
            {/maccms:year}


</dd>
</dl>
</div>
<div class="classes-blcoks_item3">
<dl class="classes-blcoks">
<dt>
<h4 title="热点" alt="热点">热点</h4>
</dt>
<dd>
            <a href="index.php?m=vod-search-wd-爸爸回来了2" rseat="title4_1" alt="爸爸回来了2" title="爸爸回来了2" class="red"target="_blank">爸爸回来了2</a>
          
            <a href="index.php?m=vod-search-wd-真正男子汉" rseat="title4_2" alt="真正男子汉" title="真正男子汉" target="_blank">真正男子汉</a>
          
            <a href="index.php?m=vod-search-wd-我们相爱吧" rseat="title4_3" alt="我们相爱吧" title="我们相爱吧" class="red"target="_blank">我们相爱吧</a>
          
            <a href="index.php?m=vod-search-wd-校花与学神" rseat="title4_4" alt="校花与学神" title="校花与学神" target="_blank">校花与学神</a>
          
            <a href="index.php?m=vod-search-wd-出彩中国人2" rseat="title4_5" alt="出彩中国人2" title="出彩中国人2" target="_blank">出彩中国人2</a>
          
            <a href="index.php?m=vod-search-wd-武林风" rseat="title4_6" alt="武林风" title="武林风" target="_blank">武林风</a>
          
            <a href="index.php?m=vod-search-wd-超级演说家3" rseat="title4_7" alt="超级演说家3" title="超级演说家3" class="red"target="_blank">超级演说家3</a>
          
            <a href="index.php?m=vod-search-wd-Running Man" rseat="title4_8" alt="Running Man" title="Running Man" target="_blank">Running Man</a>

</dd>
</dl>
</div>
</div> </div>
          <div class="wrapper-cols">
            <div class="site-main-outer">
              <div class="site-main-inner" id="block-E" data-block-name="最近更新">
                
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="最近更新">最近更新</h3>
  </div>
</div>
                
 


<div class="flow-twoBlock clearfix">
  <div class="qy-col col-2-min">
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-340232">
        
        {maccms:vod num=10 by=time type=3 order=desc }  
          <li>
            <div class="site-piclist_pic">
              <a alt="[vod:name]" title="[vod:name]" j-delegate="videoLibAddPlayHistory" target="_blank" href="[vod:link]" class="site-piclist_pic_link">
                <img width="100%" height="100%" rseat="bigPic" alt="[vod:name]" title="[vod:name]" src="[vod:pic]">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title">
                <a rseat="bigName" alt="[vod:name]" j-delegate="videoLibAddPlayHistory" target="_blank" title="[vod:name]" href="[vod:link]">[vod:name]</a>
              </p>
              <p title="[vod:contenttext len=15]" rseat="bigPrompt" class="site-piclist_info_describe">[vod:contenttext len=15]</p>
            </div>
          </li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
  <div class="o-hidden">
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
        
              {maccms:vod num=3 by=time type=3 order=desc } 
          <li>
            <div class="site-piclist_pic">
              <a target="_blank"  j-delegate="videoLibAddPlayHistory" class="site-piclist_pic_link" href="[vod:link]" title="">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title">
                <a target="_blank" j-delegate="videoLibAddPlayHistory" rseat="name_1_1" title="[vod:name]" href="[vod:link]">[vod:name]</a>
              </p>
              <p title="[vod:contenttext len=10]" rseat="prompt_1_1" class="site-piclist_info_describe">[vod:contenttext len=10]</p>
            </div>
          </li>
        
               {/maccms:vod}
        
      </ul>
    </div>
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
                      {maccms:vod num=3 by=hits type=3 order=desc } 
          <li>
            <div class="site-piclist_pic">
              <a target="_blank"  j-delegate="videoLibAddPlayHistory" class="site-piclist_pic_link" href="[vod:link]" title="">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title">
                <a target="_blank" j-delegate="videoLibAddPlayHistory" rseat="name_1_1" title="[vod:name]" href="[vod:link]">[vod:name]</a>
              </p>
              <p title="[vod:contenttext len=10]" rseat="prompt_1_1" class="site-piclist_info_describe">[vod:contenttext len=10]</p>
            </div>
          </li>
        
               {/maccms:vod}
        
      </ul>
    </div>
  </div>
</div>
              </div>
            </div>
            <div class="site-main-side">
              <div class="side-border clearfix" id="block-F" data-block-name="全部排行榜">
                
    <div class="site-title">
      <div class="site-title_right"></div>
      <div class="site-title_left">
        <h3><span>百度综艺风云榜</span></h3>
      </div>
    </div>	
  
                
    <div class="mod-search-topList"> 
      <ul class="search-topList clearfix">
             {maccms:vod num=10 by=hits type=3 order=desc } 
          <li>
            <a href="[vod:link]" class="topList-item" title="[vod:name]" target="_blank">
              
              <i class="topList-num hot" >[vod:num]</i>
              <em class="topList-title" rseat="topTitle1" >[vod:name]</em>
              <em class="topList-desc" rseat="desc1" >{if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}</em>
            </a>
          </li>
              {/maccms:vod}
      </ul>
    </div>
  
              </div>
            </div>
          </div>
          
          <div class="wrapper-cols">
            <div class="site-main-outer">
              <div class="site-main-inner" id="block-AO" data-block-name="热播综艺">
                
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="热播综艺">热播综艺</h3>
  </div>
</div>
                


    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
        
           {maccms:vod num=5 by=dayhits type=3 order=desc } 
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>
        
          
              {/maccms:vod}
        
      </ul>
    </div>
  
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
        
                    {maccms:vod num=5 by=hits type=3 order=desc } 
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>
        
          
              {/maccms:vod}
        
      </ul>
    </div>
  
              </div>
            </div>
            <div class="site-main-side">
              <div class="side-border clearfix" id="block-AE" data-block-name="专题策划">
                
    <div class="site-title">
      <div class="site-title_right"></div>
      <div class="site-title_left">
        <h3><span>专题策划</span></h3>
      </div>
    </div>	
  
                
 


<div class="site-side-posFix">
  
    <ul class="site-piclist site-piclist-280106">
			{maccms:topic num=2 id=all table=vod}
      <li class="clearfix">
        <div class="site-piclist_pic">
          <a alt="" title="[topic:name]"  j-delegate="videoLibAddPlayHistory" target="_blank" href="[topic:link]" class="site-piclist_pic_link">
            <img width="100%" height="100%" rseat="img_1" alt="[topic:name]" title="[topic:name]" src="[topic:pic]">
          </a>
        </div>
        <div class="site-piclist_info">
          <p class="site-piclist_info_title">
            <a alt="[topic:name]"  j-delegate="videoLibAddPlayHistory" target="_blank" title="[topic:name]" href="[topic:link]" rseat="name_1">[topic:name]</a>
          </p>
        </div>
      </li>
{/maccms:topic}
  
    </ul>
  
</div>

              </div>
            </div>
          </div>
          
          <div class="wrapper-cols mt20" id="block-AM" data-block-name="王牌主持">
            
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="王牌主持">王牌主持</h3>
  </div>
</div>
            
 



<div class="wrapper-piclist zc-piclist">
  <ul class="site-piclist">
    
      <li>
        <div class="zc-pic fl"><a href="http://www.iqiyi.com/lib/s_204310105.html" title="李静" alt="李静" target="_blank"><img src="{maccms:path_tpl}images/zcr/lijing.jpg" rseat="img_1"></a></div>
        <div class="zc-msg fl">
          <h2 class="zc-name"><a href="/" rseat="name_1" title="李静" alt="李静" target="_blank">李静</a></h2>
          <p class="zc-msg-list"><a href="/" rseat="pro1_1" title="" alt="超级访问" target="_blank">超级访问</a></p>
          <p class="zc-msg-list"><a href="/" rseat="pro2_1" title="" alt="非常静距离" target="_blank">非常静距离</a></p>
        </div>
      </li>
    
      <li>
        <div class="zc-pic fl"><a href="http://www.iqiyi.com/lib/s_200213205.html" title="何炅" alt="何炅" target="_blank"><img src="{maccms:path_tpl}images/zcr/hejiong.jpg" rseat="img_2"></a></div>
        <div class="zc-msg fl">
          <h2 class="zc-name"><a href="http://www.iqiyi.com/lib/s_200213205.html" rseat="name_2" title="何炅" alt="何炅" target="_blank">何炅</a></h2>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_200054014.html" rseat="pro1_2" title="" alt="快乐大本营" target="_blank">快乐大本营</a></p>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_205069414.html" rseat="pro2_2" title="" alt="少年中国强" target="_blank">少年中国强</a></p>
        </div>
      </li>
    
      <li>
        <div class="zc-pic fl"><a href="http://www.iqiyi.com/lib/s_214968005.html" title=" 小S" alt=" 小S" target="_blank"><img src="{maccms:path_tpl}images/zcr/xiaos.jpg" rseat="img_3"></a></div>
        <div class="zc-msg fl">
          <h2 class="zc-name"><a href="http://www.iqiyi.com/lib/s_214968005.html" rseat="name_3" title=" 小S" alt=" 小S" target="_blank"> 小S</a></h2>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_200051814.html" rseat="pro1_3" title="" alt="康熙来了" target="_blank">康熙来了</a></p>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_202156214.html" rseat="pro2_3" title="" alt="妈咪妈咪哄" target="_blank">妈咪妈咪哄</a></p>
        </div>
      </li>
    
      <li>
        <div class="zc-pic fl"><a href="http://www.iqiyi.com/lib/s_204756005.html" title="汪涵" alt="汪涵" target="_blank"><img src="{maccms:path_tpl}images/zcr/wanghan.jpg" rseat="img_4"></a></div>
        <div class="zc-msg fl">
          <h2 class="zc-name"><a href="http://www.iqiyi.com/lib/s_204756005.html" rseat="name_4" title="汪涵" alt="汪涵" target="_blank">汪涵</a></h2>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_200051714.html" rseat="pro1_4" title="" alt="天天向上" target="_blank">天天向上</a></p>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_206196114.html" rseat="pro2_4" title="" alt="越淘越开心" target="_blank">越淘越开心</a></p>
        </div>
      </li>
    
      <li>
        <div class="zc-pic fl"><a href="http://www.iqiyi.com/lib/s_203058705.html" title=" 孟非" alt=" 孟非" target="_blank"><img src="{maccms:path_tpl}images/zcr/mengfei.jpg" rseat="img_5"></a></div>
        <div class="zc-msg fl">
          <h2 class="zc-name"><a href="http://www.iqiyi.com/lib/s_203058705.html" rseat="name_5" title=" 孟非" alt=" 孟非" target="_blank"> 孟非</a></h2>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_200051414.html" rseat="pro1_5" title="" alt="非诚勿扰" target="_blank">非诚勿扰</a></p>
          <p class="zc-msg-list"><a href="http://www.iqiyi.com/lib/m_205952114.html" rseat="pro2_5" title="" alt="最强大脑第2季" target="_blank">最强大脑第2季</a></p>
        </div>
      </li>
    
  </ul>
</div>
          </div>
         
       
         {maccms:matrix type=18,19,20,21,22 table=vod} 
          <div class="wrapper-cols mt20">
            <div class="site-main-outer">
              <div class="site-main-inner" id="block-K" data-block-name="[matrix:name]">
                
<div class="searchList-title clearfix">
  <div class="searchList-title-right">
    
      <a href="[matrix:link]" class="more" target="_blank" rseat="more">更多&gt;</a>
    
  </div>
  <div class="searchList-title-left">
    <h3 rseat="[matrix:name]">[matrix:name]</h3>
  </div>
</div>
                


    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
        
            {maccms:vod num=5 type=[matrix:id] by=time order=desc}
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>

             {/maccms:vod}
      </ul>
    </div>
  
    <div class="wrapper-piclist">
      <ul class="site-piclist site-piclist-15587">
            {maccms:vod num=5 type=[matrix:id] by=hits order=desc}
          <li>
            <div class="site-piclist_pic">
              <a class="site-piclist_pic_link" href="[vod:link]" title="[vod:name]" target="_blank">
                <img width="100%" height="100%" src="[vod:pic]" alt="[vod:name]" title="[vod:name]" rseat="img_1_1">
              </a>
            </div>
            <div class="site-piclist_info">
              <p class="site-piclist_info_title"><a href="[vod:link]" title="[vod:name]" rseat="name_1_1" target="_blank">[vod:name]</a></p>
              <p class="site-piclist_info_describe" rseat="desc_1_1">[vod:contenttext len=8]</p>
            </div>
          </li>

             {/maccms:vod}
        
 
        
      </ul>
    </div>
  
              </div>
            </div>
            <div class="site-main-side">
              <div class="side-border clearfix" id="block-L" data-block-name="[matrix:name]排行">
                
    <div class="site-title">
      <div class="site-title_right"></div>
      <div class="site-title_left">
        <h3><span>[matrix:name]排行</span></h3>
      </div>
    </div>	
  
                
    <div class="mod-search-topList"> 
      <ul class="search-topList clearfix">
        	 {maccms:vod num=9 type=[matrix:id] by=dayhits order=desc}
        
                            <li>
                        <a href="[vod:link]" class="topList-item" title="[vod:name]"
                           target="_blank">

                            <i class="topList-num" >[vod:num]</i>
                            <em class="topList-title" rseat="topTitle1">[vod:name]</em>
                            <em class="topList-desc">
                                                           {if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0}[完结]{elseif-A:[vod:state]>0}{if-B:[vod:state]>10000}[连载[vod:state]]期{else-B}[连载[vod:state]]集{endif-B}{else-A}
{endif-A}
                            </em>
                        </a>
                    </li>
                		{/maccms:vod}   
        
      </ul>
    </div>
  
              </div>
            </div>
          </div>
         	 {/maccms:matrix} 
        </div>
		       {maccms:foot}    
      </div>


  

<div class="baseScrollBar" id="widget-vscrollbar">
  <ul class="baseScrollBar_menus">
    <li data-widget-totopbtn="totop" data-totopbtn-time="150" data-totopbtn-hoverclass="selected" data-totopbtn-undownclass="unEffective">
      <a href="javascript:void(0);" class="baseToTop" title="回顶部" data-totopbtn-totop="show"></a>
    </li>
    <li>
      <a href="javascript:void(0);" class="helpFeedback" title="帮助及反馈" id="widget-feedbackbtn"></a>
    </li>
  </ul>
</div>

    <script type="text/javascript">
      Q.projectName = 'qiyiV2'; 
      Q.load("movieLibMovIndex"); 
    </script>

		
  </body>
</html>
