<div class="footer">
    <div class="fBox">
        <!--友情连接开始-->
        <div class="tab-a link w1214">
            <ul>
                <span>
                    友情连接：
                </span>
                <li>
                    {maccms:link type=font num=10}
                    <a href="[link:link]" tppabs="[link:link]" target="_blank">
                        [link:name len=10]
                    </a>
                    {/maccms:link}
					     <a href="http://xiaog.cc"  target="_blank">
                    小俊工作室
                    </a>
								     <a href="http://xiaog.cc"  target="_blank">
                   高端模板
                    </a>
                </li>
                <em>
                    欢迎同类优质站点相互连接联系QQ：{maccms:qq}
                </em>
            </ul>
        </div>
        <!--友情连接结束-->
        <div class="tab-a footer-info w1214">
            <div class="fotlogo">
                <a class="ft-logo">
                </a>
            </div>
            <div class="footer-mcid">
                <div class="ft-line">
                </div>
                <div class="fdy">
                    <h3>
                        <em>
                            <a href="#" tppabs="#">
                                更多
                            </a>
                            <i>
                                >>
                            </i>
                        </em>
                        <a href="#" tppabs="#">
                        电影
                        </a>
                    </h3>
                    <ul>
                        {maccms:class type=1 order=asc num=12}
                        <a href="[class:link]" tppabs="[class:link]" title="[class:name]">
                            [class:name]
                        </a>
                        {/maccms:class}
                    </ul>
                </div>
                <div class="ft-line">
                </div>
                <div class="ftv">
                    <h3><em><a href="#">更多</a><i>&gt;&gt;</i></em><a href="#">电视剧</a></h3>
                    <ul>{maccms:class type=2 order=asc num=12}
                        <a href="[class:link]" title="[class:name]">[class:name]</a>{/maccms:class}</ul>
                </div>
                <div class="ft-line">
                </div>
                <div class="fdm">
                    <h3>
                        <a href="#" tppabs="#">
                            动漫
                        </a>
                    </h3>
                    <ul>{maccms:class type=4 order=asc num=12}
                        <a href="[class:link]" tppabs="[class:link]" title="[class:name]">[class:name]</a>
                        {/maccms:class}
                    </ul>
                </div>
                <div class="ft-line">
                </div>
                <div class="fzy">
                    <h3>
                        <a href="#" tppabs="#">
                            综艺
                        </a>
                    </h3>
                    <ul>{maccms:class type=3 order=asc num=9}
                        <a href="[class:link]" tppabs="[class:link]" title="[class:name]">[class:name]</a>
                        {/maccms:class}
                    </ul>
                </div>
                <div class="ft-line">
                </div>
                <div class="fwei">
                    <h3>
                        <a href="#" tppabs="#">
                        新闻
                        </a>
                    </h3>
                    <ul>{maccms:menu type=parent order=asc table=art num=3}
                        <a href="[menu:link]" title="[menu:name]">
                            [menu:name]
                        </a>
                        {/maccms:menu}
                    </ul>
                </div>
                <div class="ft-line">
                </div>
            </div>
        </div>
        ﻿
        <div class="footer_nav">
            <a href="{maccms:getlink new.html}" tppabs="{maccms:getlink new.html}" title="最新更新" target="_blank">
                最新更新
            </a>
            -
            <a href="{maccms:getlink top.html}" tppabs="{maccms:getlink top.html}" title="影视排行榜"
            target="_blank">
                影视排行
            </a>
            -
            <a href="?m=vod-map.html" title="网站地图" target="_blank">
                网站地图
            </a>
            -
            <a href="index.php?m=map-baidu.html" title="百度地图"
            target="_blank">
                百度地图
            </a>
            -
            <a href="index.php?m=map-rss.html" title="RSS订阅"
            target="_blank">
                RSS订阅
            </a>
            -
            <a href="index.php?m=gbook-show.html" title="给我留言" target="_blank">
                给我留言
            </a>
            -
           {maccms:visits}
        </div>
        本网站提供新影视资源均系收集各大网站，本网站只提供WEB页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传
        </br>
        若本站收集的节目无意侵犯了贵司版权，请给
        <a href="mailto:9477739451@qq.com">
        947773951@qq.com
        </a>
        邮箱地址来信，我们将在第一时间处理相应资源
        </br>
        Copyright &#169; 2015-2020
        <a href="index.php" tppabs="http://{maccms:url}/">
            <font face="Verdana, Arial, Helvetica, sans-serif">
                <b>
                    <font color="#F60">
                        xiaog
                    </font>
                    <font color="#CC0000">
                        .Cc
                    </font>
            </font>
            </b>
        </a>
        .All Rights Reserved .
    </div>
</div>
<div style="display:none">
    {if-A:isN("{maccms:userid}")}
    <div class="login-box" id="login-dialog">
        <div class="login-top">
            <a class="current" rel="nofollow" id="login1" onclick="setTab('login',1,2);">
                登录
            </a>
            <a rel="nofollow" id="login2" onclick="setTab('login',2,2);">
                注册
            </a>
        </div>
        <div class="login-form" id="nav-signin">
            <div class="login-ico">
                <a rel="nofollow" class="qq" id="qqlogin" target="_blank" href="{maccms:path}index.php?m=user-reg-ref-qqlogin.html">
                    QQ登陆
                </a>
                <h2 style="text-align: center">请优先使用QQ登陆</h2>
            </div>
            <div class="login-box-form" id="con_login_1">
                <form id="loginform" method="post" action="index.php?m=user-check.html">
                    <input id="flag" name="flag" type="hidden" value="center">
                    <div class="ui-form" id="sign-primary">
                        <div class="int-text">
                            <input type="text" id="u_name" name="u_name" class="email" value="用户名或Email"
                            onfocus="if(this.value=='用户名或Email'){this.value='';}" onblur="if(this.value==''){this.value='用户名或Email';};"
                            />
                        </div>
                        <div class="int-text">
                            <input type="password" id="u_password" name="u_password" maxlength="20"
                            class="password1" value="******" onBlur="if(this.value=='') this.value='******';"
                            onFocus="if(this.value=='******') this.value='';" />
                        </div>
                        <div class="ui-form-item ui-form-checkbox fn-clear">
                            <label class="ui-label w100">
                                &nbsp;
                            </label>
                            <div class="ui-form-block w220">
                                <label for="remember" class="ui-label-checkbox">
                                    <input type="checkbox" name="remember" id="remember" checked="checked"
                                    value="1" />
                                    下次自动登录
                                </label>
                                <a class="aright" href="{maccms:path}index.php?m=user-findpass.html">
                                    忘记密码了？
                                </a>
                            </div>
                        </div>
                        <div class="int-btn">
                            <br>
                            <a class="file">
                                点击登陆
                                <input type="submit" id="loginbt" value="点击登录" />
                            </a>
                            <a class="aright" href="{maccms:path}index.php?m=user-login.html">
                                或点击这里登录
                            </a>
                        </div>
                    </div>
                    <!-- // ui-form#sign-primary end -->
                </form>
            </div>
            <form id="regform" action="index.php?m=user-regsave.html" method="post">
                <div class="ui-form" id="sign-primary">
                    <div class="login-reg" style="display: none;" id="con_login_2">
                        <p class="int-text">
                            <input type="text" id="u_name" name="u_name" value="用户名或昵称" onfocus="if(this.value=='用户名或昵称'){this.value='';}"
                            onblur="if(this.value==''){this.value='用户名或昵称';};" />
                        </p>
                        <p class="int-text">
                            <input type="text" id="u_email" name="u_email" value="Email" onfocus="if(this.value=='Email'){this.value='';}"
                            onblur="if(this.value==''){this.value='Email';};" />
                        </p>
                        <p class="int-text">
                            <input type="password" id="u_password1" name="u_password1" maxlength="20"
                            value="******" onBlur="if(this.value=='') this.value='******';" onFocus="if(this.value=='******') this.value='';"
                            />
                        </p>
                        <p class="int-text">
                            <input type="password" id="u_password2" name="u_password2" maxlength="20"
                            value="******" onBlur="if(this.value=='') this.value='******';" onFocus="if(this.value=='******') this.value='';"
                            />
                        </p>
                        <p class="int-text1">
                            <span class="inputbox">
                                <input type="text" id="u_code" name="u_code" maxlength="10" value="验证码"
                                onfocus="if(this.value=='验证码'){this.value='';}" onblur="if(this.value==''){this.value='验证码';};"
                                />
                            </span>
                            <span class="yzm-img">
                                <img src="{maccms:path}inc/common/code.php?a=userreg&s='Math.random()"
                                title="看不清楚? 换一张！" style="cursor:hand;width: 88px;height: 35px;float: left; isplay: block;overflow: hidden;margin: 0 10px 0 0;vertical-align: top;cursor: pointer;"
                                onClick="src='{maccms:path}inc/common/code.php?a=userreg&s='+Math.random()"
                                />
                            </span>
                            <p class="int-info">
                                <input type="checkbox" value="" name="agreement" id="agreement" checked="checked"
                                value='1' />
                                我已阅读并接受《
                                <a href="#">
                                    使用协议
                                </a>
                                》
                            </p>
                            </label>
                            <div class="int-btn">
                                <a class="file">
                                    注册会员
                                    <input type="submit" id="register" value="注册会员" />
                                </a>
                                <a class="aright" href="{maccms:path}index.php?m=user-reg.html">
                                    或点击这里注册
                                </a>
                            </div>
                    </div>
                </div>
                <!-- // ui-form#sign-primary end -->
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{maccms:path_tpl}js/read.js" tppabs="{maccms:url}{maccms:path_tpl}js/read.js">
    </script>
    {else-A}
    {endif-A}
    <script type='text/javascript' src="{maccms:path_tpl}js/foot_js.js" tppabs="{maccms:url}{maccms:path_tpl}js/foot_js.js">
    </script>