<script src="{maccms:path_tpl}js/uaredirectforpc.js" tppabs="{maccms:url}{maccms:path_tpl}js/uaredirectforpc.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("http://m.xiaog.cc/");</script><link type="text/css" rel="stylesheet" href="{maccms:path_tpl}css/index.css" tppabs="{maccms:url}{maccms:path_tpl}css/index.css"/>
<link rel="shortcut icon" href="/favicon.ico" charset="utf-8"/>
<script language="javascript"><!--
window.onerror=function(){return true;}
// --></script>
<script type="text/javascript"> var Siteurl='{maccms:url}'; var Mvodurl='{maccms:url}[vod:link]';  Root='/';var Sid='';var Cid='';var Id='';</script>
<script src="{maccms:path_tpl}js/jquery.js" tppabs="{maccms:url}{maccms:path_tpl}js/jquery.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/playclass.js" tppabs="{maccms:url}{maccms:path_tpl}js/playclass.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/jquery.base.js" tppabs="{maccms:url}{maccms:path_tpl}js/jquery.base.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/jquery-lazyload.js" tppabs="{maccms:url}{maccms:path_tpl}js/jquery-lazyload.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/jquery.autocomplete.js" tppabs="{maccms:url}{maccms:path_tpl}js/jquery.autocomplete.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/jquery.qrcode.min.js" tppabs="{maccms:url}{maccms:path_tpl}js/jquery.qrcode.min.js" type="text/javascript"></script>
<script src="{maccms:path_tpl}js/js.js" tppabs="{maccms:url}{maccms:path_tpl}js/js.js" type="text/javascript"></script>
