<div class="header">
    <div class="header_h">
        <div class="header_l aleft">
            <a href="{maccms:path}" tppabs="{maccms:url}" class="t-logo"><h1>好看电影,最新电视剧,电影在线观看,电视剧在线观看,迅雷电影下载,高清电影,影视吧,影视吧</h1></a>
            <div class="header_menu">
                <div class="header_nav">
                    <ul>
                        <li><a class="{if-A:{maccms:siteaid}=10}current{endif-A}" target="_self" href="{maccms:path}" tppabs="http://www.qiezidy.com/">首页</a></li>
                        {maccms:menu type=parent order=asc table=vod}
                        <li id="n_[menu:num]">
                            <a class="{if-A:[menu:id]={maccms:curvodtypeid}}current{endif-A}{if-A:{maccms:curvodtypepid}=[menu:id]}current{endif-A}" target="_self" href="[menu:link]" tppabs="{maccms:link}">[menu:name]</a>
                        </li>
                        {/maccms:menu}

                        <li><a target="_self" {if-A:{maccms:siteaid}=20} class="current"{endif-A} href="{maccms:link_index_art}" tppabs="{maccms:link_index_art}">新闻</a></li>
<li><a target="_self" href="index.php?m=vod-list-id-1-pg-1-order--by--class-66-year-0-letter--area--lang-.html" tppabs="index.php?m=vod-list-id-1-pg-1-order--by--class-66-year-0-letter--area--lang-.html">午夜</a></li>
<li><a target="_self" href="index.php?m=vod-list-id-2-pg-1-order--by--class-63-year-0-letter--area--lang-.html" tppabs="index.php?m=vod-list-id-2-pg-1-order--by--class-63-year-0-letter--area--lang-.html">独家剧场</a></li>
                        <li><a class="nav_more" href="javascript:void(0);">更多<i></i></a></li>
                    </ul>
                </div>
                <div class="header_tnav" style="display:none">
                    <ul>
                        <li><a href="{maccms:link_topic_vod}" tppabs="{maccms:link_topic_vod}" target="_blank">专题</a></li>
                        <li><a href="{maccms:getlink live.html}" tppabs="{maccms:getlink live.html}" target="_blank">直播</a></li>
                        <li><a href="{maccms:getlink new.html}" tppabs="{maccms:getlink new.html}" target="_blank">最近更新</a></li>
                        <li><a href="{maccms:getlink top.html}" tppabs="{maccms:getlink top.html}" target="_blank">影视排行</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="search" id="searchbar">
            <div class="serach_s">
                <form id="ffsearch" name="search" method="post" action="{maccms:link_search_vod}">
                    <input type="text" id="wd" name="wd" class="search-input" value="请输入影片名或演员姓名。" onfocus="if(this.value=='请输入影片名或演员姓名。'){this.value='';}" onblur="if(this.value==''){this.value='请输入影片名或演员姓名。';};" />
                    <input type="submit" id="searchbutton" class="search-button" value="" />
                </form>
            </div>
        </div>
        <div class="header_tool">
            <a href="{maccms:getlink top.html}" tppabs="{maccms:url}" title="电影排行榜,电视剧排行榜" target="_blank"><i class="hot"></i><span>排行</span></a>
        </div>
        <div class="header_r">
            <ul>
                <!--未登开始-->
                {if-A:isN("{maccms:userid}")}

                <li id="loginbarx"><i class="login"></i><a target="_self" id="innermsg" _hover-ignore="1">登录</a></li>

                {else-A}

                <li id="loginbarx">
                    <a class="nav-link drop-title nav-avatar" href="{maccms:path}index.php?m=user-index.html">
                        <img src="{maccms:path_tpl}images/tx.gif"
                             title="{maccms:username}">
        <span>
            {maccms:username}
        </span>
                    </a>
                    <div class="drop-box" id="nav-signed" style="display: none;">
                        <ul class="ui-signed">
                            <div class="nick-name">
                                <img src="{maccms:path_tpl}images/tx.gif"
                                     title="{maccms:username}">
                <span>
                    {maccms:username}
                </span>
                            </div>
                            <li>
                                <a href="{maccms:path}index.php?m=user-index.html">
                                    <i class="ui-icon user-tbmov">
                                    </i>
                                    我的首页
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-index.html">
                                    <i class="ui-icon user-edit">
                                    </i>
                                    我的资料
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-fav.html">
                                    <i class="ui-icon user-fav">
                                    </i>
                                    我的收藏
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-plays.html">
                                    <i class="ui-icon user-cmt">
                                    </i>
                                    播放记录
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-pay2.html">
                                    <i class="ui-icon user-rss">
                                    </i>
                                    充值中心
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-index.html">
                                    <i class="ui-icon user-fav">
                                    </i>
                                    我的积分
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=gbook-show.html">
                                    <i class="ui-icon user-gb">
                                    </i>
                                    留言本
                                </a>
                            </li>
                            <li>
                                <a href="{maccms:path}index.php?m=user-logout.html">
                                    <i class="ui-icon user-logout">
                                    </i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                {endif-A}

                <!--登登结束-->

                <li id="nav-looked"><i class="look"></i><a href="#">观看记录</a>
                    <div class="header_looked">
                        <div class="looked-list">
                            <p><a rel="nofollow" class="close-his" target="_self" href="javascript:;">关闭</a><a rel="nofollow" href="javascript:;" id="emptybt" data="1" target="_self">清空全部播放记录</a></p>
                            <ul class="highlight" id="playhistory"></ul>
                            <div class="his-todo" id="morelog" style="display:none;"></div>
                            {if-A:isN("{maccms:userid}")}
                            <div class="his-todo" id="his-todo">
                                <a rel="nofollow" target="_blank" class="show-login-dialog" href="index.php?m=user-login.html">登录</a>后将能永久保存播放记录
                                <em>|</em>
                                <a rel="nofollow" target="_blank" href="index.php?m=user-reg.html">免费注册</a>
                            </div>
                            {else-A}
                            {endif-A}
                        </div>
                        <script type="text/javascript">PlayHistoryObj.viewPlayHistory('playhistory');</script>
                        <!-- // looked-list end -->
                    </div> </li>
            </ul>
        </div>
    </div>
</div>
<div class="headers_nav">

    <div class="header_snav">
        <div class="sel-navmain-bg"></div>
        <div class="tab-a sel-navmain-con w1214">
            <div class="aleft">
                {maccms:menu parent=2 num=8}
                <a href="[menu:link]" tppabs="[menu:link]" title="[menu:name]"
                   target="_blank">
                    [menu:name]
                </a>|
                {/maccms:menu}
                <a href="index.php?m=gbook-show.html" tppabs="index.php?m=gbook-show.html" title="留言本"
                   target="_blank">
                    留言本
                </a>|
                <a target="_self" href="javascript:void(0)" onclick="MAC.Home(this,'{maccms:path}');">设置主页</a>|
                <a target="_self" href="javascript:void(0)" onclick="MAC.FAV('{maccms:path}','{maccms:name}');">加入收藏</a>|
				<a href="http://xiaog.cc/" target="_blank">小俊工作室定制</a>
            </div>
            <div class="aright">
                {maccms:menu parent=1}
                <a href="[menu:link]" title="[menu:name]" tppabs="[menu:link]">[menu:name]</a>|
                {/maccms:menu}
            </div>
        </div>
    </div>
</div>