<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电视剧排行榜_2015热门电视剧_好看电视剧推荐 - 小俊工作室</title>
    <meta name="title" content="小俊工作室,最新,好看电影,最新电视剧,电影在线观看,电视剧在线观看,迅雷电影下载,高清电影" />
    <meta name="keywords" content="茄子电影大全为您提供2015最新电影、好看的电影排行榜及电影迅雷下载，免费高清在线观看伦理电影、动作片、喜剧片、爱情片、搞笑片等最新电影，更多电影高清在线观看尽在茄子电影" />
    <meta name="description" content="{maccms:description}" />
    <link rel="canonical" href="{maccms:url}"/>
    <meta name="mobile-agent" content="format=xhtml;url=http://m.{maccms:url}"/>
    <link href="http://m.{maccms:url}" rel="alternate" media="only screen and (max-width: 1000px)"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    {maccms:include}
    <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
    <script src="{maccms:path_tpl}js/home.js"></script>
    <script type="text/javascript">uaredirect("");</script>

</head>
<body>
{maccms:head}
<div class="header_bg"></div><!--头部结束-->
<div class="tab-a navs w1214">
    <div class="wz fn-left">
                <span>
                    您所在的位置：
                </span>
        <a href="{maccms:path}" title="{maccms:name}">
            首页
        </a>
        <em>
            >>
        </em>
        <a class="current">
            排行榜
        </a>
    </div>
</div>
<div class="new-list">
    <div class="tab-a list-all w1214">
        <div class="top-nav">
            <h3>
                排行榜
            </h3>
            <ul>
                <a href="index.php?m=label-top.html" tppabs="index.php?m=label-top.html">
                    全部
                </a>
                <a href="?m=art-index.html"
                   tppabs="?m=art-index.html" title="新闻排行榜">
                    新闻
                </a>
                <a href="index.php?m=label-topdy.html"
                   tppabs="index.php?m=label-topdy.html" title="电影排行榜">
                    电影
                </a>
                <a class="current"  href="index.php?m=label-toptv.html"
                   tppabs="index.php?m=label-toptv.html" title="电视剧排行榜">
                    电视剧
                </a>
                <a href="index.php?m=label-topdm.html"
                   tppabs="index.php?m=label-topdm.html" title="动漫排行榜">
                    动漫
                </a>
                <a href="index.php?m=label-topzy.html"
                   tppabs="index.php?m=label-topzy.html" title="综艺排行榜">
                    综艺
                </a>
            </ul>
        </div>
        <div class="top-r">
            <div class="top-item aleft">
                <div class="top-title">
                            <span>
                                <a href="?m=vod-type-id-2.html"
                                   tppabs="?m=vod-type-id-2.html" title="电视剧总排行榜" target="_blank">
                                    更多>>
                                </a>
                            </span>
                    <h2>
                        <a href="?m=vod-type-id-2.html"
                           tppabs="?m=vod-type-id-2.html" title="电视剧总排行榜" target="_blank">
                            电视剧总排行榜
                        </a>
                    </h2>
                </div>
                <ul class="top-list">
                    {maccms:vod num=50 type=2 order=desc by=hits}
                    <li>
                        <h3>
                            <a href="[vod:link]" tppabs="[vod:link]" title="[vod:name]"
                               target="_blank">
                                        <span class="num stress">
                                            [vod:num].
                                        </span>
                                        <span class="tit">
                                            [vod:name]
                                        </span>
                                        <span class="score">
                                            [vod:hits]
                                        </span>
                            </a>
                        </h3>
                    </li>
                    {/maccms:vod}
                </ul>
            </div>
            <div class="top-item aright">
                <div class="top-title">
                            <span>
                                <a href="?m=vod-type-id-2.html"
                                   tppabs="?m=vod-type-id-2.html" title="电视剧周排行榜" target="_blank">
                                    更多>>
                                </a>
                            </span>
                    <h2>
                        <a href="?m=vod-type-id-2.html"
                           tppabs="?m=vod-type-id-2.html" title="电视剧周排行榜" target="_blank">
                            电视剧周排行榜
                        </a>
                    </h2>
                </div>
                <ul class="top-list">
                    {maccms:vod num=50 type=2 order=desc by=weekhits}
                    <li>
                        <h3>
                            <a href="[vod:link]" tppabs="[vod:link]" title="[vod:name]"
                               target="_blank">
                                        <span class="num stress">
                                            [vod:num].
                                        </span>
                                        <span class="tit">
                                            [vod:name]
                                        </span>
                                        <span class="score">
                                            [vod:weekhits]
                                        </span>
                            </a>
                        </h3>
                    </li>
                    {/maccms:vod}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部开始-->
{maccms:foot}
<!--底部结束-->
<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        try {
            var s, a, i, j, r, c, l = document.getElementsByTagName("a"),
                    t = document.createElement("textarea");
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].getAttribute("href");
                    if (a && a.indexOf("/cdn-cgi/l/email-protection") > -1 && (a.length > 28)) {
                        s = '';
                        j = 27 + 1 + a.indexOf("/cdn-cgi/l/email-protection");
                        if (a.length > j) {
                            r = parseInt(a.substr(j, 2), 16);
                            for (j += 2; a.length > j && a.substr(j, 1) != 'X'; j += 2) {
                                c = parseInt(a.substr(j, 2), 16) ^ r;
                                s += String.fromCharCode(c);
                            }
                            j += 1;
                            s += a.substr(j, a.length - j);
                        }
                        t.innerHTML = s.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                        l[i].setAttribute("href", "mailto:" + t.value);
                    }
                } catch(e) {}
            }
        } catch(e) {}
    })();
    /* ]]> */

</script>
</body>

</html>