<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>《[vod:name]》-电影在线观看-高清下载-磁力链接-网盘播放-小俊工作室</title>
    <meta name="title" content="小俊工作室[vod:name]高清,[vod:name]高清完整版,[vod:name]在线播放,[vod:name]茄子电影在线观看" />
    <meta name="keywords" content="[vod:content len=80]..." />
    <meta name="description" content="{maccms:description}" />
    <link rel="canonical" href="{maccms:url}"/>
    <meta name="mobile-agent" content="format=xhtml;url=http://m.{maccms:url}"/>
    <link href="http://m.{maccms:url}" rel="alternate" media="only screen and (max-width: 1000px)"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    {maccms:include}
    <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
    <script src="{maccms:path_tpl}js/home.js"></script>
    <script type="text/javascript">uaredirect("");</script>

</head>
<body>
{maccms:head}
<div class="header_bg"></div><!--头部结束-->
<div class="vod-box">
    <div class="tab-a vod-n w1214">
        <div class="vod-n-box">
            <div class="vodnav">
                <div class="wz fn-right">
                            <span>
                                您的位置：
                            </span>

                        [vod:textlink]

                </div>
            </div>
            <input type='hidden' name='_void_id' id='_void_id' value='37' />
            <div class="vod-rating" id="detail-box">
                <div class="rating-box" id="rating-main" style="display: block;">
                    <div class="rating-total fn-clear">
                        <label class="rating-total-item" id="total">
                            &nbsp;
                        </label>
                        <div class="pingfen-total">
                            <strong id="pingfen">
                                [vod:score]
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="rating-box" id="rating-kong" style="display: none;">
                    <div class="rating-kong-item">
                                <span class="loadingg">
                                    评分加载中...
                                </span>
                    </div>
                </div>
            </div>
            <div class="vod-r_t">
                <ul>
                    <a class="cur">
                        详细
                    </a>
                </ul>
            </div>
            <div class="vod-l">
                <div class="vod-n-img">
                    <img class="loading" src="[vod:pic]" tppabs="[vod:pic]"
                         data-original="[vod:pic]"
                         alt="[vod:name]" />
                    {if-A:not isN("[vod:remarks]")}
                    {elseif-A:[vod:state]=0}
                    {elseif-A:[vod:state]>0}
                    {if-B:[vod:state]>10000}
                    <div class="status">
                    </div>
                    {else-B}
                    <div class="status">
                    </div>
                    {endif-B}
                    {else-A}
                    {endif-A}
                </div>
            </div>
            <div class="vod-n-l w630">
                <h1>
                    [vod:name]
                </h1>
                <p class="ptxt fn-left">
                            <span class="sDes">
                                更新至
                    {if-A:not isN("[vod:remarks]")}
                    [vod:remarks]
                    {elseif-A:[vod:state]=0}完结
                    {elseif-A:[vod:state]>0}
                    {if-B:[vod:state]>10000}
                    [vod:state]期
                    {else-B}
                    <em class="redd">
                        [vod:state]
                            </em>
                                集
                            </span>
                    {endif-B}
                    {else-A}
                    {endif-A}
                </p>
                <div class="detail-sect">
                    <div class="interest-sect user-bt">
                        <a rel="nofollow" class="sect-btn" id="wish" href="javascript:void(0)" onclick="MAC.UserFav('[vod:id]');return false;">收藏</a>
                    </div>
                </div>
                <p class="clear  fn-left">
                    <em>
                        清晰：
                    </em>
                    <em class="reds">
                        [vod:remarks]
                    </em>
                </p>
                <p class="v-zy clear">
                    <em>
                        主演：
                    </em>

                    <storng>
                        [vod:starringlink]
                    </storng>

                </p>
                <p class="vw60 fn-left">
                    <em>
                        类型：
                    </em>
                    [vod:typename]
                </p>
                <p class="vw30 fn-right">
                    <em>
                        导演：
                    </em>
                    <storng>
                        [vod:directedlink]
                    </storng>
                    </storng>
                </p>
                <p class="vw38 fn-left">
                    <em>
                        年分：
                    </em>
                    [vod:yearlink]
                </p>
                <p class="vw20 fn-left">
                    <em>
                        地区：
                    </em>
                    [vod:arealink]
                </p>
                <p class="vw30 fn-right">
                    <em>
                        语言：
                    </em>
                    [vod:langlink]
                </p>
                <p class="vw38 fn-left cmt">
                    <em class="fn-left">
                        评论：
                    </em>
                    <a rel="nofollow" href="#comment">
                        <span class="fn-left">当前有<strong id="commnum">{page:datacount}</strong>条评论，</span>
                        <i class="icocm">
                        </i>
                    </a>
                </p>
                <p class="vw20 fn-left">
                    <em>
                        播放：
                    </em>
                    [vod:hits]
                </p>
                <p class="vw30 fn-right">
                    <em>
                        更新：
                    </em>
                    [vod:time style=yy-m-d]
                </p>
                <p class="v-js clear">
                    <em>
                        简介：
                    </em>
                    [vod:contenttext len=80]…
                </p>
                <div id="detail-rating" class="fn-left" style="width:50%">
                    <div id="detail-rating" class="fn-clear">
                        <div id="rating" class="fn-left">
                                    <span class="label">
                                        给影片评分：
                                    </span>
                            <ul class="rating">
                                <li class="one current" title="很差" val="1">
                                    很差
                                </li>
                                <li class="two current" title="较差" val="2">
                                    较差
                                </li>
                                <li class="three current" title="还行" val="3">
                                    还行
                                </li>
                                <li class="four" title="推荐" val="4">
                                    推荐
                                </li>
                                <li class="five" title="力荐" val="5">
                                    力荐
                                </li>
                            </ul>
                                    <span id="ratewords">
                                        还行
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vod-r">
                <div class="vod_r_tool">
                    <div class="qr-code-ico">
                        <i class="iconfont">
                            &#xe622;
                        </i>
                    </div>
                    <div class="qr-code">
                        <div class="qr-code-box">
                            <div id="ncode">
                            </div>
                        </div>
                        <p>
                            手机扫一扫轻松观看
                        </p>
                        <p>
                            <em>
                                [vod:name len=10]
                            </em>
                        </p>
                    </div>
                    <div class="bdsharebuttonbox" data-tag="share_1">
                        <p class="els-ico" id="hony-share-services">
                            <a rel="nofollow" class="bds_more" data-cmd="more">
                                更多
                            </a>
                            <a rel="nofollow" class="s-sina" data-cmd="tsina">
                            </a>
                            <a rel="nofollow" class="s-qzone" data-cmd="qzone">
                            </a>
                            <a rel="nofollow" class="s-dou" data-cmd="weixin">
                            </a>
                            <a rel="nofollow" class="s-ren" data-cmd="sqq">
                            </a>
                        </p>
                    </div>
                    <script>
                        window._bd_share_config = {
                            common: {
                                bdText: '[vod:name]',
                                bdDesc: '[vod:content len=120]…',
                                bdUrl: 'http://{maccms:url}[vod:link]',
                                bdPic: '[vod:pic]'
                                /*tpa=[vod:pic]*/
                            },
                            share: [{
                                "bdSize": 4
                            }]
                        };
                        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~ ( - new Date() / 36e5)];
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vod-play">
    <div class="tab-a play_list w1214" id="detail-list">
        <div class="tab-a play-title w1214">
            <div class="play-dz">
                播放地址：
            </div>
            <ul class="playurl">
                {maccms:play}
                <li {if-A:[play:num]=1} class="current"{endif-A}>
                    <a rel="nofollow" title="[play:show]" id="[play:from]-pl">
                                <span class="[play:from]">
                                    &nbsp;&nbsp;
                                </span>
                        [play:show]
                    </a>
                </li>
                {/maccms:play}
            </ul>

            <div class="play-bug">
                <a rel="nofollow" href="javascript:void(0)" onclick='MAC.Error("vod","[vod:id]","[vod:name]");return false;' target="_blank">
                    不能播放，报错
                </a>
            </div>
        </div>
    </div>
    {maccms:play}
   <div class="tab-a play-box w1214" id="xigua-pl-list" {if-A:[play:num]=1}style="display:block"{elseif-A:[play:num]>1}style="display:none"{else-A}{endif-A}>
        <ul class="player_list">
            {maccms:url order=desc}
            <a target="_blank" href="[url:link]"
               tppabs="[url:link]" title="[url:name]">
                [url:name]
            </a>
            {/maccms:url}
        </ul>
		<div class="wxts">
            <p>
                        <span>
                            温馨提示：
                        </span>
                [DVD：标准清晰版]&nbsp;[BD：高清无水印]&nbsp;[HD：高清版]&nbsp;[TS：抢先非清晰版] - 其中，BD和HD版本不太适合4M以下的宽带的用户和网速过慢的用户观看。
            </p>
           <p>
                        <span>
                            播放说明：
                        </span>
               如发现视频不能播放请先清除浏览器缓存或多刷新几次，或者加<a target="_blank" href="http://xiaog.cc">小俊工作室官网:www.xiaog.cc</a>【注明：小俊工作室主要提供在线观看视频功能，95%的视频是不需要下载播放器的】。
            </p>
            <p>
                        <span>
                            下载说明：
                        </span>
                本站主力下载资源只提供<a href="http://jingyan.baidu.com/article/e52e36154223ef40c70c5143.html" target="_blank">“磁力链接”</a>，“百度网盘”，“迅雷”，“旋风”等主流下载方式。
            </p>
            <p>
                        <span>
                            网盘播放说明：
                        </span>
                关于使用网盘在线观看或下载视频请点此链接【<a href="http://jingyan.baidu.com/article/e9fb46e1adf8217521f7660c.html" target="_blank">百度网盘观看视频</a>】。
            </p>
        </div>
    </div>
    {/maccms:play}
    {maccms:down}
    <div class="tab-a vod-down w1214" id="downlist_1">
        <div class="down-title">
            <a rel="nofollow" href="javascript:void(0);">
                        <span id="downzk" class="zk">
                            展开全部
                        </span>
            </a>
            <h2 class="fn-left">
                视频下载[down:num]
            </h2>
        </div>
        <div class="player_list">
            <ul>

                {maccms:url order=desc}
                    <a href="[url:path]" target="_blank">[url:name]</a>
                {/maccms:url}

            </ul>
        </div>
    </div>{/maccms:down}
</div>
</div>
<div class="tab-a vod-juqing w1214">
    <div class="vod-title clear">
        <h2>
            [vod:name]剧情简介
        </h2>
    </div>
    <div class="vod-jianjie">
	[vod:contenttext]
    </div>
</div>
<div class="tab-a vod-boxt w1214">
    <div class="vod-botx-title">
        <ul>
            <li id="latest1" onclick="setTab('latest',1,3);" class="current">
                猜你喜欢
            </li>
        </ul>
    </div>
</div>
<div class="tab-a vod-box-tab w1214" style="">
    <ul class="list_module_img" style="display:block">
        {maccms:vod num=6 order=asc type={maccms:curvodtypeid} by=hits}
        <li>
            <a class="list-img" href="[vod:link]"
               tppabs="[vod:link]" title="[vod:name]" target="_blank">
                <img class="loading" src="[vod:pic]" tppabs="[vod:pic]"
                     data-original="[vod:pic]"
                     alt="[vod:name]" />
                <label class="score">
                    [vod:score]
                </label>
                <label class="title">
                    {if-A:not isN("[vod:remarks]")}
                    [vod:remarks]
                    {elseif-A:[vod:state]=0}
                    完结
                    {elseif-A:[vod:state]>0}
                    {if-B:[vod:state]>10000}
                    连载[vod:state]期
                    {else-B}
                    连载[vod:state]集</label><label class="status"></label>
                {endif-B}
                {else-A}
                {endif-A}
            </a>
            <div class="info">
                <h2>
                    <a target="_blank" href="[vod:link]"
                       tppabs="[vod:link]">
                        [vod:name]
                    </a>
                </h2>
                <p class="actor">
                    <em>
                        主演:
                    </em>
                    [vod:starring len=12]
                </p>
                <p class="type">
                    <em>
                        类型:
                    </em>
                    [vod:typename]
                </p>
                <p class="showtime">
                    <em>
                        上映:[vod:year]
                    </em>
                </p>
                <p class="up">
                    <em>
                        更新:
                    </em>
                    [vod:time style=yy-m-d]
                </p>
                <p class="plot">
                    <em>
                        剧情:
                    </em>
                    [vod:content len=20]…
                </p>
            </div>
        </li>
        {/maccms:vod}
    </ul>
    </div>
	    <div class="tab-a cmt w1214">
        [vod:comment]
</div></div>
{maccms:foot}

<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        try {
            var s, a, i, j, r, c, l = document.getElementsByTagName("a"),
                    t = document.createElement("textarea");
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].getAttribute("href");
                    if (a && a.indexOf("/cdn-cgi/l/email-protection") > -1 && (a.length > 28)) {
                        s = '';
                        j = 27 + 1 + a.indexOf("/cdn-cgi/l/email-protection");
                        if (a.length > j) {
                            r = parseInt(a.substr(j, 2), 16);
                            for (j += 2; a.length > j && a.substr(j, 1) != 'X'; j += 2) {
                                c = parseInt(a.substr(j, 2), 16) ^ r;
                                s += String.fromCharCode(c);
                            }
                            j += 1;
                            s += a.substr(j, a.length - j);
                        }
                        t.innerHTML = s.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                        l[i].setAttribute("href", "mailto:" + t.value);
                    }
                } catch(e) {}
            }
        } catch(e) {}
    })();
    /* ]]> */

</script>
</body>

</html>