<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{page:name}电影在线观看-{page:name}高清下载-{page:name}磁力链接-{page:name}网盘播放-小俊工作室</title>
    <meta name="title" content="小俊工作室{page:name}高清,{page:name}高清完整版,{page:name}在线播放,{page:name}茄子电影在线观看" />
    <meta name="keywords" content="茄子电影大全为您提供2015最新电影、好看的电影排行榜及电影迅雷下载，免费高清在线观看伦理电影、动作片、喜剧片、爱情片、搞笑片等最新电影，更多电影高清在线观看尽在茄子电影" />
    <meta name="description" content="{maccms:description}" />
    <link rel="canonical" href="{maccms:url}"/>
    <meta name="mobile-agent" content="format=xhtml;url=http://m.{maccms:url}"/>
    <link href="http://m.{maccms:url}" rel="alternate" media="only screen and (max-width: 1000px)"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    {maccms:include}
    <script src="{maccms:path_tpl}js/home.js"></script>
</head>
<body>
{maccms:head}
<div class="header_bg"></div><!--头部结束-->
<div class="location">
    <div class="tab-a list-search w1214">
        <div class="listnav">
            <div class="wz fn-right">
                        <span>
                            您所在的位置：
                        </span>
                {page:textlink}
            </div>
        </div>
        <div class="l-s-title">
            分类索引
        </div>
        <div class="l-s-r">
            <h4 class="name aleft">
            </h4>
            <p class="conbread">
            </p>
        </div>
    </div>
</div>
<div class="list-fen">
    <div class="tab-a list-f-mod w1214">
        <div class="mod-fl">
            <h3>
                分类：
            </h3>
            <ul>

                <li>
                    <a href="{page:linktype}" {if-A:"{page:pid}"="0"} class="current" {endif-A}>全部</a>
                </li>
                <li>
                    {maccms:menu type=auto}
                    <a href="[menu:link]" {if-A:"{page:id}"="[menu:id]"} class="current" {endif-A}>[menu:name]</a>
                    {/maccms:menu}
                </li>

            </ul>
        </div>
        <div class="mod-fl">
            <h3>
                类型：
            </h3>
            <ul>

                <li>
                    <a href="{page:linkclass}" {if-A:"{page:class}"=""} class="current" {endif-A}>全部</a>
                </li>
                {maccms:class type=auto}
                <li>
                    <a href="[class:link]" {if-A:"{page:class}"="[class:id]"} class="current" {endif-A}>[class:name]</a>
                </li>
                {/maccms:class}
            </ul>
        </div>
        <div class="mod-fl">
            <h3>
                地区：
            </h3>
            <ul>
                <li>
                    <a href="{page:linkarea}" {if-A:"{page:area}"=""} class="current" {endif-A}>全部</a>
                </li>
                {maccms:area type=auto order=asc}
                <li>
                    <a href="[area:link]" {if-A:"{page:area}"="[area:name]"} class="current" {endif-A}>[area:name]</a>
                </li>
                {/maccms:area}
            </ul>
        </div>
        <div class="mod-fl">
            <h3>
                年代：
            </h3>
            <ul>
                <li>
                    <a href="{page:linkyear}" {if-A:"{page:year}"=""} class="current" {endif-A}>全部</a>
                </li>
                {maccms:year type=auto start=2000 end=2016 order=desc}
                <li>
                    <a href="[year:link]" {if-A:"{page:year}"="[year:name]"} class="current" {endif-A}>[year:name]</a>
                </li>
                {/maccms:year}
            </ul>
        </div>
        <div class="mod-fl letter">
            <h3>
                字母：
            </h3>
            <ul>
                <li>
                    <a href="{page:linkletter}" {if-A:"{page:letter}"=""} class="current" {endif-A}>全部</a>
                </li>
                {maccms:letter type=auto letter=all}
                <li>
                    <a rel="nofollow" href="[letter:link]" {if-A:"{page:letter}"="[letter:name]"} class="current" {endif-A} data="letter-[letter:name]">[letter:name]</a>
                </li>
                {/maccms:letter}
            </ul>
        </div>
    </div>
</div>
<div class="mod-fl-more">
    <a rel="nofollow" href="javascript:void(0);">
                <span id="list-url-more">
                    更多
                </span>
    </a>
</div>
<div class="list-u">
    <div class="tab-a list-all w1214">
        <div class="list-title">
            <div class="list-r-tool">
                <a {if-A:"{page:by}"="time"} class="newico curr" {endif-A} href="{page:linkbytime}"><em></em>时间</a>
                <a {if-A:"{page:by}"="hits"} class="hotico curr" {endif-A} href="{page:linkbyhits}"><em></em>人气</a>
                <a {if-A:"{page:by}"="score"} class="gode curr" {endif-A} href="{page:linkbyscore}"><em></em>评分</a>
            </div>
        </div>
        <ul class="list_module_img" id="contents">
            {maccms:vod pagesize=24 order=desc by=time}
            <li>
                <a class="list-img" href="[vod:link]" tppabs="[vod:link]"
                   title="[vod:name]" target="_blank">
                    <img class="loading" src="[vod:pic]" tppabs="[vod:pic]"
                         data-original="[vod:pic]"
                         alt="[vod:name]" />
                    <label class="score">
                        [vod:score]
                    </label>
                    <label class="title">
                        {if-A:not isN("[vod:remarks]")}
                        [vod:remarks]
                        {elseif-A:[vod:state]=0}
                        完结
                        {elseif-A:[vod:state]>0}
                        {if-B:[vod:state]>10000}
                        连载[vod:state]期
                        {else-B}
                        连载[vod:state]集</label><label class="status"></label>
                    {endif-B}
                    {else-A}
                    {endif-A}
                </a>
                <div class="info">
                    <h2>
                        <a href="[vod:link]" tppabs="[vod:link]"
                           title="[vod:name]" target="_blank">
                            [vod:name]
                        </a>
                    </h2>
                    <p class="actor">
                        <em>
                            主演:
                        </em>
                        [vod:directed len=10]
                    </p>
                    <p class="type">
                        <em>
                            类型:
                        </em>
                        [vod:typename]
                    </p>
                    <p class="showtime">
                        <em>
                            上映:
                        </em>
                        [vod:year]
                    </p>
                    <p class="up">
                        <em>
                            更新:
                        </em>
                        [vod:time style=yy-m-d]
                    </p>
                    <p class="plot">
                        <em>
                            剧情:
                        </em>
                        [vod:contenttext len=50]…
                    </p>
                </div>
            </li>
            {/maccms:vod}
        </ul>
        <div class="tab-a uipages pages w1214" id="long-page">
            <div class="page">{maccms:pages len=6}</div>
        </div>
    </div>
</div>
<!--底部开始-->
{maccms:foot}
<!--底部结束-->
<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        try {
            var s, a, i, j, r, c, l = document.getElementsByTagName("a"),
                    t = document.createElement("textarea");
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].getAttribute("href");
                    if (a && a.indexOf("/cdn-cgi/l/email-protection") > -1 && (a.length > 28)) {
                        s = '';
                        j = 27 + 1 + a.indexOf("/cdn-cgi/l/email-protection");
                        if (a.length > j) {
                            r = parseInt(a.substr(j, 2), 16);
                            for (j += 2; a.length > j && a.substr(j, 1) != 'X'; j += 2) {
                                c = parseInt(a.substr(j, 2), 16) ^ r;
                                s += String.fromCharCode(c);
                            }
                            j += 1;
                            s += a.substr(j, a.length - j);
                        }
                        t.innerHTML = s.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                        l[i].setAttribute("href", "mailto:" + t.value);
                    }
                } catch(e) {}
            }
        } catch(e) {}
    })();
    /* ]]> */

</script>
</body>

</html>