<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>最新专题_电影专题_明星专题_专题大全-小俊工作室</title>
    <meta name="title" content="小俊工作室,最新专题,电影专题,明星专题,专题大全" />
    <meta name="keywords" content="小俊工作室提供最新电影、电视、明星专题包含的影片,电影介绍，剧情介绍等完全免费在线观看！" />
    <meta name="description" content="{maccms:description}" />
    <link rel="canonical" href="{maccms:url}"/>
    <meta name="mobile-agent" content="format=xhtml;url=http://m.{maccms:url}"/>
    <link href="http://m.{maccms:url}" rel="alternate" media="only screen and (max-width: 1000px)"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    {maccms:include}
    <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
    <script src="{maccms:path_tpl}js/home.js"></script>
    <script type="text/javascript">uaredirect("");</script>

</head>
<body>
{maccms:head}
<div class="header_bg"></div><!--头部结束-->
<div class="tab-a navs w1214">
    <div class="wz fn-left">
                <span>
                    您所在的位置：
                </span>
        <a href="{maccms:path}" tppabs="{maccms:path}">
            首页
        </a>
        <em>
            >>
        </em>
        <a class="current" href="?m=vod-topicindex.html">
            专题列表
        </a>
    </div>
</div>
<div class="list-u">
    <div class="tab-a list-all w1214">
        <div class="tab-a special-all-item w1214">
            <ul class="special-all-img" id="contents">
                {maccms:topic pagesize=15 order=desc by=time}
                <li>
                    <a class="special-img" href="[topic:link]"
                       tppabs="[topic:link]" title="[topic:name]" target="_blank">
                        <img class="loading" src="[topic:pic]"
                             tppabs="[topic:pic]" alt="[topic:name]">
                        <label class="text">
                            [topic:name]
                        </label>
                    </a>
                </li>
                {/maccms:topic}
            </ul>
        </div>
    </div>
    <div class="tab-a uipages pages w1214" id="long-page">
        <div class="page">{maccms:pages len=6}</div>
    </div>
</div>
</div>
<!--底部开始-->
{maccms:foot}
<!--底部结束-->
<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        try {
            var s, a, i, j, r, c, l = document.getElementsByTagName("a"),
                    t = document.createElement("textarea");
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].getAttribute("href");
                    if (a && a.indexOf("/cdn-cgi/l/email-protection") > -1 && (a.length > 28)) {
                        s = '';
                        j = 27 + 1 + a.indexOf("/cdn-cgi/l/email-protection");
                        if (a.length > j) {
                            r = parseInt(a.substr(j, 2), 16);
                            for (j += 2; a.length > j && a.substr(j, 1) != 'X'; j += 2) {
                                c = parseInt(a.substr(j, 2), 16) ^ r;
                                s += String.fromCharCode(c);
                            }
                            j += 1;
                            s += a.substr(j, a.length - j);
                        }
                        t.innerHTML = s.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                        l[i].setAttribute("href", "mailto:" + t.value);
                    }
                } catch(e) {}
            }
        } catch(e) {}
    })();
    /* ]]> */

</script>
</body>

</html>