@charset "utf-8";
	body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,th,td,table,label,article,aside,dialog,footer,header,section,footer,nav,figure,hgroup {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}
body {
	color:#666;
	font:12px/18px "\5FAE\8F6F\96C5\9ED1",Arial,sans-serif,"\65B0\5B8B\4F53";
	background:#f2f2f2;
}
article,aside,dialog,footer,header,section,footer,nav,figure,hgroup {
	display:block;
}


.topFlash {
	background-color:#010101;
	overflow:hidden;
	position:relative;
	width:100%;
	z-index:40;
	text-align:center;
}
.border_gray {
	border:1px solid #d9d9d9;
	background:#fff;
	box-shadow:0 3px 3px #e6e6e6;
}
.bottom_shadow {
	box-shadow:0 3px 3px #e6e6e6;
}

.flowPadding_lr19 {
	padding-left:19px;
	padding-right:19px;
}
.flowMargin_lr19 {
	margin-left:19px;
	margin-right:19px;
}
.margin_t70 {
	margin-top:70px;
}
.margin_b20 {
	margin-bottom:20px;
	margin-top:-18px;
}
.margin_b15 {
	margin-bottom:15px;
}
.padding_t20 {
	padding-top:20px;
}
.pd19_noTop {
	padding:0 19px 19px;
}
.s_main .pb_no {
	padding-bottom:0px;
}
.adflash_style {
	display:none;
	margin-top:-350px;
	width:100%;
	height:350px;
	position:relative;
	background:#000;
	z-index:4
}
.borderTtop_heightNone {
	border-top:1px solid #d9d9d9;
	font-size:0;
	line-height:0;
	clear:both;
	overflow:hidden;
}
.c3c {
	color:#ccc;
}
.blockHarf_l,.blockHarf_r {
	width:50%;
	float:left;
}
.blockHarf_l .piclist14590 li,.blockHarf_r .piclist14590 li {
	padding-left:23px;
}
.blockHarf_l {
	margin-right:-10px;
}


/***-**********************************************/
.flash_wrap {
	height:340px;
	overflow:hidden;
	padding:10px 0;
	background:#000;
	margin:0 auto
}
.focuslist {
	height:340px;
	overflow:hidden
}
.focuslist li {
	background-position:center top;
	background-repeat:no-repeat;
	height:340px
}
.focuslist li a {
	display:block;
	width:100%;
	height:100%
}
.focusbtn a {
	background:url(http://www.ffcms.cn/style/css/images/bgplay_1.png) no-repeat 0 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='http://www.ffcms.cn/style/css/images/bgplay_1.png');
	_background:0;
	cursor:pointer;
	display:block;
	height:49px;
	width:60px;
	position:absolute;
	top:10px;
	left:20px
}
.focusbtn a:hover {
	background-image:url(http://www.ffcms.cn/style/css/images/bgplay_0.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='http://www.ffcms.cn/style/css/images/bgplay_0.png');
	_background:0
}
.fousimglist {
	height:50px;
	right:20px;
	position:absolute;
	top:10px;
	width:430px
}
.fousimglist .arrayL,.fousimglist .arrayR,.fousimglist .arrayLNone,.fousimglist .arrayRNone {
	background:url(/style/css/images/arrow_stroll.png) no-repeat;
	_background:url(http://www.qiyipic.com/common/fix/focus_images/arrow_strollie6.png) no-repeat;
	height:23px;
	margin:12px 0 0;
	width:12px
}
.fousimglist .arrayL {
	background-position:0 0;
	display:inline;
	float:left;
	margin-right:15px
}
.fousimglist .arrayR {
	background-position:-22px 0;
	display:inline;
	float:right
}
.fousimglist a.arrayL:hover {
	background-position:0 -33px
}
.fousimglist a.arrayR:hover {
	background-position:-22px -33px
}
.fousimglist .arrayLNone {
	background-position:0 0;
	cursor:default
}
.fousimglist .arrayRNone {
	background-position:-22px 0;
	cursor:default
}
.fousimglist a.arrayLNone:hover {
	background-position:0 0
}
.fousimglist a.arrayRNone:hover {
	background-position:-22px 0
}
.fousimglist li {
	display:inline;
	float:left;
	margin:0 15px 0 0;
	width:50px
}
.fousimglist li a {
	float:left;
	height:50px;
	width:50px
}
.fousimglist li img {
	float:left;
	height:48px;
	width:48px;
	border:#525252 1px solid
}
.fousimglist li.selected img {
	border:#b9282f 1px solid
}
.fousimglist .focusimgShow {
	position:relative;
	width:390px;
	float:left;
	overflow:hidden
}
.flash_wrap .pos_82 {
	position:relative;
	top:-82px;
	width:980px;
	margin:0 auto
}
.focustop {
	height:72px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000');
	background:rgba(0,0,0,.6);
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px
}
:root .focustop {
	filter:none
}
.focustop .focustxt {
	position:absolute;
	left:90px;
	text-align:left
}
.focustop .focustxt h2 a {
	color:#fff;
	font-size:18px;
	line-height:40px;
	text-align:left;
	text-decoration:none
}
.focustop .focustxt p {
	color:#fff;
	font-size:12px
}
.fousimglist li a {
	blr:expression(this.onFocus=this.close())
}
.fousimglist li a {
	blr:expression(this.onFocus=this.blur())
}
.fousimglist li a:focus {
	-moz-outline-style:none
}
.focuslist .pos_82 .focusbtn a {
	width:60px;
	height:49px;
	display:inline-block
}
.focuslist .pos_82 .focustxt a {
	color:#fff;
	font-size:18px;
	line-height:40px;
	text-align:left;
	text-decoration:none;
	width:auto;
	display:inline-block
}