<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>404 - 飞飞影视系统</title><meta name="keywords" content="最新电视剧，免费电视剧，2015最新电影，www.ffcms.cn，飞飞影视系统" /><meta name="description" content="飞飞影视系统提供最全的最新电视剧，2015最新电影，韩国电视剧、香港TVB电视剧、韩剧、日剧、美剧、综艺的在线观看和剧集交流场所，在线观看分为普通视频模式、百度影音等播放高清播放模式，每天第一时间更新，放送最新好看的高清免费电视剧" /><script language="javascript"><!-- 
	window.onerror=function(){return true;} 
// --></script><script language="javascript">
	var Root='/';
	var Sid='';
	var Cid='';
			var Id='';</script><link href="/static/css/base.css?v2013011232148" type="text/css" rel="stylesheet" /><link href="/static/css/skin-orange.css" id="cssfile" type="text/css" rel="Stylesheet"><script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script><script src="/static/js/jquery.base.js" type="text/javascript"></script><script src="/static/js/playclass.js?v2013040132" type="text/javascript"></script><link href="/favicon.ico" type="image/x-icon" rel="icon"><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"><script src="/static/js/jquery.cookie.js" type="text/javascript"></script><script type="text/javascript">
	// Skin
	$(function () {
		var $li = $("#skin li"); 
		$li.click(function (){ 
			switchSkin(this.id);
		});
		// Save Cookie
		var cookie_skin = $.cookie("MyCssSkin");
		if (cookie_skin) {                       
			switchSkin(cookie_skin); 
		}
	});
	function switchSkin(skinName) {   
		$("#" + skinName).addClass("selected") 
			.siblings().removeClass("selected"); 
		$("#cssfile").attr("href", "/static/css/" + skinName + ".css");
		$.cookie("MyCssSkin", skinName, { path: '/', expires: 10 }); 
	}
.header {height: 100px; }
.logo{float:left;display:block;position:relative;top:9px;padding-right: 50px;padding-bottom: 0;padding-left: 0;width:200px;height:72px;background:url(../images/logo.png) no-repeat 0px 10px;}
.pikake{float:left;display:block;position:relative;top:1px;padding-right: 50px;padding-bottom: 0;padding-left: 0;width:200px;height:72px;background:url(../images/logo.png) no-repeat 35px 10px;}
/***/


.cycle a,.w210 dd p,.w200 dd p,.smallbox b,.pre a,.next a,.Enter .w200 dd p a,.MusicLs .w200 dd p a {
	background:url(../css/images/doc.png) no-repeat -1000px -1000px;
}
.pre a {
	width:27px;
	height:26px;
	display:block;
	background-position:-84px -10px;
}
.next a {
	width:27px;
	height:26px;
	display:block;
	background-position:-123px -10px;
}
.pre i,.next i {width:25px;height:22px;background:url(../css/images/tipb.gif) 0px 3px no-repeat;position:absolute;top:0px;left:28px;cursor:pointer}
.next i {width:25px;height:22px;background:url(../css/images/tipa.gif) 0px 3px no-repeat;position:absolute;top:0px;left:-25px;cursor:pointer}
/**/
.path a.i-menu:hover {
	background:url(../css/images/menu1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/css/images/menu1.png")
}
.path a.i-pc:hover {
	background:url(../css/images/pc1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/css/images/pc1.png");
}
.path a.i-tv:hover {
	background:url(../css/images/tv1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/css/images/tv1.png");
}
.path a.i-iphone:hover {
	background:url(../css/images/iphone1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/css/images/iphone1.png");
}	
.path a.i-ipad:hover {
	background:url(../css/images/ipad1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/style/css/images/ipad1.png")
}
/**/
.channel-silder-play {display:block;width:110px;height:38px;overflow:hidden;background:url(../css/images/play.png) 0 0px no-repeat;line-height: 39px;color: #FFF;text-align: center;margin-top: 5px;}
/*******************************************

.path a.i-menu:hover {
	background:url(../css/images/menu1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../css/images/menu1.png")
}
.path a.i-menu:hover {
	background:url(../css/images/menu1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../css/images/menu1.png")
}
.path a.i-pc:hover {width:30px;height:128px;background:url(../css/images/pca.png) 0px 0px no-repeat;position:absolute;top:67px;left:4px;cursor:pointer}
.path a.i-tv:hover {width:30px;height:128px;background:url(../css/images/tva.png) 0px 0px no-repeat;position:absolute;top:67px;left:4px;cursor:pointer}
.path a.i-ipad:hover {width:30px;height:128px;background:url(../css/images/ipada.png) 0px 0px no-repeat;position:absolute;top:67px;left:4px;cursor:pointer}
.path a.i-iphone:hover {width:30px;height:128px;background:url(../css/images/iphonea.png) 0px 0px no-repeat;position:absolute;top:67px;left:4px;cursor:pointer}**/
.top_r li a:hover{color: #fff;text-decoration: none;background: url(../images/navbar-bg.gif) 0 0 repeat-x  #b9282f;border: 1px solid #b9282f;}
</script><script src="//static/js/jquery.autocomplete.js" type="text/javascript"></script><base target="_blank" /></head><body><!-- // 404 Page Start --><div id="page-error"><div id="page-error-img"><h1>404</h1><p><span id="tip">很抱歉，没有找到您想访问的页面，或本页面已被删除。</span></p><p><span id="gbook"><a href="http://gb.mianbao.com">给我们留言</a></span><label>或者</label><span id="go-back"><a href="http://www.mianbao.com">返回面包首页</a></span></p></div><!-- // page-error-img --><div id="page-error-txt"><div id="page-error-search"><div class="search"><form id="search" name="search" method="POST" action="http://find.mianbao.com/vod-search" onSubmit="return qrsearch();"><input type="text" id="kw" name="kw" class="input-txt" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" /><input type="submit" id="searchbutton"  class="input-btn" value="" /></form></div><!-- // search End --><script src="//static/js/searchtip.js" type="text/javascript"></script></div><!-- // page-error-search End --><div id="page-error-list"><ol class="pic-list"><li><a class="play-pic" href="/fun/babaqunaer/"><img src="http://pic.mianbao.com/myupload/newpic/201310/26/526bb91356062.jpg" alt="爸爸去哪儿" /><label class="bg">&nbsp;</label><label class="time">20131206</label></a><p><a href="/fun/babaqunaer/">爸爸去哪儿</a></p></li><li><a class="play-pic" href="/mainland/zhengzhewudi/"><img src="http://pic.mianbao.com/myupload/newpic/201209/11/504ea763df13e.jpg" alt="正者无敌" /><label class="bg">&nbsp;</label><label class="time">第36集DVD大结局</label></a><p><a href="/mainland/zhengzhewudi/">正者无敌</a></p></li><li><a class="play-pic" href="/mainland/jianzaixianshang/"><img src="http://pic.mianbao.com/myupload/18am30PRC2011-11-18/4ec5bcf065293.jpg" alt="箭在弦上" /><label class="bg">&nbsp;</label><label class="time">第42集</label></a><p><a href="/mainland/jianzaixianshang/">箭在弦上</a></p></li><li><a class="play-pic" href="/mainland/suitangyanyi/"><img src="http://pic.mianbao.com/myupload/newpic/201301/15/50f49da7b02df.jpg" alt="隋唐演义" /><label class="bg">&nbsp;</label><label class="time">第62集VCD大结局</label></a><p><a href="/mainland/suitangyanyi/">隋唐演义</a></p></li><li><a class="play-pic" href="/mainland/xiaoaojianghuhuojianhuaban/"><img src="http://pic.mianbao.com/myupload/newpic/201301/29/5107135b365db.jpg" alt="笑傲江湖(霍建华版)" /><label class="bg">&nbsp;</label><label class="time">第56集完</label></a><p><a href="/mainland/xiaoaojianghuhuojianhuaban/">笑傲江湖(霍建…</a></p></li></ol><!-- // pic-list End --><ul class="txt-list"><li><span>01.</span><a href="/comedy/xiyoujiangmopian/"  title="西游降魔篇">西游降魔篇</a>/<a class="gray" href="/comedy/">喜剧片</a></li><li><span>02.</span><a href="/comedy/renzaituzhitai/"  title="人再囧途之泰囧">人再囧途之泰囧</a>/<a class="gray" href="/comedy/">喜剧片</a></li><li><span>03.</span><a href="/mainland/minbinggeerdan/"  title="民兵葛二蛋">民兵葛二蛋</a>/<a class="gray" href="/mainland/">大陆电视剧</a></li><li><span>04.</span><a href="/mainland/xiangcunaiqingbianzouqu/"  title="乡村爱情变奏曲">乡村爱情变奏曲</a>/<a class="gray" href="/mainland/">大陆电视剧</a></li><li><span>05.</span><a href="/mainland/suitangyingxiong/"  title="隋唐英雄">隋唐英雄</a>/<a class="gray" href="/mainland/">大陆电视剧</a></li><li><span>06.</span><a href="/action/shiershengxiaodianying/"  title="十二生肖(电影)">十二生肖(电影…</a>/<a class="gray" href="/action/">动作片</a></li><li><span>07.</span><a href="/occident/xingshizouroudisanji/"  title="行尸走肉第三季">行尸走肉第三季</a>/<a class="gray" href="/occident/">美国电视剧</a></li><li><span>08.</span><a href="/comedy/kuailedaojia/"  title="快乐到家">快乐到家</a>/<a class="gray" href="/comedy/">喜剧片</a></li><li><span>09.</span><a href="/cartoon/Naruto/"  title="火影忍者">火影忍者</a>/<a class="gray" href="/cartoon/">经典动漫</a></li><li><span>10.</span><a href="/action/tezhongbuduifuchou2/"  title="特种部队2复仇">特种部队2复仇</a>/<a class="gray" href="/action/">动作片</a></li><li><span>11.</span><a href="/mainland/malanvbing/"  title="麻辣女兵">麻辣女兵</a>/<a class="gray" href="/mainland/">大陆电视剧</a></li><li><span>12.</span><a href="/action/hudanlongwei5/"  title="虎胆龙威5">虎胆龙威5</a>/<a class="gray" href="/action/">动作片</a></li></ul><!-- // txt-list End --></div></div><!-- // page-error-txt End --></div><!-- // 404 Page End --></body></html>
/* background-image Style */