a:hover,.mnav a:hover,.index_title span a{text-decoration:none;color:#f60;}
a.color,.looked-list .his-todo a,.subnav2 a,.index_title h2,.index_title span a,.index_right_list span.score,.index_right_list em.stress,.footer_nav a:hover,a:hover,.channel-right h2,.channel-right ul span.score,.letter-b h2,.letter-b.lz h2,.letter-b.wj h2,.abc-tj ul li span.score,.abc-tj ul li em.stress,.letter-abc dl dt a,.letter-abc dl dt a:hover,.p_list .side_nav .curr a,.p_list .side_nav  a.curr,.list-mode  p.more-desc a:hover,.info-l .tools .curr,.info-l .tools a:hover,.detail-sect a:hover,.interest-sect .sect-show a,.interest-rss .rss-show a,.interest-rss a:hover,.vod-infos .info li p #commnum,.rating-kong-item,.rating-kong-item .nopingfen,.rating-box .rating-show em,.vod-related h3 a:hover,.wxts .snvd,.wxts a.playdown_btn,.ui-titlej strong,.comment-text span,.comment-text .user, .comment-text a,.comment-name,.comment-name a,.comment-review .comment-name a:hover,.comment-cnt a,.comment-do .date-time a,.p10idt-gold span,.datnew .new-title,.lasted-num,.top-item-box .top-title h3, .top-item-box .top-title h2 a,.top-item-box .top-title h2,.ui-top-tab li.current a, .ui-top-tab li.current a:hover,.top-list li a:hover .tit,.top-list .stress, .top-list-detail .stress,.top-list li .score,.top-list-detail .score,.fall-comment li p span, .fall-comment li p a,.ui-login-dialog .ui-label-checkbox,.ui-login-dialog .form-bar li a,.ui-gb-dialog .ui-dialog-tab li.current,.globalRightMenu .pAnchor strong:hover,.sitemap-list dt,.channel-right h2,.flash-info,.channel-right ul em.stress,.list-mode  .play-txt h3 a:hover,.list-mode  p a:hover,.vod-related h5 span,.letter ul li a{color:#f60;}
.wfgk a,.ui-button,.flash_info .info-cur span,.play_img:hover label.mask,.play_img label.score,.play_img span.tv,.spcial.all ul li a:hover span .bg,.nav-tm  li a:hover,.list_spcial ul li a:hover span .bg,.channel_img:hover label.mask,.channel_img label.score,.channel_img span.tv,.channel-limg:hover label.mask,.channel-limg label.score,.channel-limg span.tv,.p_vodlist .ui-title span a:hover,.p_vodlist .ui-title p em,.p_list .select_area ul  a.current,.p_list .select_area ul a:hover,.p_list .select_area a:hover.yymoerbtns,.view-mode .curr,.view-mode a:hover,.list_nav span .poster_btn.currt,.list_nav span a:hover.poster_btn,.list_nav span .list_btn.currt,.list_nav span a:hover.list_btn,.list-mode li a:hover.vod-img label.mask,.list-mode li .vod-img  label.score,.list-mode li .vod-img span.tv,.grid-mode  li a:hover.vod-img label.mask,.grid-mode  li .vod-img  label.score,.grid-mode  li .vod-img span.tv,.player_list a:hover,.vodplaybox a.cur:hover,.img-listt .play-img:hover label.mask,.img-listt .play-img label.score,.datnew .new-title h2,.pag_bar ul a:hover,.pag_bar ul a.curr,.specail-item a:hover.play-img .mask,#l_menu_item ul li a:hover,.top_r li .current,.extra .hd .current,.channel-nav .new  a:hover,.channel-nav .new .current,.view-modev li a:hover,.view-modev li a.current,.letter ul li a:hover,.ui-vpages a:hover,.ui-vpages span,.ui-vpages a.prev:hover,.ui-vpages a.next:hover,.ui-pages a,.channel-tv em,.letter-b.wj h2 a:hover,.letter-b.lz h2 a{background-color: #f60;}
.ui-signed li a:hover{background-color:#f60;}
.channel-silder-nav li.on,.specail-item a:hover.play-img{border-color:#f60;}
.list_nav,.datnew .new-title,.datnew .new-title h2,.letter-b.lz h2{border-bottom-color: #f60;}
.extra,.index_mcid,.footer_nav,.channel-nav,.channel-tv,.modev-list,.vod-info,.info-l .tools .curr{border-top-color: #f60;}
.letter ul li a,.ui-vpages a:hover,.ui-vpages span,.player_list a:hover,.vodplaybox a.cur:hover,.ui-pages a,.ui-gb-dialog .ui-dialog-tab li.current,.top_r li .current{border:1px solid #f60;}
.info-l .tools a:hover{border-top:3px solid #f60; }
.view-mode .curr,.view-mode a:hover{border-color: #f60;}
.detail-sect a:hover{background-position: 0px -56px;}
.interest-rss a:hover{background-position: -60px -56px;}
.interest-sect .sect-show a {background-position:0 -56px;}
.interest-sect .sect-show a:hover {background-position:0 -56px;}
.interest-rss .rss-show a {background-position:-60px -56px;}
.interest-rss .rss-show a:hover {background-position:-60px -56px;}
#zhuomian a{background-position: 0px -56px;}
#zhuomian a:hover{background-position: 0px -27px;}
.loveidbox a.sect-btn:hover{background-position:-152px -135px;}
.remind a.rss-btn:hover{background-position:-248px -136px;}
.updownbtnbox a.Up:hover{ background-position:0px -135px;}
.updownbtnbox a.Down:hover{background-position:-76px -135px;}
.remind .sect-show{background:url(../images/updownbtn.gif) no-repeat -248px -180px;}
.loveidbox .sect-show{background:url(../images/updownbtn.gif) no-repeat -152px -180px;}
.vodplaybox a span.new{background:url(../images/neww.gif) no-repeat 0px -29px;}
#back-to-top a {width:60px;height:49px;display:block;overflow:hidden;text-indent:-999px;background:url(../images/rightMenuMapBg_orange.png) -2px -491px; no-repeat #9f9f9f;}
.globalRightMenu a.aFeedback,.globalRightMenu a.aGoBackTop,.globalRightMenu a.aUserGuide { width:60px; background:url(../images/rightMenuMapBg_orange.png) 0 0 no-repeat; display:block; margin:0 auto}
.globalRightMenu a.aGoBackTop { height:50px; background-position:-2px -491px}
.globalRightMenu .pAnchor {background: url(../images/rightMenuMapBg_orange.png) 0 0px no-repeat;height: 200px;margin-top: 8px;width: 64px;padding-top: 1px;}
.globalRightMenu .pAnchor strong:hover { background:url(../images/rightMenuMapBg_orange.png) 0 -242px no-repeat; color:#B9282F; text-decoration:none}

.nav,.ui-nav li a.nav-title,.nav_link li a{background-image: url(../images/menu_b_orange.gif);}
.ui-nav li a.nav-title,.nav_link li a,.ui-nav .nav-link{border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color:#eb5f02;border-left-color: #f19558;}
.navv{background-image: url(../images/ui-icon-orange.gif);background-repeat: no-repeat;display: block;width:16px;height:16px;margin:11px 7px 0 0;*margin-right:3px;float:left;}
.ui-icon {background-image:url(../images/ui-icon-orange.gif);}
.header {height: 100px; }
.logo{float:left;display:block;position:relative;top:7px;padding-right: 50px;padding-bottom: 0;padding-left: 0;width:200px;height:72px;background:url(../images/logo.png) no-repeat 0px -60px;}
.pikake{float:left;display:block;position:relative;top:1px;padding-right: 50px;padding-bottom: 0;padding-left: 0;width:200px;height:72px;background:url(../images/logo.png) no-repeat 35px -60px;}	
.index_title.itv {border-top-width: 4px;border-top-style: solid;border-top-color:#f60;background-color:#FFF;}
.index_title .n_tv{background-color: #f60;}
.index_title.itv a:hover,.index_title.itv a.curr,.index_title.itv span a{color: #f60;}
.index_title.itv a:hover,.index_title.itv a.curr{border-bottom-color: #f60;}

.index_title.imov {border-left-width: 1px;border-left-style: solid;border-left-color: #C67322;border-top-width: 4px;border-top-style: solid;border-top-color: #B9282F;background-color: #FFF;}
.index_title .n_mov{background-color: #B9282F;}
.index_title.imov a:hover,.index_title.imov a.curr,.index_title.imov span a{color: #B9282F;}
.index_title.imov a:hover,.index_title.imov a.curr{border-bottom-color: #B9282F;}

.index_title.idongman {border-left-width: 1px;border-left-style: solid;border-left-color:#0EC0E0;border-top-width: 4px;border-top-style: solid;border-top-color: #21922F;background-color: #FFF;}
.index_title .n_dm{background-color: #21922F;}
.index_title.idongman a:hover,.index_title.idongman a.curr,.index_title.idongman span a{color: #21922F;}
.index_title.idongman a:hover,.index_title.idongman a.curr{border-bottom-color: #21922F;}

.index_title .n_zy{background-color: #0b68c8;}
.index_title.izongyi {border-top-width: 4px;border-top-style: solid;border-top-color: #0b68c8;background-color: #FFF;}
.index_title.izongyi a:hover,.index_title.izongyi a.curr,.index_title.izongyi span a{color: #0b68c8;}
.index_title.izongyi a:hover,.index_title.izongyi a.curr{border-bottom-color:#0b68c8;}










































































































.top_r li a:hover{color: #fff;text-decoration: none;background: url(../images/navbar-bg.gif) 0 0 repeat-x  #ff6600;border: 1px solid #ff6600;}	
/***/


.cycle a,.w210 dd p,.w200 dd p,.smallbox b,.pre a,.next a,.Enter .w200 dd p a,.MusicLs .w200 dd p a {
	background:url(../css/images/doc.png) no-repeat -1000px -1000px;
}
.pre a {
	width:27px;
	height:26px;
	display:block;
	background-position:-154px -10px;
}
.next a {
	width:27px;
	height:26px;
	display:block;
	background-position:-194px -10px;
}
.pre i,.next i {width:25px;height:22px;background:url(../css/images/tipb.gif) 0px -22px no-repeat;position:absolute;top:0px;left:28px;cursor:pointer}
.next i {width:25px;height:22px;background:url(../css/images/tipa.gif) 0px -22px no-repeat;position:absolute;top:0px;left:-25px;cursor:pointer}


.path a.i-menu:hover {
	background:url(../css/images/menus.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.ffcms.cn/ffcms/images/menus.png")
}
.path a.i-pc:hover {
	background:url(../css/images/pc2.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.ffcms.cn/ffcms/images/pc2.png");
}
.path a.i-tv:hover {
	background:url(../css/images/tv2.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.ffcms.cn/ffcms/images/tv2.png");
}
.path a.i-iphone:hover {
	background:url(../css/images/iphone2.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.ffcms.cn/ffcms/images/iphone2.png");
}	
.path a.i-ipad:hover {
	background:url(../css/images/ipad2.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://wwww.ffcms.cn/ffcms/images/ipad2.png")
}
/********************************************

.path a.i-menu:hover {width:66px;height:277px;background:url(../css/images/menub.png) 0px -71px no-repeat;position:absolute;top:166px;left:4px;cursor:pointer}

.path a.i-pc:hover {width:30px;height:128px;background:url(../css/images/pca.png) 0px -34px no-repeat;position:absolute;top:34px;left:4px;cursor:pointer}
.path a.i-tv:hover {width:30px;height:128px;background:url(../css/images/tva.png) 0px -34px no-repeat;position:absolute;top:34px;left:4px;cursor:pointer}
.path a.i-ipad:hover {width:30px;height:128px;background:url(../css/images/ipada.png) 0px -34px no-repeat;position:absolute;top:34px;left:4px;cursor:pointer}
.path a.i-iphone:hover {width:30px;height:128px;background:url(../css/images/iphonea.png) 0px -34px no-repeat;position:absolute;top:34px;left:4px;cursor:pointer}

**/

/**/
.channel-silder-play {display:block;width:110px;height:38px;overflow:hidden;background:url(../css/images/play2.png) 0 0px no-repeat;line-height: 39px;color: #FFF;text-align: center;margin-top: 5px;}