#aspku_box{ width:1000px; height:565px; overflow:hidden; margin:0 auto;}
#aspku_box dl dt{ height:0px; line-height:0px;margin-bottom:20px;}
#aspku_box dl dt h1{ font-size:32px; font-family:"微软雅黑","黑体"; color:#fff; font-weight:normal; float:left;}
#aspku_box dl dt div{ float:right; font-size:12px;}
#aspku_box dl dd ul{ width:1000px; height:565px; overflow:hidden;}
#aspku_box dl dd ul li{ width:240px; height:120px; overflow:hidden;float:left; margin:5px;_margin:4px; _display:inline; padding:1px; opacity:0.9;filter:alpha(opacity=90); position:relative;}
#aspku_box dl dd ul li span{ display:none;}
#aspku_box dl dd ul li span a{ color:#fff; font-family:"微软雅黑"; font-size:12px; text-decoration:none;}
#aspku_box dl dd ul li:hover span{ text-align:center; background:#000; height:20px; line-height:20px;opacity:0.1;filter:alpha(opacity=10); display:block; position:absolute; bottom:0; left:0; width:100%;}
#aspku_box dl dd ul li a img{  width:240px; height:120px; overflow:hidden; margin:0; padding:0; border:none;}
#aspku_box dl dd ul li:hover{opacity:1;filter:alpha(opacity=100); padding:0px; border:1px dashed #fcfcfc;}
#aspku_box dl dd ul li[class="one"]{ margin-left:0; }
#aspku_box dl dd ul li[class="four"]{ margin-right:0}
#logo_001{background:#edebef;}
#logo_002{background:#292929;}
#logo_003{background:#ffffff;}
#logo_004{background:#1c0c01;}
#logo_005{background:#6b22ac;}
#logo_006{background:#ffffff;}
#logo_007{background:#ffffff;}
#logo_008{background:#a3bd1b;}
#logo_009{background:#ffffff;}
#logo_010{background:#e1e0e0;}
#logo_011{background:#ffffff;}
#logo_012{background:#177cc4;}
#logo_013{background:#ffffff;}
#logo_014{background:#408300;}
#logo_015{background:#f8fbf4;}
#logo_016{background:#f8fbf4;}