<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>用户注册-{seacms:sitename}</title>
<meta name="keywords" content="用户注册-{seacms:sitename}" />
<meta name="description" content="用户注册-{seacms:sitename}" />	
{seacms:load inc.html}
<style type="text/css">
    .leaveNavInfo{display:none;}
    #register{padding:20px 0;padding:2rem 0;}
	table td {padding:10px 5px;padding:1rem .5rem;}
	table td span{padding:0 5px;padding:0 .5rem;}
	.yhmm,.text,.yzm,.btn{width:150px;width:15rem;height:30px;line-height:30px;height:3rem;line-height:3rem;padding:0 5px;padding:0 .5rem;}
	.text,.yzm{float:left;width:50px;width:5rem;}
	.yzm{height:34px;height:3.4rem;margin-left:10px;margin-left:1rem;}
	.btn{width:50px;width:5rem;cursor: pointer;}
</style>
</head>
<body>
{seacms:top}
<div class="wrap">
{register:main}
{register:viewRegister}
</div>
{seacms:foot}
</body>
</html>